<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/import :: info-header" />
  <th:block th:replace="fragments/import :: css-header" />
  <th:block th:replace="fragments/import :: js-header" />

  <!-- Auto Numeric -->
  <script th:src="@{/js/autoNumeric.min.js}"></script>
</head>

<body id="page-top">
  <th:block th:replace="fragments/general :: navbar-header" />

  <div id="wrapper">
    <th:block th:replace="fragments/general :: menu" />

    <div id="content-wrapper">
      <div class="container-fluid">
        <th:block th:replace="fragments/general :: panel-page" />

        <!-- CONTENT PAGE -->
        <div class="card mb-3">
          <div class="card-header">
            <b><span id="titlePage" th:text="${titlePage}"></span></b>
          </div>

          <!-- INQUIRY -->
          <div id="exchangeRateIndexPage" class="card-body">
            <div class="row card-body justify-content-end">
              <button id="btnCreate" class="btn btn-primary col-md-2" onclick="create()">
                <i class="fa fa-plus"></i> Create
              </button>
            </div>
            <br />
            <div class="row justify-content-end">
              <div class="input-group col-md-2 ">
                <input id="erFilterValue" name="filterValue" type="text" class="form-control" />
                <div class="input-group-append">
                  <button id="btn_erFilterValue" class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <br />

            <table id="tableExchangeRate" data-toggle="table" data-sortable="true" data-url=""
              data-side-pagination="server" data-pagination="true" data-page-size="5"
              data-page-list="[5, 10, 25, 50, ALL]">
              <thead>
                <tr>
                  <th data-field="exCurrId" data-sortable="true">Currency</th>
                  <th data-field="exYear" data-sortable="true">Year</th>
                  <th data-field="monthStr" data-sortable="true">Month</th>
                  <th data-field="exRateValueStr" data-halign="right" data-align="right">
                    Transaction
                  </th>
                  <th data-field="exRateEomStr" data-halign="right" data-align="right">
                    End of Month
                  </th>
                  <th data-field="exRateProStr" data-halign="right" data-align="right">
                    Production
                  </th>
                  <th data-field="exRateTaxStr" data-halign="right" data-align="right">
                    Tax
                  </th>
                </tr>
              </thead>
            </table>
          </div>

          <div id="exchangeRateCreateEdit" class="card-body" hidden="true">
            <div id="alertSuccess" class="alert alert-success" style="display: none;">
              <strong>Success!</strong>
              <span id="alertSuccessMsg" th:text="${M_0005}"></span>
            </div>
            <div id="alertFailed" class="alert alert-danger" style="display: none;">
              <strong>Failed! </strong> <span id="alertFailedMsg"></span>
            </div>

            <input type="hidden" id="h_isCreate" />

            <form id="formInputExchangeRate" class="form-horizontal">
              <!-- Button Back -->
              <div class="row justify-content-end">
                <div class="col-md-2">
                  <button class="btn btn-danger col-md-12" onclick="back()">
                    <i class="fa fa-chevron-left"></i> Back
                  </button>
                </div>
              </div>
              <br />

              <!-- Row 1 input -->
              <div class="row">
                <div class="col-md-2">
                  <label>*Currency</label> <br />
                  <select name="currency" id="erCurrency" class="form-control col-md-12">
                    <input type="hidden" id="h_erCurrency" />
                    <input type="hidden" id="h_idKey" />
                  </select>
                </div>
                <div class="col-md-2">
                  <label>*Month</label> <br />
                  <select name="month" id="erMonth" class="form-control col-md-12">
                    <option></option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <input type="hidden" id="h_erMonth" />
                </div>
                <div class="col-md-2">
                  <label>*Year</label> <br />
                  <input type="text" name="year" id="erYear" class="form-control col-md-12" />
                  <input type="hidden" id="h_erYear" />
                </div>
              </div>
              <br />

              <!-- Row 2 Input -->
              <div class="row">
                <div class="col-md-3">
                  <label>Transaction</label>
                  <br />
                  <input type="text" class="form-control" id="erTransaction" style="text-align: right;"
                    placeholder="0.00" required="true" />
                  <input type="hidden" id="h_erTransaction" />
                </div>
                <div class="col-md-3">
                  <label>End of Month</label>
                  <br />
                  <input type="text" class="form-control" id="erEom" style="text-align: right;" placeholder="0.00"
                    required="true" />
                  <input type="hidden" id="h_erEom" />
                </div>
                <div class="col-md-3">
                  <label>Production</label>
                  <br />
                  <input type="text" class="form-control" id="erProduction" style="text-align: right;"
                    placeholder="0.00" required="true" />
                  <input type="hidden" id="h_erProduction" />
                </div>
                <div class="col-md-3">
                  <label>Tax</label>
                  <br />
                  <input type="text" class="form-control" id="erTax" style="text-align: right;" placeholder="0.00"
                    required="true" />
                  <input type="hidden" id="h_erTax" />
                </div>
              </div>
              <br />
            </form>
            <th:block th:replace="fragments/button :: btn-save-cancel" />
          </div>
        </div>
        <!-- TAX RATE -->

        <div class="card mb-3" id="taxRateGroup" hidden="true">
          <div class="card-header">
            <b>TAX RATE (KMK)</b>
          </div>

          <div id="kmkIndexPage" class="card-body">
            <div id="alertSuccesskmk" class="alert alert-success" style="display: none;">
              <strong>Success!</strong>
              <span id="alertSuccessMsg" th:text="${M_0005}"></span>
            </div>
            <div id="alertFailedkmk" class="alert alert-danger" style="display: none;">
              <strong>Failed! Data Already Exist</strong> <span id="alertFailedMsgkmk"></span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="row card-body">
                  <div class="col-6"></div>
                  <div class="col-6">
                    <div class="row justify-content-end">
                      <div class="input-group col-10 ">
                        <input id="txtFilterValue" name="filterValue" type="text" class="form-control" />
                        <div class="input-group-append">
                          <button id="btn_txtFilter" class="btn btn-primary" type="button" onclick="inquiryKMK()">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row card-body">
                  <div class="col-12">
                    <table id="tableKMK" data-toggle="table" data-sortable="true" data-url=""
                      data-side-pagination="server" data-pagination="true" data-page-size="5"
                      data-page-list="[5, 10, 25, 50, ALL]">
                      <thead>
                        <tr>
                          <th data-field="dateOnly" data-sortable="true">
                            Date
                          </th>
                          <th data-field="exCurrId" data-sortable="true">
                            Curr
                          </th>
                          <th data-field="exKmkRateStr" data-halign="right" data-align="right">
                            Tax Exchange
                          </th>
                          <th data-field="action">
                            Action
                          </th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-6 card-body">
                <div class="row card-body">
                  <div class="col-md-2">
                    <label>Currency</label>
                  </div>
                  <div class="col-md-4">
                    <select id="currKmk" class="select2 form-control" style="width:100%">
                      
                    </select>
                  </div>
                </div>
                <div class="row card-body">
                  <div class="col-md-2">
                    <label>Period</label>
                  </div>
                  <div class="col-4">
                    <div class="input-group">
                      <input id="fromDate" name="fromDate" type="text" class="form-control" />
                      <div class="input-group-append">
                        <button id="btnFromDate" class="btn btn-primary" type="button">
                          <i class="fas fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-1" style="text-align: center;">
                    to
                  </div>
                  <div class="col-4">
                    <div class="input-group">
                      <input id="toDate" name="toDate" type="text" class="form-control" />
                      <div class="input-group-append">
                        <button id="btnToDate" class="btn btn-primary" type="button">
                          <i class="fas fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row card-body">
                  <div class="col-md-2">
                    <label>Exchange</label>
                  </div>
                  <div class="col-4">
                    <input type="text" name="exKmkRate" style="text-align: right;" placeholder="0.00" id="exKmkRate"
                      class="form-control" />
                  </div>
                </div>
                <div class="row card-body">
                  <div class="col-3"></div>
                  <div class="col-3">
                    <button id="btnsaveKMK" class="btn btn-success col-8">
                      Save
                    </button>
                  </div>
                  <div class="col-3">
                    <button id="btncancelKMK" class="btn btn-danger col-8" onclick="cancelKMK()">
                      Cancel
                    </button>
                  </div>
                  <div class="col-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of tax -->
      </div>
      <!-- /.container-fluid -->
      <th:block th:replace="fragments/general :: copyright-footer"></th:block>
    </div>
    <!-- /.content-wrapper -->
  </div>

  <div class="modal fade" id="modalConfirmationKmk" tabindex="-1" role="dialog" aria-labelledby="modalLabelConfirmation" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabelConfirmation">Confirmation</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="modalConfirmationKmkMsg" th:text="${M_0001}"></div>
        <div class="modal-footer">
          <button id="btnModalYesKmk" class="btn btn-success" type="button">Yes</button>
          <button id="btnModalNoKmk" class="btn btn-dark" type="button" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="modalLabelConfirmation" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabelConfirmation">Confirmation</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="modalConfirmationMsg" th:text="${M_0002}"></div>
        <div class="modal-footer">
          <button id="btnModalYesDelete" class="btn btn-success" type="button">Yes</button>
          <button id="btnModalNoDelete" class="btn btn-dark" type="button" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /#wrapper -->
  <th:block th:replace="fragments/modal :: confirmation-save" />
  <th:block th:replace="fragments/general :: scroll-to-top" />
  <th:block th:replace="fragments/general :: logout-modal" />
  <th:block th:replace="fragments/import :: js-body" />
</body>

<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var deleteId = null;
  $('#btnFromDate').click(function () {
    $('#fromDate').datepicker('show');
  });
  $('#btnToDate').click(function () {
    $('#toDate').datepicker('show');
  });
  $(function () {


    rest('GET', '/gui-re-broker/static-data/exchangeRate/dropdown-curr')
		.done(function(data) {
			if(data.length == 0){
				data.push({id:/*[[${currKmk}]]*/, text:/*[[${currKmk}]]*/});
			}
			$('#currKmk').select2({
				width : '100%',
				data : data
			});
		});

    $('#fromDate').datepicker({
      dateFormat: 'dd-mm-yy'
    }).datepicker('setDate');

    $('#toDate').datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: $('#fromDate').val()
    }).datepicker('setDate', $('#fromDate').val());


    new AutoNumeric('#erTransaction', {
      decimalCharacter: '.',
      digitGroupSeparator: ',',
      maximumValue: '999999999'
    });

    new AutoNumeric('#exKmkRate', {
      decimalCharacter: '.',
      digitGroupSeparator: ',',
      maximumValue: '999999999'
    });

    new AutoNumeric('#erEom', {
      decimalCharacter: '.',
      digitGroupSeparator: ',',
      maximumValue: '999999999'
    });

    new AutoNumeric('#erProduction', {
      decimalCharacter: '.',
      digitGroupSeparator: ',',
      maximumValue: '999999999'
    });

    new AutoNumeric('#erTax', {
      decimalCharacter: '.',
      digitGroupSeparator: ',',
      maximumValue: '999999999'
    });

  });

  $('document').ready(function () {
    /**
     * Drop down Currency
     */
    $.ajax({
      url: "/gui-re-broker/static-data/exchangeRate/dropdownCurr"
    }).then(function (data) {

      $('#erCurrency').select2({
        width: '100%',
        data: (JSON.parse(data)).results
      });
    });

    /**
     * Button Save on GUI action
     */
    $('#btnSave').click(function () {
      if (validationRequired()) {
        $('#modalConfirmation').modal('show');
      } else {
        showAlertFailed( /*[[${M_0008}]]*/);
      }
    });

    $('#btnsaveKMK').click(function () {
      if (validationkmkRequired()) {
        $('#modalConfirmationKmk').modal('show');
      } else {
        showAlertFailed( /*[[${M_0008}]]*/);
      }
    });

    /**
     * Button Cancel on GUI action
     */
    $('#btnCancel').click(function () {
      reset();
    });

    /**
     * Modal Confirmation - YES
     */
    $('#btnModalYes').click(function () {
      $('#btnSave').attr('disabled', true);
      save();
    });

    $('#btnModalYesKmk').click(function () {
      $('#btnsaveKMK').attr('disabled', true);
      saveKMK();
    });

    $('#btnModalYesDelete').click(function () {
      removekmk(deleteId);
    });

    /**
     * Button Search
     */
    $('#btn_erFilterValue').click(function () {
      inquiry();
    });

    inquiry();

  });

  function create() {
    $('#titlePage').text( /*[[${titlePageCreate}]]*/);
    $('#taxRateGroup').removeAttr('hidden');
    $('#exchangeRateCreateEdit').removeAttr('hidden');
    $('#exchangeRateIndexPage').attr('hidden', true);
    AutoNumeric.getAutoNumericElement('#exKmkRate').set('');
    AutoNumeric.getAutoNumericElement('#erTransaction').set('');
    AutoNumeric.getAutoNumericElement('#erEom').set('');
    AutoNumeric.getAutoNumericElement('#erProduction').set('');
    AutoNumeric.getAutoNumericElement('#erTax').set('');
    inquiryKMK();

  }

  function inquiry() {
    var url = /*[[@{/static-data/exchangeRate/inquiry}]]*/ ;
    url = url + '?filterValue=' + $('#erFilterValue').val();
    /**
     * Inquiry Table
     */
     
    $('#tableExchangeRate').bootstrapTable('refreshOptions', {
      theadClasses: 'thead-dark',
      url: url
    });
  }

  function inquiryKMK() {
    var url = /*[[@{/static-data/exchangeRate/inquirykmk}]]*/;
    url = url + '?filterValue='+$('#txtFilterValue').val();
    /**
     * Inquiry Table
     */
    $('#tableKMK').bootstrapTable('refreshOptions', {
      theadClasses: 'thead-dark',
      url: url
    });
  }

  function saveKMK() {
    $('#btnModalyes').attr('disabled', true);
    var p_exCurrId = $('#currKmk').val();
    var p_exKmkRate = AutoNumeric.getAutoNumericElement('#exKmkRate').get();
    var p_fromDate = $('#fromDate').val();
    var p_toDate = $('#toDate').val();
    var p_idKey = $('#h_idKey').val();
    var data = {
      exCurrId: p_exCurrId,
      exKmkRate: p_exKmkRate,
      fromDate: p_fromDate,
      toDate: p_toDate,
      exIdKey: p_idKey
    }

    $.ajax({
      type: "POST",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify(data),
      url: /*[[@{/static-data/exchangeRate/savekmk}]]*/ ,
      success: function (data) {
        if (data)
          showAlertSuccessKMK();
        else
          showAlertFailed( /*[[${M_0006}]]*/);
      },
      complete: function (jqXHR, textStatus) {
        if (textStatus != "success")
          showAlertFailedKMK( /*[[${M_0006}]]*/);
      }
    });

    $('#btnModalyes').removeAttr('disabled');
    $('#modalConfirmationKmk').modal('hide');
  }

  function deleteTaxRate(id) {
    
    $('#modalConfirmationDelete').modal('show');
    deleteId=id;
  }

  function removekmk(id){
    
    var url = /*[[@{/static-data/exchangeRate/removekmk}]]*/ ;
    var idKey = id;

    var data = {
      idKey: idKey
    };

    $.ajax({
      type: "POST",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify(data),
      url: /*[[@{/static-data/exchangeRate/removekmk}]]*/ ,
      success: function (data) {
        if (data)
          showAlertSuccessKMK();
        else
          showAlertFailedKMK( /*[[${M_0006}]]*/);
      },
      complete: function (jqXHR, textStatus) {
        if (textStatus != "success")
          showAlertFailedKMK( /*[[${M_0006}]]*/);
      }
    });
    deleteId=null;
    $('#modalConfirmationDelete').modal('hide');
  }

  function back() {
    $('#titlePage').text( /*[[${titlePage}]]*/);
    $('#exchangeRateCreateEdit').attr('hidden', true);
    $('#taxRateGroup').attr('hidden', true);
    $('#exchangeRateIndexPage').removeAttr('hidden');
  }

  function reset() {
    $('#erCurrency').select2().val($('#h_erCurrency').val()).trigger('change');
    $('#erMonth').select2().val($('#h_erMonth').val()).trigger('change');
    $('#erYear').val($('#h_erYear').val());
    AutoNumeric.getAutoNumericElement('#erTransaction').set($('#h_erTransaction').val());
    AutoNumeric.getAutoNumericElement('#erEom').set($('#h_erEom').val());
    AutoNumeric.getAutoNumericElement('#erProduction').set($('#h_erProduction').val());
    AutoNumeric.getAutoNumericElement('#erTax').set($('#h_erTax').val());
  }

  /* function erFilteredSearch(){
    //var url = "/gui-re-broker/static-data/exchangeRate/inquiry";
    var filterValue = $( "#erFilterValue" ).val();
    var allUrl = url

    if(filterValue != ""){
      //var allUrl = url+"?filterKey="+filterKey+"&filterValue="+filterValue;
    }

    $('#tableExchangeRate').bootstrapTable('refreshOptions', {
        theadClasses: 'thead-dark',
        //url: allUrl
    });
  } */

  function validationRequired() {
    if ($('#erCurrency').val() == "" ||
      $('#erMonth').val() == "" ||
      $('#erYear').val() == "" ||
      AutoNumeric.getAutoNumericElement('#erTransaction').get() == "" ||
      AutoNumeric.getAutoNumericElement('#erEom').get() == "" ||
      AutoNumeric.getAutoNumericElement('#erProduction').get() == "" ||
      AutoNumeric.getAutoNumericElement('#erTax').get() == "") {
      return false;
    }
    return true;
  }

  function validationkmkRequired() {
    if ($('#fromDate').val() == "" ||
      $('#toDate').val() == "" ||
      $('#exKmkRate').val() == "") {
      return false;
    }
    return true;
  }
  function save() {

    $('#btnModalyes').attr('disabled', true);
    var p_erCurrency = $('#erCurrency').val();
    var p_erMonth = $('#erMonth').val();
    var p_erYear = $('#erYear').val();
    var p_erTransaction = AutoNumeric.getAutoNumericElement('#erTransaction').get();
    var p_erEom = AutoNumeric.getAutoNumericElement('#erEom').get();
    var p_erProduction = AutoNumeric.getAutoNumericElement('#erProduction').get();
    var p_erTax = AutoNumeric.getAutoNumericElement('#erTax').get();
    var p_idKey = $('#h_idKey').val();

    var data = {
      exCurrId: p_erCurrency,
      exMonth: p_erMonth,
      exYear: p_erYear,
      exRateValue: p_erTransaction,
      exRateEom: p_erEom,
      exRatePro: p_erProduction,
      exRateTax: p_erTax,
      exIdKey: p_idKey
    }

    $.ajax({
      type: "POST",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify(data),
      url: /*[[@{/static-data/exchangeRate/save}]]*/ ,
      success: function (data) {
        if (data)
          showAlertSuccess();
        else
          showAlertFailed( /*[[${M_0006}]]*/);
      },
      complete: function (jqXHR, textStatus) {
        if (textStatus != "success")
          showAlertFailed( /*[[${M_0006}]]*/);
      }

    });

    $('#btnModalyes').removeAttr('disabled');
    $('#modalConfirmation').modal('hide');
  }

  //Data table event on click-row
  $('#tableExchangeRate').on('click-row.bs.table', function (e, row, $tr) {
    createEdit( /*[[${titlePageEdit}]]*/);
    $('#erCurrency').select2().val(row.exCurrId).trigger('change');
    $('#erMonth').select2().val(row.exMonth).trigger('change');
    $('#erYear').val(row.exYear);
    AutoNumeric.getAutoNumericElement('#erTransaction').set(row.exRateValueStr);
    AutoNumeric.getAutoNumericElement('#erEom').set(row.exRateEomStr);
    AutoNumeric.getAutoNumericElement('#erProduction').set(row.exRateProStr);
    AutoNumeric.getAutoNumericElement('#erTax').set(row.exRateTaxStr);

    $('#h_erCurrency').val(row.exCurrId);
    $('#h_erMonth').val(row.exMonth);
    $('#h_erYear').val(row.exYear);
    $('#h_erTransaction').val(row.exRateValueStr);
    $('#h_erEom').val(row.exRateEomStr);
    $('#h_erProduction').val(row.exRateProStr);
    $('#h_erTax').val(row.exRateTaxStr);
    $('#h_idKey').val(row.idKey);
  });
  
  function showAlertSuccess() {
    $('#alertSuccess').fadeTo(2000, 500).slideUp(500, function () {
      $('#alertSuccess').slideUp(500);
      location.reload();
    });
  }

  function showAlertSuccessKMK() {
    $('#alertSuccesskmk').fadeTo(2000, 500).slideUp(500, function () {
      $('#alertSuccesskmk').slideUp(500);
      location.reload();
    });
  }

  function showAlertFailed(msgAlert) {
    $('#alertFailedMsg').text(msgAlert);
    $('#alertFailed').fadeTo(3000, 500).slideUp(500, function () {
      $('#alertFailed').slideUp(500);
      $('#btnSave').removeAttr('disabled');
    });
  }

  function showAlertFailedKMK(msgAlert) {
    $('#alertFailedMsg').text(msgAlert);
    $('#alertFailedkmk').fadeTo(3000, 500).slideUp(500, function () {
      $('#alertFailedkmk').slideUp(500);
      $('#btnsaveKMK').removeAttr('disabled');
    });
  }

  function createEdit(title) {
    $('#titlePage').text(title);
    $('#exchangeRateCreateEdit').removeAttr('hidden');
    $('#taxRateGroup').removeAttr('hidden');
    $('#exchangeRateIndexPage').attr('hidden', true);
  }

  /*]]>*/
</script>

</html>