<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
<th:block th:replace="fragments/import :: info-header" />
<th:block th:replace="fragments/import :: css-header" />
<th:block th:replace="fragments/import :: js-header" />
</head>



<body id="page-top">
	<th:block th:replace="fragments/general :: navbar-header" />

	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />

		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />


				<!-- CONTENT PAGE -->
				<div id="cart" class="card mb-3">
					<div id="divContentHeader" class="card-header">
						 <b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div class="card-body">	
						<div id="paIndex">
							<br>
							<div class="row justify-content-end">
								<div class="col-md-2">
									<select id="paFilterKey" name="paFilterKey"
										class="form-control">
										<option value="paParentCode">Code</option>
										<option value="paParentDesc">Description</option>
									</select>
								</div>

								<div class="input-group col-md-2">
									<input id="paFilterValue" name="paFilterValue" type="text"
										class="form-control">
									<div class="input-group-append">
										<button class="btn btn-primary" type="button"
											onclick="paFilteredSearch()">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>

							</div>

							</br>
							<table id="tablePa" 
								data-unique-id="idKey"
								data-toolbar-align="right"
								data-toggle="table" 
								data-sortable="true" 
								data-url=""
								data-side-pagination="server" 
								data-pagination="true"
								data-page-size="5" 
								data-page-list="[5, 10, 25, 50, ALL]">
								<thead>
									<tr>
										<th data-field="idKey">Id</th>
										<th data-field="paParentCode" data-sortable="true">Code</th>
										<th data-field="paParentDesc" data-sortable="true">Description</th>
										<th data-field="paParentStatus">Status</th>
										<th data-field="action" data-halign="center" data-align="center">Action</th>
									</tr>
								</thead>
							</table>
						</div>


						<div id="paCreateForm" hidden>
							<div id="alertSuccess" class="alert alert-success"
								style="display: none;">
								<strong>Success!</strong> <span id="alertSuccessMsg"
									th:text="${M_0005}"></span>
							</div>
							<div id="alertFailed" class="alert alert-danger"
								style="display: none;">
								<strong>Failed!</strong> <span id="alertFailedMsg"></span>
							</div>
							<div class="row justify-content-end">
								<div class="col-md-2">
									<button class="btn btn-danger col-md-12" onclick="back()">
										<i class="fa fa-chevron-left"></i> Back
									</button>
								</div>
							</div>
							</br>

							<div class="row">
								<div class="col-md-2">
									<label>Code*</label> </br> <input type="text"
										name="paParentCode" id="paParentCode" class="form-control col-md-12"
										required="true" disabled/>
								</div>
								<div class="col-md-4">
									<label>Description*</label> </br> <input type="text"
										name="paParentDesc" id="paParentDesc"
										class="form-control col-md-12" required="true" disabled/>
								</div>

								<div class="col-md-2">
									<label>Status*</label> </br> <select name="paParentStatus"
										id="paParentStatus" class="form-control col-md-12"
										required="true">
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
									</select>
								</div>
							</div>
							</br>	
							<div id="cart" class="card mb-3">
								<div class="card-body">
									<div class="row justify-content-end">
										<div class="col-md-2">
											<button id="generate" class="btn btn-primary col-md-12"
												onclick="generate()">
												<i class="fa fa-plus"></i> Generate
											</button>
										</div>
									</div>
									<br>
									<table
										id="tableParameterChildAdd"
										data-unique-id="idKey"
										data-toolbar-align="right"
										data-toggle="table" 
										data-sortable="true" 
										data-url=""
										data-side-pagination="server" 
										data-pagination="true"
										data-page-size="5" 
										data-page-list="[5, 10, 25, 50, ALL]">
										  <thead>
										    <tr>
											  <th data-field="idKey">Id</th>
										      <th data-field="paChildCode" name="paChildCode" data-sortable="true">Child Code</th>
										      <th data-field="paChildDesc" name="paChildDesc" data-sortable="true">Description</th>
										      <th data-field="paChildValue" name="paChildValue" >Child Value</th>
										      <th data-field="childStatusActive" name="childStatusActive">Status</th>
											  <th data-field="action" data-halign="center" data-align="center">Action</th>
										    </tr>
										  </thead>
									</table>
								</div>
								<div id="editChild" hidden>
									<div class="row mx-auto">
										<div class="col-md-4" hidden>
											<label>IdKey*</label> </br> <input type="text"
												name="childIdKey" id="childIdKey" class="form-control col-md-12"
												required="true" disabled/>
										</div>
										<div class="col-md-4">
											<label>Child Code*</label> </br> <input type="text"
												name="paChildCode" id="paChildCodeInput" class="form-control col-md-12"
												required="true" disabled/>
										</div>
										<div class="col-md-8">
											<label>Description*</label> </br> <input type="text"
												name="paChildDesc" id="paChildDescInput"
												class="form-control col-md-12" required="true" />
										</div>
										
										
									</div>
									<br>
									<div class="row mx-auto">
										<div class="col-md-10">
											<label>Child Value*</label> </br> <input type="text"
												name="paChildValue" id="paChildValueInput"
												class="form-control col-md-12" required="true" />
										</div>
										<div class="col-md-2">
											<label>Status*</label> </br> <select name="paChildStatus"
												id="paChildStatusInput" class="form-control col-md-12"
												required="true">
												<option value="11">Active</option>
												<option value="12">Inactive</option>
											</select>
										</div>
									</div>
									<br>
									<th:block th:replace="fragments/button :: btn-save-cancel" />
								</div>
								<br>
								<br>
							</div>

							</br> </br>
							
						</div>
					</div>

				</div>

				<div class="modal fade" id="roleUpModal" tabindex="-1" role="dialog"
					aria-labelledby="roleUpModal" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="roleUpModalLabel">Role Up</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<div class="row card-body justify-content-end">
									<div class="col-md-3">
										<select id="roleUpSelector" name="roleUpSelector"
											class="custom-select">
											<option value="paParentCode">Code</option>
											<option value="paParentDesc">Name</option>
										</select>
									</div>
									
								</div>
								<br>
								<table id="tableRoleUp" data-toggle="table" data-url=""
									data-height="400" data-sortable="true"
									data-side-pagination="server" data-pagination="true"
									data-page-size="5" data-page-list="[5, 10, 25, 50, ALL]">
									<thead>
										<tr>
											<th data-field="paParentCode" data-sortable="true">Code</th>
											<th data-field="paParentDesc" data-sortable="true">Name</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- end of container -->


		</div>
		<!-- /.container-fluid -->
		<th:block th:replace="fragments/general :: copyright-footer"></th:block>
	</div>
	<!-- /.content-wrapper -->

	<!-- /#wrapper -->
	<th:block th:replace="fragments/modal :: confirmation-save" />
	<th:block th:replace="fragments/general :: scroll-to-top" />
	<th:block th:replace="fragments/general :: logout-modal" />
	<th:block th:replace="fragments/import :: js-body" />

</body>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

var dataField = {
		modify:false,
		paParentCode:paParentCode,
		paParentDesc:paParentDesc,
		paParentStatus:paParentStatus,
}

$('document').ready(function(){
	$('#paFilterKey').select2({ width: '100%' });
	$('#paParentStatus').select2({ width: '100%'});
	$('#roleUpSelector').select2({ width: '100%'});
	$('#tablePa').bootstrapTable('refreshOptions', {
	    theadClasses: 'thead-dark',
	    url: /*[[@{/static-data/parameter/inquiry}]]*/
	});
	$('#tablePa').bootstrapTable('hideColumn', 'idKey');
	$('#tableParameterChildAdd').bootstrapTable('hideColumn', 'idKey');
	$('#btnSave').click(function() {
		$('#btnSave').attr('disabled', true);
		$('#modalConfirmation').modal('show');
	});
	$('#btnModalYes').click(function() {
		save();
	});
	$('#btnCancel').click(function() {
		reset();
	});
	
	$('#btnRoleUp').click(function() {
		$('#roleUpSelector').val('');
		$('#roleUpSelector').trigger('change');
		$('#roleUpFilterValue').val('');
		$('#tableRoleUp').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: /*[[@{/static-data/parameter/roleUp}]]*/
		});
	});
	
	
});

function generate() {
	var paParentCode = $('#paParentCode').val();
	var url = /*[[@{/static-data/parameter/inquiryChild}]]*/;
	url = url + '?paParentCode=' + paParentCode +'&order=asc&offset=0&limit=50';
	var temp = null;
	var lastPaChildCode =null;
	$.ajax({ 
		async : false,
       	type: "GET",
       	dataType: "json",
       	url: url,
    }).then(function(resultObject) {
		if (resultObject.total!=0){
			var lastPaChildCode = resultObject.rows[resultObject.total-1].paChildCode;	
			var table = $('#tableParameterChildAdd tr');
			var len = table.length;
			// var lastPaChildCode = table.eq(len-1)[0].childNodes[0].textContent;
		
			var lastNum = lastPaChildCode.substring(lastPaChildCode.length-3, lastPaChildCode.length);
			// console.log(lastNum);
			var newNum = parseInt(lastNum)+1;
			var newNumStr = newNum;
			// console.log(newNum);
			if(newNum>9 && newNum<100){
				newNumStr="0" +newNum.toString();
			}else if (newNum<10){
				newNumStr="00"+newNum.toString();
			}
			var newPaChildCode = lastPaChildCode.substring(0, lastPaChildCode.length-3) + newNumStr;
			// console.log(newPaChildCode);
		}else{
			var newPaChildCode = paParentCode+"001";
		}
    	
		$('#paChildCodeInput').val(newPaChildCode);
		$('#paChildDescInput').val("");
		$('#paChildValueInput').val("");
		$('#paChildStatusInput').val("11");
		$('#editChild').removeAttr('hidden');
    });
	
	
	
	// var id = $('#id').val();
	// var paChildCode = $('#paChildCodeInput').val();
	// var paChildDesc = $('#paChildDescInput').val();
	// var paChildValue = $('#paChildValueInput').val();
	// var paChildStatus = $('#paChildStatusInput option:selected').text();
	
	
	// var rows = $('#tableParameterChildAdd').bootstrapTable('getData');
	// var action = "<button class=\"btn btn-secondary\" onclick=\"edit('"+id+"')\">" 
	// + "<i class=\"fa fa-edit\"></i>" 
	// + "</button>";
	
	// rows.push({
	// 	id:id,
	// 	paChildCode:paChildCode,
	// 	paChildDesc:paChildDesc,
	// 	childStatusActive: paChildStatus,
	// 	paChildValue: paChildValue,
	// 	action: action
    // });
	
	// $('#btnAdd').attr('disabled', 'true');
	// $('#tableParameterChildAdd').bootstrapTable('load', rows);
	
	// $('#paChildCodeInput').val("");
	// $('#paChildDescInput').val("");
	// $('#childStatusActiveInput').val($('#paChildStatus option:first-child').val()).trigger('change');
	// $('#paChildValueInput').val("");
}

function editPa(e){
	row = $('#tablePa').bootstrapTable('getRowByUniqueId', e);
	dataField.modify = true;
	dataField.paParentCode=row.paParentCode;
	dataField.paParentDesc=row.paParentDesc;
	dataField.paParentStatus=row.paParentStatus;
	$('#paParentCode').prop('disabled', true);

	var paParentCode = row.paParentCode;
	inquiryChild(paParentCode);
	create();
	reset();
}

function editChildPa(e){
	
	row = $('#tableParameterChildAdd').bootstrapTable('getRowByUniqueId', e);

	$('#editChild').removeAttr('hidden');
	console.log(row);
	console.log(row.idKey);
	dataField.childIdKey = row.idKey;
	dataField.modify = true;
	dataField.paChildCode=row.paChildCode;
	dataField.paChildDesc=row.paChildDesc;
	dataField.paChildValue=row.paChildValue;
	dataField.paChildStatus=row.paChildStatus;
	$('#paChildCodeInput').val(dataField.paChildCode);
	$('#paChildDescInput').val(dataField.paChildDesc);
	$('#paChildValueInput').val(dataField.paChildValue);
	$('#paChildStatusInput').val(dataField.paChildStatus);
	$('#childIdKey').val(dataField.childIdKey);
	
	$('#paParentCode').prop('disabled', true);

	var paChildCode = row.paChildCode;
	(paChildCode);
	create();
	reset();
}
function create(){
	$('#titlePage').text(/*[[${titlePageCreate}]]*/);
	$('#paCreateForm').removeAttr('hidden');
	$('#paIndex').attr('hidden', true);
}

function inquiryChild(paParentCode) {
	var url = /*[[@{/static-data/parameter/inquiryChild}]]*/;
	url = url + '?paParentCode=' + paParentCode;
	
	$('#tableParameterChildAdd').bootstrapTable('refreshOptions', {
	    theadClasses: 'thead-dark',
	    url: url
	});
}

function back(){
	$('#titlePage').text(/*[[${titlePage}]]*/);
	dataField.modify=false;
	$('#paParentCode').removeAttr('disabled');
	reset();
	$('#paFilterKey').val(''); // Select the option with a value of '1'
	$('#paFilterKey').trigger('change')
	$('#paFilterValue').val("");
	$('#tablePa').bootstrapTable('refreshOptions', {
	    theadClasses: 'thead-dark',
	    url: /*[[@{/static-data/parameter/inquiry}]]*/
	});
	$('#tablePa').bootstrapTable('hideColumn', 'paParentStatus');
	$('#paCreateForm').attr('hidden', true);
	$('#editChild').attr('hidden', true);
	$('#paIndex').removeAttr("hidden");
}

function paFilteredSearch(){
	var url = "/gui-re-broker/static-data/parameter/inquiry";
	var filterKey = $( "#paFilterKey" ).select2('val');
	var filterValue = $( "#paFilterValue" ).val();
	var allUrl = url
	
	if(filterValue != ""){
		var allUrl = url+"?filterKey="+filterKey+"&filterValue="+filterValue;
	}
	
	$('#tablePa').bootstrapTable('refreshOptions', {
	    theadClasses: 'thead-dark',
	    url: allUrl
	});
}



$('#tablePa').on('click-row.bs.table',function(e, row, $tr) {
	// dataField.modify = true;
	// dataField.paParentCode=row.paParentCode;
	// dataField.paParentDesc=row.paParentDesc;
	// dataField.paParentStatus=row.paParentStatus;
	// $('#paParentCode').prop('disabled', true);

	// var paParentCode = row.paParentCode;
	// inquiryChild(paParentCode);
	// create();
	// reset();
});

$('#tableParameterChildAdd').on('click-row.bs.table',function(e, row, $tr) {
	// dataField.modify = true;
	// dataField.paChildCode=row.paChildCode;
	// dataField.paChildDesc=row.paChildDesc;
	// dataField.paChildValue=row.paChildValue;
	// dataField.paChildStatus=row.paChildStatus;
	// $('#paChildCodeInput').val(dataField.paChildCode);
	// $('#paChildDescInput').val(dataField.paChildDesc);
	// $('#paChildValueInput').val(dataField.paChildValue);
	// $('#paChildStatusInput').val(dataField.paChildStatus);
	
	// $('#paParentCode').prop('disabled', true);

	// var paChildCode = row.paChildCode;
	// (paChildCode);
	// create();
	// reset();
});


function reset(){
	if(!dataField.modify){
		$('#paParentCode').val("");
		$('#paParentDesc').val("");
		
		$('#paParentStatus').val("");
		$('#paParentStatus').trigger('change')
	}else{
		$('#paParentCode').val(dataField.paParentCode);
		$('#paParentDesc').val(dataField.paParentDesc);
		$('#paParentStatus').val(dataField.paParentStatus);
		$('#paParentStatus').trigger('change')

	}
}

function validationRequired() {
	if($('#paChildCodeInput').val() == "" ||
		$('#paChildDescInput').val() == "" ||
		$('#paChildValueInput').val() == "" ||
		$('#paChildStatusInput').val() == ""){
			return false;
		}
	return true;
}

function save(){
	
	if(validationRequired()){
		$('#btnModalyes').attr('disabled', true);
		var idKey = $('#childIdKey').val();
		var paParentCode = $('#paParentCode').val();
		var paChildCode = $('#paChildCodeInput').val();
		var paChildDesc = $('#paChildDescInput').val();
		var paChildStatus = $('#paChildStatusInput').val();
		var paChildValue = $('#paChildValueInput').val();
		console.log(idKey);
		var data ={
			idKey:idKey,
			paParentCode:paParentCode,
			paChildCode:paChildCode,
			paChildDesc:paChildDesc,
			paChildStatus:paChildStatus,
			paChildValue:paChildValue
		}
		
		$.ajax({ 
	        type: "POST",
	        dataType: "json",
	        contentType: "application/json",
	        data:JSON.stringify(data),
	        url: "/gui-re-broker/static-data/parameter/save",
	        complete:function(jqXHR, textStatus){
				
	 			if(textStatus == "success") {
	 				showAlertSuccess();
	 				
	 			}else {
	 				showAlertFailed(/*[[${M_0006}]]*/);
	 			} 
	        }
	       
	    });	
	}else{
		showAlertFailed(/*[[${M_0008}]]*/);
	}
	
}
	
function showAlertSuccess() {
	$('#btnModalyes').removeAttr('disabled');
	$('#alertSuccess').fadeTo(2000, 500).slideUp(500, function() {
	    $('#alertSuccess').slideUp(500);
	    location.reload();
	});
}
	
function showAlertFailed(msgAlert) {
	$('#alertFailedMsg').text(msgAlert);
	$('#alertFailed').fadeTo(3000, 500).slideUp(500, function() {
	    $('#alertFailed').slideUp(500);
	    $('#btnSave').removeAttr('disabled')
	});
}


//Data table properties



/*]]>*/
</script>

</html>