<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/import :: info-header"/>
	<th:block th:replace="fragments/import :: css-header"/>
	<th:block th:replace="fragments/import :: js-header"/>

	<!-- Auto Numeric -->
	<script th:src="@{/js/autoNumeric.min.js}"></script>
</head>

<body id="page-top">
	<th:block th:replace="fragments/general :: navbar-header"/>
	
	<!-- /#wrapper -->
	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu"/>
		
		<div id="content-wrapper">
			<!-- /.container-fluid -->
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page"/>
				
				<!-- CONTENT PAGE -->
				<div class="card mb-3">
					<div class="card-header">
	              		<b><span id="titlePage" th:text="${titlePage}"></span></b>
	             	</div>
	             	
	             	<!-- INDEX PAGE -->
	             	<div id="adjustmentIndexPage" class="card-body">
	             		<div id="alertSuccess" class="alert alert-success" style="display: none;">
					   		<strong>Success!</strong> <span id="alertSuccessMsg" th:text="${M_0005}"></span>
						</div>
						<div id="alertFailed" class="alert alert-danger" style="display: none;">
					   		<strong>Failed!</strong> <span id="alertFailedMsg"></span>
						</div>
	             		<div class="row justify-content-end">
							<div class="input-group col-md-2 ">
								<input id="trxFilterValue" name="filterValue" type="text"
									class="form-control">
								<div class="input-group-append">
									<button id = btn_trxFilterValue class="btn btn-primary" type="button">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
						<br />
	             		<table
						  id="tableAdjustment"
						  data-unique-id="idKey"
						  data-toggle="table"
						  data-sortable="true"
						  data-url=""
						  data-side-pagination="server"
						  data-pagination="true"
						  data-page-size="5"
						  data-page-list="[5, 10, 25, 50, ALL]">
						  <thead>
						    <tr>
						      <th data-field="idKey">Id Key</th>
						      <th data-field="trxDateStr" data-sortable="true">Date</th>
						      <th data-field="trxType">Type</th>
						      <th data-field="trxVoucherId">Voucher ID</th>
						      <th data-field="cliName">Client</th>
						      <th data-field="trxDescription">Description</th>
						      <th data-field="trxCurrId">Currency</th>
						      <th data-field="trxInvoiceAmountStr" data-halign="right" data-align="right">Invoice Amount</th>
						      <th data-field="action" data-halign="center" data-align="center">Action</th>
						    </tr>
						  </thead>
						</table>
						<br />
						
						<form id="formInputAdjustment" class="form-horizontal">
							<!-- Row 1 input -->
							<div class="row">
								<div class="col-md-2">
									<label> </label>
								</div>
								<div class="col-md-1">
									<label>Voucher ID</label>
								</div>
								<div class="col-md-1">
									<input type="text"
									name="type" id="trxType" class="form-control col-md-12" disabled 
									/>
									<input type="hidden" id="h_idKey"/>
								</div>
								<div class="col-md-2">
									<input type="text"
									name="voucherId" id="trxVoucherId" class="form-control col-md-12" disabled 
									/>
								</div>
								<div class="col-md-1">
									<label>Due Date</label>
								</div>
								<div class="col-md-2">
									<div class="input-group">
										<input id="trxDueDate" name="dueDate" type="text"
											class="form-control" placeholder="dd/MM/yyyy" disabled>
										<div class="input-group-append">
											<button id='btnDueDate' class="btn btn-primary"
												type="button">
												<i class="fas fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<br />
						
							<!-- Row 2 input -->
							<div class="row">
								<div class="col-md-2">
									<label> </label>
								</div>
								<div class="col-md-1">
									<label>Client Name</label>
								</div>
								<div class="col-md-6">
									<input type="text"
									name="clientName" id="trxClientName" class="form-control col-md-12" disabled 
									/>
								</div>
							</div>
							<br />
							
							<!-- Row 3 input -->
							<div class="row">
								<div class="col-md-2">
									<label> </label>
								</div>
								<div class="col-md-1">
									<label>Description</label>
								</div>
								<div class="col-md-6">
									<input type="text"
									name="description" id="trxDescription" class="form-control col-md-12" disabled 
									/>
								</div>
							</div>
							<br />
							
							<!-- Row 4 input -->
							<div class="row">
								<div class="col-md-2">
									<label> </label>
								</div>
								<div class="col-md-1">
									<label>Curr</label>
								</div>
								<div class="col-md-1">
									<input type="text"
									name="currId" id="trxCurrId" class="form-control col-md-12" disabled 
									/>
								</div>
								<div class="col-md-1">
									<label>Invoice Amount</label>
								</div>
								<div class="col-md-2">
									<input type="text"
									name="invoiceAmt" id="trxInvoiceAmount" class="form-control col-md-12" disabled 
									/>
								</div>
							</div>
							<br />
							
							<!-- Row 5 input -->
							<div class="row">
								<div class="col-md-2">
									<label> </label>
								</div>
								<div class="col-md-1">
									<label>Position</label> <br /> <select name="position" id="trxPosition"
										class="form-control col-md-12" onchange="calcFunction()">
										<option value='0'>+</option>
										<option value='1'>-</option>
									</select>
								</div>
								<div class="col-md-2">
									<label>Change</label> <br /> 
									<input type="text"
									name="change" id="trxChange" class="form-control col-md-12" onchange="calcFunction()" autocomplete="off" 
									/>
								</div>
								<div class="col-md-2">
									<label>New Invoice Amount</label> <br /> 
									<input type="text" 
									name="invoiceAmt" id="trxInvoiceAmount2" class="form-control col-md-12" disabled 
									onchange="calcFunction()"/>
								</div>
							</div>
							<br />
							
							<!-- Row 6 input -->
							<div class="row">
								<div class="col-md-2">
									<label> </label>
								</div>
								<div class="col-md-1">
									<label>*Remarks</label>
								</div>
								<div class="col-md-6">
									<input type="text"
									name="remarks" id="trxRemarks" class="form-control col-md-12"
									/>
								</div>
							</div>
							
						</form>
						<th:block th:replace="fragments/button :: btn-save-cancel"/>
	             	</div>
				</div>
				
			</div>
			<th:block th:replace="fragments/general :: copyright-footer"></th:block>
		</div>
	</div>
	
	<th:block th:replace="fragments/modal :: confirmation-save" />
	<th:block th:replace="fragments/general :: scroll-to-top"/>
	<th:block th:replace="fragments/general :: logout-modal"/>
	<th:block th:replace="fragments/import :: js-body"/>
</body>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var editObj = null;
	
var validAmt = true;
$('document').ready(function(){
	new AutoNumeric('#trxInvoiceAmount', {
	    decimalCharacter : '.',
	    digitGroupSeparator : ',',
	    maximumValue : '999999999'
	});
	new AutoNumeric('#trxChange', {
	    decimalCharacter : '.',
	    digitGroupSeparator : ',',
	    maximumValue : '999999999',
	    minimumValue : '0'
	});
	new AutoNumeric('#trxInvoiceAmount2', {
	    decimalCharacter : '.',
	    digitGroupSeparator : ',',
	    maximumValue : '999999999'
	});
	/**
	 * Inquiry Table 
	 */
	 inquiry();
	/**
	 * Button Search 
	 */
	$('#btn_trxFilterValue').click(function() {
		inquiry();
	});
	$('#tableAdjustment').bootstrapTable('hideColumn', 'idKey');
	/**
	 * Modal Confirmation - YES 
	 */
	 $('#btnModalYes').click(function() {
		$('#btnModalYes').attr('disabled', 'true');
		$('#modalConfirmation').modal('hide');
		save();
	 });
	 $('#trxChange').bind("cut copy paste",function(e) {
	     e.preventDefault();
	 });
	 /**
	 * Button Cancel on GUI action 
	 */
	$('#btnCancel').click(function() {
		reset();
	});
});           

function inquiry(){
	var url = /*[[@{/finance/adjustment/inquiry}]]*/;
	url = url + '?filterValue=' + $('#trxFilterValue').val();
	/**
	 * Inquiry Table 
	 */
  	$('#tableAdjustment').bootstrapTable('refreshOptions', {
  		theadClasses: 'thead-dark',
        url: url
    });
}

function t12Edit(idKey) {
	var data = $('#tableAdjustment').bootstrapTable('getRowByUniqueId', idKey);
	editObj = data;
	
	$('#trxType').val(data.trxType);
	$('#trxVoucherId').val(data.trxVoucherId);
	$('#trxDueDate').val(data.trxDateStr);
	$('#trxClientName').val(data.cliName);
	$('#trxDescription').val(data.trxDescription);
	$('#trxCurrId').val(data.trxCurrId);
	$('#h_idKey').val(data.idKey);
	//$('#trxInvoiceAmount').val(data.trxInvoiceAmount);
	AutoNumeric.getAutoNumericElement('#trxInvoiceAmount').set(data.trxInvoiceAmountStr);
	calcFunction();
}

function calcFunction(){
	var change = 0;
	var invAmt = 0;
	var newInvAmt = 0;
	var operation = $('#trxPosition').val();
	if (document.getElementById("trxChange").value != ""){
		change = document.getElementById("trxChange").value.replace(/,/g, "");
	}
	if (document.getElementById("trxInvoiceAmount").value != ""){
		invcAmt = parseFloat(document.getElementById("trxInvoiceAmount").value.replace(/,/g, ""));
	}
	if (operation == '0'){
		newInvAmt = parseFloat(invcAmt) + parseFloat(change);
	} else {
		newInvAmt = parseFloat(invcAmt) - parseFloat(change);
	}
	AutoNumeric.getAutoNumericElement('#trxInvoiceAmount2').set(newInvAmt);
	if (parseFloat(newInvAmt)>parseFloat(invcAmt)){
		showAlertFailed("Exceeding Invoice Amount");
		validAmt = false;
	} else {
		validAmt = true;
	}
}

/**
 * Button Save on GUI action 
 */
$('#btnSave').click(function() {
	var msgRequired = /*[[${M_0008}]]*/;
	
	var val = validationRequired();
	msgRequired = msgRequired + ": " + val + ". ";
	
	if(val.length>0) {
		showAlertFailed(msgRequired);
		if(!validAmt){
			showAlertFailed("Exceeding Invoice Amount");
		} else if($('#trxType').val() == ""){
			showAlertFailed("No data selected");
		}
	} else {
		$('#modalConfirmation').modal('show');
	}
	
});

function validationRequired(){
	var field = [];
	
	var remarks = $('#trxRemarks').val();
	if(!remarks.trim())
		field.push("Remarks");
	
	return field;
}

function save() {
	$('#btnModalyes').attr('disabled', true);
	/*
	Hanya kirim data yang berubah saja ke Core
	Id, new Amount, Remarks 
	**/
	var adjustment = AutoNumeric.getAutoNumericElement('#trxChange').get();
	var remarks = $('#trxRemarks').val();
	
	var type = editObj.trxType;
	var oldVoucherId = editObj.trxVoucherId;
	
	var position = "+";
	var operation = $('#trxPosition').val();
	if(operation === "1")
		position = "-";
	
	var data = {		
		position: position,
		type: type,
		oldVoucherId: oldVoucherId,
		remarks: remarks,
		adjustment: adjustment
	}
	
	$.ajax({ 
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data:JSON.stringify(data),
        url: /*[[@{/finance/adjustment/save}]]*/,
        success: function (data) {
        	if(data) {
 				showAlertSuccess();
        		reset();
        	}else {
        		showAlertFailed(/*[[${M_0006}]]*/);
        	}
		},
        complete:function(jqXHR, textStatus){
 			if(textStatus != "success")
 				showAlertFailed(/*[[${M_0006}]]*/);
        }
       
    });	
	$('#btnModalyes').removeAttr('disabled');
 	$('#modalConfirmation').modal('hide');
}

function showAlertSuccess() {
	$('#alertSuccess').fadeTo(2000, 500).slideUp(500, function() {
	    $('#alertSuccess').slideUp(500);
	    location.reload();
	});
}

function showAlertFailed(msgAlert) {
	$('#alertFailedMsg').text(msgAlert);
	$('#alertFailed').fadeTo(3000, 500).slideUp(500, function() {
	    $('#alertFailed').slideUp(500);
	    $('#btnSave').removeAttr('disabled')
	});
}

function reset(){
	$('#trxType').val('');
	$('#trxVoucherId').val('');
	$('#trxDueDate').val('');
	$('#trxClientName').val('');
	$('#trxDescription').val('');
	$('#trxCurrId').val('');
	$('#trxInvoiceAmount').val('');
	$('#trxChange').val('');
	$('#trxInvoiceAmount2').val('');
	$('#trxRemarks').val('');
	$('#trxPosition').select2().val('0');
	$('#h_idKey').val('');
}
           
/*]]>*/
</script>

</html>