<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/import :: info-header" />
<th:block th:replace="fragments/import :: css-header" />
<th:block th:replace="fragments/import :: js-header" />
</head>

<body id="page-top">
	<th:block th:replace="fragments/general :: navbar-header" />

	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />

		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />


				<!-- CONTENT PAGE -->
				<div id="cart" class="card mb-3">
					<div id="divContentHeader" class="card-header">
						<b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-2">
								<input type="radio" id="radioEomEoy" name="radioEomEoy"
									value="eom" checked>&nbsp;End Of Month
							</div>
							<div class="col-md-2">
								<select name="eomMonth" id="eomMonth" class="form-control">
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
							</div>
							<div class="col-md-2">
								<select name="eomYear" id="eomYear" class="form-control">
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-2">
								<input type="radio" id="radioEomEoy" name="radioEomEoy"
									value="ceom">&nbsp;Cancel EOM
							</div>
							<div class="col-md-2">
								<select name="cancelEomMonth" id="cancelEomMonth"
									class="form-control">
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
							</div>
							<div class="col-md-2">
								<select name="cancelEomYear" id="cancelEomYear"
									class="form-control">
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-2">
								<input type="radio" id="radioEomEoy" name="radioEomEoy"
									value="eoy">&nbsp;End Of Year
							</div>
							<div class="col-md-2">
								<select name="eoyYear" id="eoyYear" class="form-control">
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-2">
								<input type="radio" id="radioEomEoy" name="radioEomEoy"
									value="ceoy">&nbsp;Cancel EOY
							</div>
							<div class="col-md-2">
								<select name="cancelEoyYear" id="cancelEoyYear"
									class="form-control">
								</select>
							</div>
						</div>
						<br> <br>
						<div class="row justify-content-center">
							<button class="btn btn-success col-md-1" id="btnProcess">Process</button>
						</div>
					</div>

					<div class="modal fade" id="progress-modal" tabindex="-1"
						role="dialog" aria-labelledby="progress-modal" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="client-modal-label">Progress</h5>
								</div>
								<div class="modal-body">
									<div class="card-body">
										<div class="progress">
											<div id="progressBarValue"
												class="progress-bar bg-success progress-bar-striped progress-bar-animated active"
												role="progressbar" aria-valuenow="0" aria-valuemin="0"
												aria-valuemax="100" style="width: 0%">0% Complete
												(success)</div>
										</div>
										<br>
										<div class="row justify-content-center">
											<button class="btn btn-success col-md-1" id="btnDone"
												name="btnDone" disabled>Done</button>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
					<div class="modal fade" id="progress-modal" tabindex="-1"
						role="dialog" aria-labelledby="progress-modal" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="client-modal-label">Progress</h5>
								</div>
								<div class="modal-body">
									<div class="card-body">
										<div class="progress">
											<div id="progressBarValue"
												class="progress-bar bg-success progress-bar-striped progress-bar-animated active"
												role="progressbar" aria-valuenow="0" aria-valuemin="0"
												aria-valuemax="100" style="width: 0%">0% Complete
												(success)</div>
										</div>
										<br>
										<div class="row justify-content-center">
											<button class="btn btn-success col-md-1" id="btnDone"
												name="btnDone" disabled>Done</button>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->
			<th:block th:replace="fragments/general :: copyright-footer"></th:block>
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- /#wrapper -->

	<th:block th:replace="fragments/general :: scroll-to-top" />
	<th:block th:replace="fragments/general :: logout-modal" />
	<th:block th:replace="fragments/import :: js-body" />
	
	<!-- Modal Validation -->
	<div class="modal fade" id="validation-modal" tabindex="-1"
		role="dialog" aria-labelledby="validation-modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header d-block">
					<h5 class="modal-title text-center" id="client-modal-label"> Validation Result</h5>
				</div>
				<div class="modal-body">
					
					<table id="tableValidation" data-toolbar-align="right"
						data-toggle="table" data-sortable="false" data-url=""
						data-side-pagination="client" data-pagination="true"
						data-page-size="5" data-page-list="[5, 10, 25, 50, ALL]"
						data-pagination-V-Align="top">
						<thead>
							<tr>
								<th data-field="glVoucherId">Voucher Id</th>
								<th data-field="balanceDebitStr" data-halign="right" data-align="right">Debit</th>
								<th data-field="balanceCreditStr" data-halign="right" data-align="right">Credit</th>
								<th data-field="balanceStr" data-halign="right" data-align="right">Different</th>
							</tr>
						</thead>
					</table>
					
					<br>
					<div class="row justify-content-center">
						<button class="btn btn-success col-md-1" id="btnOkValidation"
							name="btnOkValidation">OK</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Validation -->

</body>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var appDate = /*[[${appDate}]]*/;
	var year = /*[[${year}]]*/;
	var lastProMonthAndProYear = JSON.parse(/*[[${lastProMonthAndProYear}]]*/);
	
	var xhttp = new XMLHttpRequest();
	$('document').ready(function(){
		$('#eomMonth').select2({width: '100%'});
		$('#eomMonth').val(parseInt(appDate.split("/")[1])).trigger('change');
		
		$('#eomYear').select2({
			width: '100%',
			data:year
		});
		$('#eomYear').val(parseInt(appDate.split("/")[2])).trigger('change');
		
		$('#cancelEomMonth').select2({ width: '100%' });
		$('#cancelEomMonth').val(lastProMonthAndProYear.proMonth).trigger('change');
		
		$('#cancelEomYear').select2({ 
			width: '100%',
			data:year
		});
		$('#cancelEomYear').val(lastProMonthAndProYear.proYear).trigger('change');
		
		$('#eoyYear').select2({ 
			width: '100%',
			data:year
		});
		$('#eoyYear').val(lastProMonthAndProYear.proYear).trigger('change');
		
		$('#cancelEoyYear').select2({ 
			width: '100%',
			data:year
		});
		$('#cancelEoyYear').val(lastProMonthAndProYear.proYear).trigger('change');
		
		
		$('#btnProcess').click(function(){
			$('#progress-modal').modal('show');
			doProcess();
		});
		
		$('#btnDone').click(function(){
			$('#btnDone').attr('disabled', true);
			$('#progress-modal').modal('hide');
			$("#progressBarValue")
    			.css("width", "0%")
	      		.attr("aria-valuenow", "0")
	      		.text("0% Complete");
			location.reload();
		});
		
		$('#btnOkValidation').click(function(){
			$('#validation-modal').modal('hide');
		});
		
		xhttp.open("GET", "/gui-re-broker/accounting/eomeoy/resetProgress", false);
		xhttp.send();
	});
	
	function isStillProcess (){
		xhttp.open("GET", "/gui-re-broker/accounting/eomeoy/checkProcess", false);
		xhttp.send();
		return JSON.parse(xhttp.responseText).isProcessStilRunning;
		
	}
	
	function doProcess(){
	
		var url = "/gui-re-broker/accounting/eomeoy/process?";
		if($('input[name=radioEomEoy]:checked').val()  == 'eom'){
			var month = $('#eomMonth').val();
			var year = $('#eomYear').val();
			url = url +"year="+year+"&month="+month+"&process=eom";
		}else if($('input[name=radioEomEoy]:checked').val()  == 'ceom'){
			var month = $('#cancelEomMonth').val();
			var year = $('#cancelEomYear').val();
			url = url +"year="+year+"&month="+month+"&process=ceom";
		}else if($('input[name=radioEomEoy]:checked').val()  == 'eoy'){
			var year = $('#eoyYear').val();
			url = url +"year="+year+"&process=eoy";
		}else if($('input[name=radioEomEoy]:checked').val()  == 'ceoy'){
			var year = $('#cancelEoyYear').val();
			url = url +"year="+year+"&process=ceoy";
		}
		
		xhttp.open("GET", url , false);
		xhttp.send();
		
		setRuntimeProgress();
		
	}
	
	function setRuntimeProgress(){
		var url = "/gui-re-broker/accounting/eomeoy/progress";
		var interval = setInterval(function() {
			xhttp.open("GET", url , false);
			xhttp.send();
			var result = JSON.parse(xhttp.responseText);
		    $("#progressBarValue")
		    	.css("width", result.progress + "%")
		      	.attr("aria-valuenow", result.progress)
		      	.text(result.progress + "% Complete");
		    if(!result.isFailed){
		    	if (result.progress == "100"){
		    		$("#progressBarValue")
		    		.css("width", result.progress + "%")
			      	.attr("aria-valuenow", result.progress)
			      	.text(result.progress + "% Complete (DONE)");
		    		
			    	clearInterval(interval);
			    	xhttp.open("GET", "/gui-re-broker/accounting/eomeoy/resetProgress", false);
					xhttp.send();
					$('#btnDone').removeAttr('disabled');
			    }
		    }else{
		    	if(result.errorData != null) {
		    		$('#tableValidation').bootstrapTable('load', result.errorData);
			    	$('#validation-modal').modal('show');
		    	}else {
		    		alert(result.reason);
		    	}
		    	
		    	$("#progressBarValue")
	    		.css("width", result.progress + "%")
		      	.attr("aria-valuenow", result.progress)
		      	.text(result.progress + "% Complete (Terminated)");
		    	clearInterval(interval);
		    	xhttp.open("GET", "/gui-re-broker/accounting/eomeoy/resetProgress", false);
				xhttp.send();
				$('#btnDone').removeAttr('disabled');
		    }
		    
		}, 1000);
		
	}
		
		/*]]>*/
</script>
</html>