<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<th:block th:fragment="document-tab">
		<div class="card mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-md-1" align="center">
						<label> Type</label>
					</div>
					<div class="col-md-3">
						<select name="typeOfList" id="typeOfList" class="form-control" required>
							<option value="0">0</option>
						</select>
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control text-right" id="chooseFile">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" id="btnChooseFile">Choose a file</button>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<button class="btn btn-outline-secondary" id="btnChooseFile">Upload</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<table id="trxTable2" data-toolbar-align="right" data-toggle="table" data-sortable="true"
						data-url="" data-side-pagination="server" data-pagination="true" data-page-size="5"
						data-unique-id="idKey" data-pagination-v-align="top" data-page-list="[5, 10, 25, 50, ALL]">
						<thead>
							<tr>
								<th data-field="No" data-sortable="true">No</th>
								<th data-field="txDocId" data-sortable="true">Document</th>
								<th data-field="txDocName">File Name</th>
								<th data-field="txStatus">Status</th>
								<th data-field="docAction" data-sortable="true">Action</th>
							</tr>
						</thead>
					</table>
					</div>
					
				</div>
				<br>
				<div class="row" align="center">
					<div class="col-md-12">
						<button class="btn btn-primary col-md-2" id="btnSend">Send</button>
					</div>
					
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(function () {
				t6HideColumn();
				$('#t6-details').select2({ width: '100%', data: [] });

				rest('GET', '/gui-re-broker/marketing-report/production/dropdown-tc-group').done(function (data) {
					$('#t6-group').select2({
						width: '100%',
						data: data
					});
				});

				$('#t6-group').change(function () {
					$('#t6-details').html('').select2('data', [])
					if ($('#t6-group').val() != "") {
						var param = "?groupName=" + $('#t6-group').val();
						rest('GET', '/gui-re-broker/marketing-report/production/dropdown-tc-details' + param).done(function (data) {
							$('#t6-details').select2({
								width: '100%',
								data: data
							});
						});
					}
				});

				$('#t6-details').change(function () {
					$('#richText-t6-or').html($('#t6-details option:selected').text());
				});
			});

			function t6HideColumn() {
				$('#t6-addTable').bootstrapTable('hideColumn', 'idKey');
			}

			function t6Remove(id) {
				$('#t6-addTable').bootstrapTable('removeByUniqueId', id);
			}

			function t6Add() {
				var valReq = validationRequiredAddT6();

				if (valReq.length > 0) {
					alert('Please fill : ' + valReq + '.');

					return null;
				}

				var idKey = create_UUID();
				var tcGroup = $("#t6-group option:selected").text();
				var tcDetails = $('#t6-or').val().replace(/<(.|\n)*?>/g, '');
				if (!tcDetails.trim())
					tcDetails = $('#t6-details option:selected').text();
				else
					tcDetails = $('#t6-or').val();

				var action = "<button class=\"btn btn-danger\" onclick=\"t6Remove('" + idKey + "')\">"
					+ "<i class=\"fa fa-trash\"></i>"
					+ "</button>";
				var addObject = {
					idKey: idKey,
					tcGroup: tcGroup,
					tcDetails: tcDetails,
					action: action
				};
				var listData = [];
				listData.push(addObject);
				var addTableData = $('#t6-addTable').bootstrapTable('getData');
				$('#t6-addTable').bootstrapTable('load', listData.concat(addTableData));

				$('#t6-group').val('').trigger('change');
				$('#t6-details').val('').trigger('change');

				$('#t6-or').val('');
				$('#richText-t6-or').empty();
			}

			function validationRequiredAddT6() {
				var field = [];

				var group = $('#t6-group').val();
				if (!group.trim())
					field.push("Group");

				var details = $('#t6-details').val();
				if (details == null)
					details = '';

				var or = $('#t6-or').val().replace(/<(.|\n)*?>/g, '');
				if (!details.trim() && !or.trim())
					field.push("Details");

				return field;
			}

			/*]]>*/
		</script>
	</th:block>

</body>

</html>