<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<th:block th:fragment="value-tab">
		<div class="card mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<label>Estimate</label>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<label>Currency</label> <br>
									<select name="txCurrId4" id="txCurrId4" class="select2 form-control">
										<option value=""></option>
									</select>
								</div>
								<div class="row">
									<label>TSI</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txSumIns4">
								</div>
								<div class="row">
									<label>Claim Amount</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txClaimAmt4">
								</div>
								<div class="row">
									<label>Deductible</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txDeducAmt4">
								</div>
								<div class="row">
									<label>Total</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txTotal4">
								</div>
								<div class="row">
									<label>Advice Date</label>
									<div class="input-group">
										<input id="txAdvicesDate4" name="txAdviceDate" type="text"
											class="form-control col-md-5">
										<div class="input-group-append">
											<button id='btnCalsAdviceDate4' class="btn btn-primary" type="button">
												<i class="fas fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<label>Payment Method</label> <br>
									<select name="txPayMtd" id="txPayMtd4" class="form-control">
										<option value="0">Waiting for Payment</option>
										<option value="1">Bailout</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label>Settlement</label>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<label>Claim Amount</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txApprAmt4">
								</div>
								<div class="row">
									<label>Claim Fee</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txClaimFee4">
								</div>
								<div class="row">
									<label>Adjuster Fee</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txAdjusFee4">
								</div>
								<div class="row">
									<label>U/W Paid</label> <br>
									<input type="text" class="form-control col-md-12 text-right" id="txUWPaid4">
								</div>
								<div class="row">
									<label>Date</label>
									<div class="input-group">
										<input id="txDateSet4" name="txDateSet" type="text"
											class="form-control col-md-5">
										<div class="input-group-append">
											<button id='btnTxDateSet4' class="btn btn-primary" type="button">
												<i class="fas fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			var t5EditData = null;
			var t5EditDataCopy = null;

			$(function () {

				rest('GET', '/gui-re-broker/static-data/exchangeRate/dropdown-curr')
					.done(function (data) {
						if (data.length == 0) {
							data.push({ id:/*[[${txCurrId4}]]*/, text:/*[[${txCurrId4}]]*/});
						}
						$('#txCurrId4').select2({
							width: '100%',
							data: data
						});
						console.log(data);
					});
				$('#btnCalsAdviceDate4').click(function () {
					$('#txAdvicesDate4').datepicker('show');
				});

				$('#txAdvicesDate4').datepicker({
					dateFormat: 'dd/mm/yy',
					changeMonth: true,
					changeYear: true
				});

				$('#btnTxDateSet4').click(function () {
					$('#txDateSet4').datepicker('show');
				});

				$('#txDateSet4').datepicker({
					dateFormat: 'dd/mm/yy',
					changeMonth: true,
					changeYear: true
				});
				t5HideColumn();
				new AutoNumeric('#txSumIns4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txSumIns4').set('0.00');
				new AutoNumeric('#txClaimAmt4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txClaimAmt4').set('0.00');
				new AutoNumeric('#txDeducAmt4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txDeducAmt4').set('0.00');
				new AutoNumeric('#txTotal4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txTotal4').set('0.00');
				new AutoNumeric('#txApprAmt4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txApprAmt4').set('0.00');
				new AutoNumeric('#txClaimFee4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txClaimFee4').set('0.00');
				new AutoNumeric('#txAdjusFee4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txAdjusFee4').set('0.00');
				new AutoNumeric('#txUWPaid4', {
					decimalCharacter: '.',
					digitGroupSeparator: ',',
					maximumValue: '9999999999999999.00'
				});
				AutoNumeric.getAutoNumericElement('#txUWPaid4').set('0.00');
				$('#txSumIns4').on('keyup change', function () {
					calculateBfeeRe();
					recalculate();
				});

				$('#txClaimAmt4').on('keyup change', function () {
					calculateBfeeCli();
					recalculate();
				});

				$('#txUWPaid4').on('keyup change', function () {
					recalculate();
				});

			});
			/*]]>*/
		</script>
	</th:block>

</body>

</html>