<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<th:block th:fragment="tc-tab">
		<div class="card mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<label>*Group</label><br> <select name="t6-group-cob" id="t6-group-cob" 
							class="form-control" required>
							<option value=""></option>
						</select>
					</div>
					<div class="col-md-4">
						<label>*COB</label><br> <select name="t6-cob" id="t6-cob"
							class="form-control" required>
							<option value=""></option>
						</select>
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-12">
						<table id="t6-addTable" data-toggle="table" data-sortable="true"
							data-unique-id="idKey" data-url="" data-pagination="true"
							data-page-size="5" data-page-list="[5, 10, 25, 50, ALL]" 
							data-group-by="true" data-group-by-field="groupCob">
							<thead>
								<tr>
									<th data-field="idKey" data-visible="false">Id Key</th>
									<th data-field="groupCob" data-sortable="true">COB Group</th>
									<th data-field="cob" data-sortable="true">COB</th>
									<th data-field="tcGroup" data-sortable="true">Group</th>
									<th data-field="tcDetails" data-sortable="true">Details</th>
									<th data-field="action" data-halign="center" data-align="center">Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-8">
						<label>Group</label><br> <select name="t6-group" id="t6-group"
							class="form-control">
							<option value=""></option>
						</select>
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-12">
						<label>Details</label><br> <select name="t6-details"
							id="t6-details" class="form-control">
							<option value=""></option>
						</select>
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-12">
						<label>or</label><br>
						<textarea class="form-control" id="t6-or" name="t6-or" rows="5"></textarea>
					</div>
				</div>
					
				<br>
				
				<div class="row justify-content-center">
					<div class="col-md-1">
						<button id="t6-add" class="btn btn-success col-md-12"
							onclick="t6Add()">Add</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(function() {
				$('#t6-group-cob').select2({width: '100%'});
				$('#t6-cob').select2({width: '100%'});
				$('#t6-details').select2({width: '100%', data: []});
				
				rest('GET', '/gui-re-broker/marketing/treaty-production/dropdown-tc-group').done(function(data) {
					$('#t6-group').select2({
						width : '100%',
						data : data
					});
				});
				
				$('#t6-group').change(function() {
					$('#t6-details').html('').select2('data', []);
					if($('#t6-group').val() != "") {
						var param = "?groupName="+$('#t6-group').val();
						rest('GET', '/gui-re-broker/marketing/treaty-production/dropdown-tc-details'+param).done(function(data) {
							$('#t6-details').select2({
								width : '100%',
								data : data
							});
						});
					}
				});
				
				$('#t6-details').change(function() {
					$('#richText-t6-or').html($('#t6-details option:selected').text());
				});
			});
			
			function t6Remove(id) {
				$('#t6-addTable').bootstrapTable('removeByUniqueId', id);
			}
			
			function t6Add() {
				var valReq = validationRequiredAddT6();
				
				if(valReq.length>0) {
					alert('Please fill : '+ valReq + '.');
					
					return null;
				}
				
				var idKey = create_UUID();
				var tcGroup = $("#t6-group option:selected").text();
				var tcDetails = $('#t6-or').val().replace(/<(.|\n)*?>/g, '');
				if(!tcDetails.trim())
					tcDetails = $('#t6-details option:selected').text();
				else
					tcDetails = $('#t6-or').val();
			
				var action = "<button class=\"btn btn-danger\" onclick=\"t6Remove('"+idKey+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
				var groupCob = $('#t6-group-cob option:selected').text();
				var groupCobId = $('#t6-group-cob option:selected').val();
				var cob = $('#t6-cob option:selected').text();
				var cobId = $('#t6-cob option:selected').val();
				var type = $('#t1-type option:selected').val();
				
				var addObject = {
					idKey : idKey,
					groupCob: groupCob,
					groupCobId: groupCobId,
					cob: cob,
					cobId: cobId,
					tcGroup : tcGroup,
					tcDetails : tcDetails,
					type: type,
					action : action
				};
				var listData = [];
				listData.push(addObject);
				var addTableData = $('#t6-addTable').bootstrapTable('getData');
				$('#t6-addTable').bootstrapTable('load', listData.concat(addTableData));
				
				$('#t6-group-cob').val(null).trigger('change');
				$('#t6-cob').val(null).trigger('change');
				$('#t6-group').val('').trigger('change');
				$('#t6-details').val('').trigger('change');
				
				$('#t6-or').val('');
				$('#richText-t6-or').empty();
			}
			
			function validationRequiredAddT6() {		
				var field = [];				

				var groupCob = $('#t6-group-cob option:selected').val();
				if(!groupCob.trim())
					field.push("COB Group");
					
				var cob = $('#t6-cob option:selected').val();
				if(!cob.trim())
					field.push("COB");
					
				var group = $('#t6-group').val();
				if(!group.trim())
					field.push("Group");
				
				var details = $('#t6-details').val();
				if(details == null)
					details = '';
				
				var or = $('#t6-or').val().replace(/<(.|\n)*?>/g, '');
				if(!details.trim() && !or.trim())
					field.push("Details");
				
				return field;
			}
			
			/*]]>*/
		</script>
	</th:block>

</body>

</html>

