<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/import :: info-header" />
<th:block th:replace="fragments/import :: css-header" />
<th:block th:replace="fragments/import :: js-header" />
</head>

<body id="page-top">
	<th:block th:replace="fragments/general :: navbar-header" />

	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />

		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />


				<!-- CONTENT PAGE -->
				<div id="cart" class="card mb-3">
					<div id="divContentHeader" class="card-header">
						<b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div class="card-body">
						<div id="alertSuccessDelete" class="alert alert-success"
							style="display: none;">
							<strong>Success!</strong> <span id="alertSuccessDeleteMsg">Delete
								data success</span>
						</div>

						<div id="alertFailed" class="alert alert-danger"
							style="display: none;">
							<strong>Failed!</strong> <span id="alertFailedMsg"></span>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Client</label>
							</div>
							<div class="col-md-3">
								<div class="input-group">
									<input id="clientDesc" name="clientDesc" type="text"
										class="form-control" disabled> <input id="client"
										name="client" type="text" class="form-control" disabled
										hidden="true" />

									<div class="input-group-append">
										<button id='btnClientSearch' class="btn btn-primary"
											type="button" data-toggle="modal" data-target="#client-modal">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>

							<div class="col-md-2">
								<button id="search" class="btn btn-success col-md-12">Search</button>
							</div>
						</div>
						<br>
						<table id="cancelUploadTable" data-toggle="table"
							data-sortable="true" data-url="" data-side-pagination="server"
							data-pagination="true" data-unique-id="idKey"
							data-pagination-v-align="top" data-page-size="5"
							data-page-list="[5, 10, 25, 50, ALL]">
							<thead>
								<tr>
									<th data-field="idKey" data-halign="center">id</th>
									<th data-field="trxOldType" data-halign="center">Type</th>
									<th data-field="trxOldVoucherId" data-halign="center">Voucher
										Id</th>
									<th data-field="name" data-halign="center">Name</th>
									<th data-field="description" data-halign="center">Description</th>
									<th data-field="curr" data-halign="center">Curr</th>
									<th data-field="amountStr" data-halign="center"
										data-align="right">Amount</th>
									<th data-field="settled" data-halign="center">Settled</th>
									<th data-field="trxFileName" data-halign="center">File
										Name</th>
									<th data-field="createOn" data-halign="center">Upload Date</th>
									<th data-field="action" data-halign="center"
										data-align="center">Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- Modal Client -->

				<div class="modal fade" id="client-modal" tabindex="-1"
					role="dialog" aria-labelledby="client-modal" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="client-modal-label">Client</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row card-body justify-content-end">
									<div class="col-md-3">
										<select id="clientSelector" name="clientSelector"
											class="custom-select">
											<option value="cliName">Name</option>
											<option value="cliCode">Client Id</option>
										</select>
									</div>
									<div class="input-group col-md-3">
										<input id="clientFilterValue" type="text" class="form-control">
										<div class="input-group-append">
											<button id="clientFilterSearchBtn" class="btn btn-primary"
												type="button" onclick="clientFilteredSearch()">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<br>
								<table id="tableClient" data-toggle="table" data-url=""
									data-sortable="true" data-side-pagination="server"
									data-pagination="true" data-page-size="5"
									data-page-list="[5, 10, 25, 50, ALL]">
									<thead>
										<tr>
											<th data-field="cliCode" data-sortable="true">Client ID</th>
											<th data-field="cliName" data-sortable="true">Client
												Name</th>
											<th data-field="cliDataStatusStr">Status</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- /Modal Client -->

			</div>
			<!-- /.container-fluid -->
			<th:block th:replace="fragments/modal :: confirmation-delete" />
			<th:block th:replace="fragments/general :: copyright-footer"></th:block>
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- /#wrapper -->

	<th:block th:replace="fragments/general :: scroll-to-top" />
	<th:block th:replace="fragments/general :: logout-modal" />
	<th:block th:replace="fragments/import :: js-body" />

</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var idRemove = null
	$(function (){
		
		$('#clientSelector').select2({ width: '100%' });
		$('#cancelUploadTable').bootstrapTable('hideColumn', 'idKey');
		
		$('#cancelUploadTable').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: '/gui-re-broker/marketing/cancel-upload/search',
		    pageNumber: 1
		});
		
		$('#btnClientSearch').click(function() {
			$('#clientFilterValue').val('');
			
			$('#clientSelector').val('cliName').trigger('change');
			
			
			$('#tableClient').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: /*[[@{/accounting/entry-journal/client}]]*/
			});
		});
		
		$('#tableClient').on('click-row.bs.table',function(e, row, $tr) {
			$('#client').val(row.cliCode);
			$('#clientDesc').val(row.cliName);
			$('#client-modal').modal('hide');
		});
		
		$('#search').click(function() {
			var url = '/gui-re-broker/marketing/cancel-upload/search';
			var client = $('#client').val();
			url = url + '?client=' + client;
			$('#cancelUploadTable').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: url,
			    pageNumber: 1
			});
		});
		
		$('#btnModalYesDelete').click(function(){
			$('#btnModalYesDelete').attr('disabled', 'true');
			processRemove(idRemove);					
		});
	});
	
	function clientFilteredSearch(){
		var url = "/gui-re-broker/accounting/entry-journal/client";
		var filterKey = $( "#clientSelector" ).select2('val');
		var filterValue = $( "#clientFilterValue" ).val();
		var allUrl = url
		
		if(filterValue != ""){
			var allUrl = url+"?filterKey="+filterKey+"&filterValue="+filterValue;
		}
		
		$('#tableClient').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: allUrl
		});
	}
	
	function cannotRemove(){
		alert('Please Cancel Settlement');
	}
	
	function remove(id){
		idRemove = id;
		$('#modalConfirmationDelete').modal('show');
	}
	
	function processRemove(id){
		console.log('processRemove '+id)
		var removeData = {
			idKey : id
		}
		restPOST('POST', '/gui-re-broker/marketing/cancel-upload/delete', removeData).done(function(data) {
			idRemove = null;
			$('#modalConfirmationDelete').modal('hide');
			if (data.status == "200") {
				showAlertSuccessDelete();
			} else {
				showAlertFailed(data.message);
			}
		});
	}
	
	function showAlertSuccessDelete() {
		$(location).attr('href', '#page-top');
		$('#alertSuccessDelete').fadeTo(2000, 500).slideUp(500, function() {
			$('#alertSuccess').slideUp(500);
			location.reload();
		});
	}

	function showAlertFailed(msgAlert) {
		$(location).attr('href', '#page-top');
		$('#alertFailedMsg').text(msgAlert);
		$('#alertFailed').fadeTo(3000, 500).slideUp(500, function() {
			$('#alertFailed').slideUp(500);
			$('#btnModalYesDelete').removeAttr('disabled')
		});
	}
	/*]]>*/
</script>
</html>

