<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/import :: info-header" />
<th:block th:replace="fragments/import :: css-header" />
<th:block th:replace="fragments/import :: js-header" />

<script th:src="@{/js/autoNumeric.min.js}"></script>
</head>

<body id="page-top">
<th:block th:replace="fragments/general :: navbar-header" />
	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />
		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />
				<!-- CONTENT PAGE STARTS HERE-->
				<div id="cart" class="card mb-3">
					<div id="divContentHeader" class="card-header">
						<b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div class="card-body">
						<div id="alertSuccess" class="alert alert-success" style="display: none;">
							<strong>Success!</strong> <span id="alertSuccessMsg"
								th:text="${M_0005}"></span>
						</div>
						<div id="alertFailed" class="alert alert-danger" style="display: none;">
							<strong>Failed!</strong> <span id="alertFailedMsg"></span>
						</div>
						<div id="uploadTreatyIndexPage">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<label>Type of Cover</label>
								</div>
								<div class="col-md-3">
									<select name="dropdownTypeCover" id="dropdownTypeCover"
										class="form-control col-md-12" required>
										<option value=""></option>
									</select>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<label>Client</label>
								</div>
								<div class="col-md-3">
									<div class="input-group">
										<input id="clientDesc" name="clientDesc" type="text" class="form-control" disabled> 
										<input id="client" name="client" type="text" class="form-control" hidden="true"/>
				
										<div class="input-group-append">
											<button id='btnClientSearch' class="btn btn-primary" type="button" 
												data-toggle="modal" data-target="#client-modal">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<br>
							<br>
							<th:block th:replace="fragments/button :: btn-search-reset"></th:block>
							<br>
							<table id="tableUploadTreaty" 
								   data-toggle="table"
								   data-sortable="true"
								   data-url=""
								   data-side-pagination="server"
								   data-pagination="true"
								   data-page-size="5"
								   data-unique-id="idKey" 
								   data-page-list="[5, 10, 25, 50, ALL]">
								<thead>
									<tr>
										<th data-field="trxDate">Date</th>
										<th data-field="trxTrxId">Type</th>
										<th data-field="trxVoucherId">Voucher ID</th>
										<th data-field="cliName">Client</th>
										<th data-field="trxDescription">Description</th>
										<th data-field="trxInsStartStr">Period</th>
										<th data-field="trxInsEndStr">Period</th>
										<th data-field="trxCurrId">Curr</th>										
										<th data-field="trxTsiAmountStr" data-halign="right" data-align="right">TSI</th>
										<th data-field="createBy">Created</th>
									</tr>
								</thead>
							</table>
						</div>
						
						<!-- EDIT PAGE STARTS HERE -->
						<div id="uploadTreatyCreateEdit" class="card-body" hidden="true">
						<!-- Button Back -->
			              <div class="row justify-content-end">
			                <div class="col-md-2">
			                  <button class="btn btn-danger col-md-12" onclick="back()">
			                    <i class="fa fa-chevron-left"></i> Back
			                  </button>
			                </div>
			              </div>
			              <br />
						<input type="hidden" id="h_officer"/>
						<input type="hidden" id="h_voucherId"/>
						<input type="hidden" id="h_currency"/>
						<input type="hidden" id="h_interest"/>
						<input type="hidden" id="h_typeOfCov"/>
							<div class="row">
								<div class="col-md-3">
									<label>Reference</label> <br>
									<div class="input-group"> 
									<input id="ref" name="ref" type="text"
										class="form-control col-md-2" disabled/>
									<input id="refNum" name="refNum" type="text"
										class="form-control col-md-10" disabled/>
									</div>
								</div>
								<div class="col-md-3">
									<label>Reinsurance</label> <br>
									<input id="rein" name="rein" type="text"
										class="form-control" disabled/>
								</div>
								<div class="col-md-3">
									<label>Client/Cedant</label> <br>
									<input id="cedant" name="cedant" type="text"
										class="form-control" disabled/>
								</div>
							</div>
							<br />
							<div id="cart" class="card mb-3">
								<div class="card-body">
								<label>Upload Proportional Treaty Data</label> <br><br>
									<div class="row">
										<div class="col-md-2">
											<label>Description</label>
										</div>
										<div class="col-md-7">
											<input id="description" name="description" type="text"
												class="form-control"/>
										</div>
									</div>
									<br />
								    <div class="row">
										<div class="col-md-9">
											<input type="file" class="form-control" id="t7-inputUpload" name="t7-inputUpload" accept=".pdf, .xls, .xlsx">
										</div>
										<div class="col-md-1">
											<button id="t7-upload" class="btn btn-success col-md-12">Upload</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- EDIT PAGE ENDS HERE -->
					</div>
				</div>
				<br />
				<div id="previewReport" class="card-body" hidden="true">
						<table id="tableSend" data-toolbar-align="right"
							data-toggle="table" data-pagination="true" data-page-size="10">
							<thead>
								<tr>
									<th data-field="action" data-halign="center" data-align="center">Action</th>
									<th data-field="name">Name</th>
									<th data-field="document">Document</th>
								</tr>
							</thead>
						</table>
						
						<div id="previewReportHtml"></div>
					</div>
				<!-- CONTENT PAGE ENDS HERE-->
				
				<!-- Modal Client -->
				<div class="modal fade" id="client-modal" tabindex="-1"
					role="dialog" aria-labelledby="client-modal" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="client-modal-label">Client</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row card-body justify-content-end">
									<div class="col-md-3">
										<select id="clientSelector" name="clientSelector" class="custom-select">
											<option value="cliName">Name</option>
											<option value="cliCode">Client Id</option>
										</select>
									</div>
									<div class="input-group col-md-3">
										<input id="clientFilterValue" type="text" class="form-control">
										<div class="input-group-append">
											<button id="btnClientFilterSearch" class="btn btn-primary"
												type="button" onclick="clientFilterSearch()">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<br>
								<table id="tableClient" data-toggle="table" data-url=""
									data-sortable="true" data-side-pagination="server"
									data-pagination="true" data-page-size="5"
									data-page-list="[5, 10, 25, 50, ALL]">
									<thead>
										<tr>
											<th data-field="cliCode" data-sortable="true">Client ID</th>
											<th data-field="cliName" data-sortable="true">Client
												Name</th>
											<th data-field="cliDataStatusStr">Status</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /Modal Client -->
			</div>
			<div class="modal fade" id="client-modal" tabindex="-1"
				role="dialog" aria-labelledby="client-modal" aria-hidden="true">
			</div>
		</div>
		<th:block th:replace="fragments/general :: copyright-footer"></th:block>
	</div>
	<!-- /#wrapper -->
	<th:block th:replace="fragments/modal :: confirmation-save" />
	<th:block th:replace="fragments/modal :: confirmation-upload-save" />
	<th:block th:replace="fragments/modal :: loading-process" />
	<th:block th:replace="fragments/general :: scroll-to-top"/>
	<th:block th:replace="fragments/general :: logout-modal"/>
	<th:block th:replace="fragments/import :: js-body"/>
</body>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$('document').ready(function() {
	$('#type').select2({ width: '100%' });
	$('#clientSelector').select2({ width: '100%' });
	inquiryUploadTreaty();
	
	rest('GET', '/gui-re-broker/marketing-report/production/get-dropdownTypeOfCover').done(function(data) {
		$('#dropdownTypeCover').select2({
			width : '100%',
			data : data
		});
	});
});

$('#btnSearch').click(function() {			
	inquiryUploadTreaty();
});

$('#btnClientSearch').click(function() {			
	$('#clientFilterValue').val('');
	$('#clientSelector').val('cliName').trigger('change');
	
	clientFilterSearch();
});

$('#tableClient').on('click-row.bs.table', function(e, row, $tr) {
	$('#client').val(row.cliCode);
	$('#clientDesc').val(row.cliName);
	$('#client-modal').modal('hide');
});

function clientFilterSearch() {
	var url = /*[[@{/static-data/client}]]*/;
	var filterKey = $("#clientSelector").select2('val');
	var filterValue = $("#clientFilterValue").val();
	
	url = url + "?cliType=-0";
	if(filterValue != "")
		url = url + "&filterKey="+filterKey+"&filterValue="+filterValue;
	
	$('#tableClient').bootstrapTable('refreshOptions', {
	    theadClasses: 'thead-dark',
	    url: url
	});
}

function inquiryUploadTreaty() {
	var type = $('#dropdownTypeCover').val();
	var clientCode = $('#client').val();
	
	var url = /*[[@{/marketing/uploadTreaty/inquiry}]]*/;
	url += '?type=' + type;
	url += '&clientCode=' + clientCode;
	
	$('#tableUploadTreaty').bootstrapTable('refreshOptions', {
  		theadClasses: 'thead-dark',
        url: url
    });
}

$('#tableUploadTreaty').on('click-row.bs.table',function(e, row, $tr) {	
	$('#titlePage').text(/*[[${titlePageEdit}]]*/);
	$('#uploadTreatyCreateEdit').removeAttr('hidden');
	$('#uploadTreatyIndexPage').attr('hidden', true);
	
	$('#ref').val(row.trxTrxId);
	$('#refNum').val(row.trxVoucherId);
	$('#cedant').val(row.cliName);
	$('#h_voucherId').val(row.trxVoucherId);
	$('#h_currency').val(row.trxCurrId);
	$('#h_interest').val(row.trxDescription);
	$('#description').val("Treaty - "+row.trxDescription);	
	$('#rein').val(row.leadReins);
	
});

function back() {
    $('#titlePage').text( /*[[${titlePage}]]*/);
    $('#uploadTreatyCreateEdit').attr('hidden', true);
    $('#uploadTreatyIndexPage').removeAttr('hidden');
    $('#t7-upload').removeAttr('disabled');
    $('#previewReport').attr('hidden', true);
 }

$('#t7-upload').click(function() {
	var msgRequaired = /*[[${M_0008}]]*/;
	
	var file = $('#t7-inputUpload').val();
	
	var filename = $('#t7-inputUpload').val().split('\\').pop();
	
	if(!file.trim()){
		msgRequaired = msgRequaired + ": " + "File" + " ;";
		showAlertFailed(msgRequaired);
	}else{
		validateFileNameExist2().done(function(data) {
			var message = data.isFileNameExist;
			if(message){
				showAlertFailed("File Name already exist!");
			}else{
				$('#t7-upload').attr('disabled', true);
				$('#btnModalYesUpload').removeAttr('disabled');
				$('#modalConfirmationUpload').modal('show');
			}
		}).fail(function() {
			showAlertFailed(/[[${M_0006}]]/);
		});
	}
});
 
function t7AddData2() {
	//========== UPLOAD FILE ==========
	var file_data = $('#t7-inputUpload').prop('files')[0];
	
	var form_data = new FormData();
	var p_CurrId = $('#h_currency').val();
	var p_Officer = $('#h_officer').val();
	var p_Reference = $('#refNum').val();
	var p_Type = $('#ref').val();
	var p_TrxTrxId = $('#ref').val();
	var p_TrxVoucherId = $('#h_voucherId').val();
	var p_Interest = $('#description').val();
	var p_Reins = $('#rein').val();
	var p_Cedant = $('#cedant').val();
	
	form_data.append("file", file_data);
	
	$.ajax({
	    url: /*[[@{/marketing/extension/upload-file}]]*/, 
	    cache: false,
	    contentType: false,
	    processData: false,
	    data: form_data,
	    type: 'post',
	    success: function(data) {
	    	var id = create_UUID();
	    	var arrayPath = $('#t7-inputUpload').val().split("\\");
			
			var file = data;
			var data = {
				file: file,
				p_CurrId : p_CurrId,
				p_Officer: p_Officer,
				p_Reference : p_Reference,
				p_Type : p_Type,
				p_TrxId : p_TrxTrxId,
				p_TrxVoucherId : p_TrxVoucherId,
				p_Interest : p_Interest,
				p_Reins : p_Reins,
				p_Cedant : p_Cedant
			}
			
			$.ajax({
				type: 'POST', 
				global: false, 
				dataType: 'json',  
				contentType:'application/json',
				url: /*[[@{/marketing/uploadTreaty/saveUpload}]]*/, 
				data: JSON.stringify(data),
			    success:function(result){
			    	closeLoading();
					showAlertSuccess();
					$('#description').val('');
					showPreviewReport(result);
					/* var isPrint = $('#DCNvoucher').prop('checked');
					if(isPrint)
	 					showPreviewReport(result); */ 
		        },
		        error:function(result){
		        	closeLoading();
		        	showAlertFailed(/*[[${M_0006}]]*/);
		        	$('#t7-upload').removeAttr('disabled');
		        }
			});
		}
	  });
	//========== UPLOAD FILE ==========
	$('#t7-inputUpload').val('');	
};

function create_UUID() {
    var dt = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (dt + Math.random()*16)%16 | 0;
        dt = Math.floor(dt/16);
        return (c=='x' ? r :(r&0x3|0x8)).toString(16);
    });
    return uuid;
}

function printPreviewClosing(voucherId, insSub, clientName, type) {
	var trxVoucherId = $('#refNum').val();
	var portion = $('#portion').val();
	var upload = $('#t7-inputUpload').val();
	var interestDesc = $('#interest').val();
	var descUpload = $('#description').val();
	
	if(upload != ""){
		portion = "";
	}
	
	if(descUpload != ""){
		interestDesc = $('#interest').val() + " - " + $('#description').val();
	}
	var url = /*[[@{/marketing/uploadTreaty/closing-print}]]*/;
	url += encodeURI('?voucherId=' + voucherId + '&cliName=' + clientName + '&type=' + type + '&trxVoucherId=' + trxVoucherId +
			'&p_Description2Add=' + portion + '&insSub=' + insSub + '&interestDesc=' + interestDesc);
	window.open(url, '_blank');
}

function exportPreviewClosing(voucherId, insSub, cliName, fileName, type) {	
	var trxVoucherId = $('#refNum').val();
	var portion = $('#portion').val();
	var upload = $('#t7-inputUpload').val();
	var interestDesc = $('#interest').val();
	var descUpload = $('#description').val();
	
	if(upload != ""){
		portion = "";
	}
	
	if(descUpload != ""){
		interestDesc = $('#interest').val() + " - " + $('#description').val();
	}
	var url = /*[[@{/marketing/uploadTreaty/closing-document}]]*/;
	url += encodeURI('?voucherId=' + voucherId + '&cliName=' + cliName + '&type=' + type + '&trxVoucherId=' + trxVoucherId +
			'&p_Description2Add=' + portion + '&fileName=' + fileName + '&insSub=' + insSub + '&interestDesc=' + interestDesc
			+ '&modul=' + "treaty");
	window.open(url, '_blank');
}

function showPreviewReport(data) {	
	var trxVoucherId = $('#refNum').val();
	var upload = $('#t7-inputUpload').val();
	var portion = $('#portion').val();
	var interestDesc = $('#interest').val();
	var descUpload = $('#description').val();
			$('#tableSend').bootstrapTable('load', data);
			
			closingIds = [];
			closingType = [];
			closingIsComm = [];
			closingAddDesc2 = [];
			closingInsSub = [];
			closingCliName = [];
			//closingInterDesc = [];
			for(var i=0;i<data.length;i++) {
			    	
					closingIds.push(data[i].voucherId);
					closingType.push(data[i].type);
					closingIsComm.push(data[i].isComm);
					closingInsSub.push(data[i].insSub);
					closingCliName.push(data[i].name);
					
					if(upload != ""){
						closingAddDesc2.push("");
					}else{
						closingAddDesc2.push(portion);
					}
					
					if(descUpload != ""){
						interestDesc = $('#interest').val() + " - " + $('#description').val();
					}
					
			}
			
			var url = /*[[@{/marketing/uploadTreaty/closing-search}]]*/;
			var param = encodeURI('ids=' + closingIds.toString() + '&type=' + closingType.toString() + '&trxVoucherId=' + trxVoucherId
			+ '&p_Description2Add=' + closingAddDesc2 + '&insSub=' + closingInsSub.toString() + '&interestDesc=' + interestDesc  + '&cliName=' + closingCliName.toString());
			
			$('#previewReport').removeAttr('hidden');
			$('#previewReportHtml').load(url, param); 		
}

function validateFileNameExist2(){
	var fileName = $('#t7-inputUpload').val().trim();
	var data = {
			fileName: fileName
	}
	return $.ajax({
		type: 'POST', 
		global: false, 
		dataType: 'json',  
		contentType:'application/json',
		url: /*[[@{/marketing/extension/isFileNameExist}]]*/, 
		data: JSON.stringify(data)
	});
}

/**
 * Modal Confirmation Upload - YES 
 */
 $('#btnModalYesUpload').click(function() {
	$('#btnModalYesUpload').attr('disabled', 'true');
	$('#modalConfirmationUpload').modal('hide');
	showLoading();
	t7AddData2();
 });
 
 	function showLoading() {
		$('#modalLoading').modal('show');
	}
	
	function closeLoading() {
		$('#modalLoading').modal('hide');
	}
 
 function showAlertSuccess() {
		$(location).attr('href','#page-top');
		$('#alertSuccess').fadeTo(2000, 500).slideUp(500, function() {
		    $('#alertSuccess').slideUp(500);
		});	
	}
 
 function showAlertFailed(msgAlert) {
		$(location).attr('href','#page-top');
		$('#alertFailedMsg').text(msgAlert);
		$('#alertFailed').fadeTo(3000, 500).slideUp(500, function() {
		    $('#alertFailed').slideUp(500);
		});
	}
/*]]>*/
</script>
</html>