<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

	<!-- Confirmation -->
	<div th:fragment="confirmation-save">
	  <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalLabelConfirmation" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="modalLabelConfirmation">Confirmation</h5>
	          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        <div class="modal-body" id="modalConfirmationMsg" th:text="${M_0001}"></div>
	        <div class="modal-footer">
	          <button id="btnModalYes" class="btn btn-success" type="button">Yes</button>
	          <button id="btnModalNo" class="btn btn-dark" type="button" data-dismiss="modal">No</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div th:fragment="confirmation-save-v2">
	  <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalLabelConfirmation" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="modalLabelConfirmation">Confirmation</h5>
	          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        <div class="modal-body" id="modalConfirmationMsg">
	        	<span th:text="${M_0001}"></span>
	        	<br><br>
	        	<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input"
						id="printJournal"> <label class="custom-control-label"
						for="printJournal">Print Voucher</label>
				</div>
	        </div>
	         
	        <div class="modal-footer">
	          <button id="btnModalYes" class="btn btn-success" type="button">Yes</button>
	          <button id="btnModalNo" class="btn btn-dark" type="button" data-dismiss="modal">No</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div th:fragment="confirmation-delete">
	  <div class="modal fade" id="modalConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="modalLabelConfirmation" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="modalLabelConfirmation">Confirmation</h5>
	          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        <div class="modal-body" id="modalConfirmationMsg" th:text="${M_0002}"></div>
	        <div class="modal-footer">
	          <button id="btnModalYesDelete" class="btn btn-success" type="button">Yes</button>
	          <button id="btnModalNoDelete" class="btn btn-dark" type="button" data-dismiss="modal">No</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div th:fragment="confirmation-upload-save">
	  <div class="modal fade" id="modalConfirmationUpload" tabindex="-1" role="dialog" aria-labelledby="modalLabelConfirmation" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="modalLabelConfirmation">Confirmation</h5>
	          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
	          </button>
	        </div>
	        <div class="modal-body" id="modalConfirmationMsg" th:text="${M_0001}"></div>
	        <div class="modal-footer">
	          <button id="btnModalYesUpload" class="btn btn-success" type="button">Yes</button>
	          <button id="btnModalNoUpload" class="btn btn-dark" type="button" data-dismiss="modal">No</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div th:fragment="loading-process">
	  <div class="modal fade" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="modalLabelLoading" aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-body">
	        <div class="col-md-12" align="center">
	        	<div class="loader"></div>
	        	<label id="msgLoading">Loading...</label>
	        </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
</body>

</html>