<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/import :: info-header" />
<th:block th:replace="fragments/import :: css-header" />
<th:block th:replace="fragments/import :: js-header" />

<script th:src="@{/js/autoNumeric.min.js}"></script>
</head>

<body id="page-top">
	<th:block th:replace="fragments/general :: navbar-header" />

	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />

		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />


				<!-- CONTENT PAGE -->
				<div id="cart" class="card mb-3">

					<div id="divContentHeader" class="card-header">
						<b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div class="card-body">
						<div id="alertSuccess" class="alert alert-success"
							style="display: none;">
							<strong>Success!</strong> <span id="alertSuccessMsg"
								th:text="${M_0005}"></span>
						</div>
						<div id="alertFailed" class="alert alert-danger"
							style="display: none;">
							<strong>Failed!</strong> <span id="alertFailedMsg"></span>
						</div>
						<div id="journalIndex">
							<div class="row justify-content-end">
								<div class="col-md-2">
									<button id="journalCreate" class="btn btn-primary col-md-12"
										onclick="create()">
										<i class="fa fa-plus"></i> Create
									</button>
								</div>
							</div>
							<br>
							<div class="row justify-content-end">
								<div class="col-md-2">
									<select id="journalFilterKey" name="journalFilterKey"
										class="form-control">
										<option value="glType">Type</option>
										<option value="glVoucherId">Voucher Id</option>
									</select>
								</div>

								<div class="input-group col-md-2">
									<input id="journalFilterValue" name="journalFilterValue"
										type="text" class="form-control">
									<div class="input-group-append">
										<button class="btn btn-primary" type="button"
											onclick="journalFilteredSearch()">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>
							</br>
							<table id="tableJournal" data-toolbar-align="right"
								data-toggle="table" data-sortable="true" data-url=""
								data-side-pagination="server" data-pagination="true"
								data-page-size="5" data-page-list="[5, 10, 25, 50, ALL]">
								<thead>
									<tr>
										<th data-field="glType" data-sortable="true">Type</th>
										<th data-field="glVoucherId" data-sortable="true">Voucher
											ID</th>
										<th data-field="glTrxDateStr" data-sortable="true">Date</th>
										<th data-field="glTrxDesc" data-width="350" data-sortable="true">Description</th>
										<th data-field="glTrxValueIdrStr" data-halign="right"
											data-align="right" data-sortable="true">Amount</th>
										<th data-field="action" data-halign="center"
											data-align="center">Action</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="journalCreateForm" hidden>
							<div class="row justify-content-end">
								<div class="col-md-2">
									<button class="btn btn-danger col-md-12" onclick="back()">
										<i class="fa fa-chevron-left"></i> Back
									</button>
								</div>
							</div>
							</br>
							<div class="row">
								<div class="col-md-2">
									<label>*Activity</label> </br> <select name="activity" id="activity"
										class="form-control col-md-12" required>
										<option value="OP">Operating</option>
										<option value="IN">Investing</option>
										<option value="FI">Financing</option>
									</select>
								</div>
								<div class="col-md-2">
									<label>*Type</label> </br> <select name="type" id="type"
										class="form-control col-md-12" required>
										<option value="PY">Payment</option>
										<option value="RC">Received</option>
										<option value="PU">Buy</option>
										<option value="SE">Sell</option>
										<option value="OT">Other</option>
									</select>
								</div>

								<div class="col-md-2">
									<label>*Voucher</label> </br>
									<div class="input-group">
										<input id="voucher" name="voucher" type="text"
											class="form-control" disabled />
									</div>
								</div>

								<div class="col-md-2">
									<label>*Transaction</label> </br>
									<div class="input-group">
										<input id="transaction" name="transaction" type="text"
											class="form-control" placeholder="dd/MM/yyyy" disabled>
										<div class="input-group-append">
											<button id='btnTransaction' class="btn btn-primary"
												type="button">
												<i class="fas fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>

								<div class="col-md-2">
									<label>*Project</label> </br> <select name="project" id="project"
										class="form-control col-md-12" required="true">
										<option value=""></option>
									</select>
								</div>

								<div class="col-md-2">
									<label>*Office</label> </br> <select name="office" id="office"
										class="form-control col-md-12" required="true">
										<option value=""></option>
									</select>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-8">
									<label>Description</label> <br>
									<textarea class="form-control" id="description"
										name="description" rows="4"></textarea>
								</div>
								<div class="col-md-4">
									<label>Remark</label> <br>
									<textarea class="form-control" id="remark" name="remark"
										rows="4"></textarea>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-5">
									<label>Client</label> </br>
									<div class="input-group">
										<input id="clientDesc" name="clientDesc" type="text"
											class="form-control" disabled> <input id="client"
											name="client" type="text" class="form-control" disabled
											hidden="true" />

										<div class="input-group-append">
											<button id='btnClientSearch' class="btn btn-primary"
												type="button" data-toggle="modal"
												data-target="#client-modal">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<label>*Due Date</label> </br>
									<div class="input-group">
										<input id="dueDate" name="dueDate" type="text"
											class="form-control" disabled>
										<div class="input-group-append">
											<button id='btnDueDate' class="btn btn-primary" type="button">
												<i class="fas fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div id="cart" class="card mb-3">
								<div class="card-body">
									<div class="row">
										<div class="col-md-3">
											<label>*Chart of Account</label> </br>
											<div class="input-group">
												<input id="coa" name="coa" type="text" class="form-control"
													disabled>
												<div class="input-group-append">
													<button id='btnCoaSearch' class="btn btn-primary"
														type="button" data-toggle="modal" data-target="#coa-modal">
														<i class="fas fa-search"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<label>Description</label> </br> <input type="text"
												name="coaDescript" id="coaDescript" value=""
												class="form-control col-md-12" disabled />
										</div>
										<div class="col-md-1">
											<label>Curr</label> </br> <input type="text" name="curr" id="curr"
												value="IDR" class="form-control col-md-12" disabled />
										</div>
										<div class="col-md-2">
											<label>*Exchange</label><br> <input type="text"
												class="form-control col-md-12" id="exchange"
												style="text-align: right;" placeholder="0.00" required>
											<input type="hidden" id="h_exchange" />
										</div>
										<br>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">
											<label>*Debit</label><br> <input type="text"
												class="form-control col-md-12" id="debit"
												style="text-align: right;" placeholder="0.00" required>
											<input type="hidden" id="h_debit" />
										</div>
										<div class="col-md-3">
											<label>*Credit</label><br> <input type="text"
												class="form-control col-md-12" id="credit"
												style="text-align: right;" placeholder="0.00" required>
											<input type="hidden" id="h_credit" />
										</div>
									</div>
									<br>
									<div class="row justify-content-end">
										<div class="col-md-1">
											<button id="add" class="btn btn-success col-md-12"
												onclick="add()">Add</button>
										</div>
									</div>
								</div>
							</div>
							<table id="addTable" data-toggle="table" data-unique-id="id">
								<thead>
									<tr>
										<th data-field="id">id</th>
										<th data-field="coa">Coa</th>
										<th data-field="coaDescript">Description</th>
										<th data-field="curr">Curr</th>
										<th data-field="exchange" data-halign="right"
											data-align="right">Exchange</th>
										<th data-field="debit" data-halign="right" data-align="right">Debit</th>
										<th data-field="debitIdr" data-halign="right"
											data-align="right">Debit(IDR)</th>
										<th data-field="credit" data-halign="right" data-align="right">Credit</th>
										<th data-field="creditIdr" data-halign="right"
											data-align="right">Credit(IDR)</th>
										<th data-field="action" data-halign="center"
											data-align="center">Action</th>
									</tr>
								</thead>
							</table>
							<br>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									id="printJournal"> <label class="custom-control-label"
									for="printJournal">Print Journal</label>
							</div>
							</br>
							<th:block th:replace="fragments/button :: btn-save-reset" />
						</div>

						<div id="previewJournal" class="card-body" hidden="true">
							<div class="row justify-content-end">
								<button id="btnExportXls" class="btn btn-success col-md-2">
									Export to Excel</button>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<button id="btnPrint" class="btn btn-secondary col-md-1">
									Print</button>
							</div>
							
							<div id="previewJournalHtml" class="viewHtml">
								
							</div>
							<br>
							<div class="row justify-content-center">
								<button id="btnClosePreviewJournal" type="button" class="btn btn-danger col-md-2">Close</button>
							</div>
						</div>

					</div>
				</div>


				<!-- Modal Client -->

				<div class="modal fade" id="client-modal" tabindex="-1"
					role="dialog" aria-labelledby="client-modal" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="client-modal-label">Client</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row card-body justify-content-end">
									<div class="col-md-3">
										<select id="clientSelector" name="clientSelector"
											class="custom-select">
											<option value="cliName">Name</option>
											<option value="cliCode">Client Id</option>
										</select>
									</div>
									<div class="input-group col-md-3">
										<input id="clientFilterValue" type="text" class="form-control">
										<div class="input-group-append">
											<button id="clientFilterSearchBtn" class="btn btn-primary"
												type="button" onclick="clientFilteredSearch()">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<br>
								<table id="tableClient" data-toggle="table" data-url=""
									data-sortable="true" data-side-pagination="server"
									data-pagination="true" data-page-size="5"
									data-page-list="[5, 10, 25, 50, ALL]">
									<thead>
										<tr>
											<th data-field="cliCode" data-sortable="true">Client ID</th>
											<th data-field="cliName" data-sortable="true">Client
												Name</th>
											<th data-field="cliDataStatusStr">Status</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- /Modal Client -->

				<!-- Modal Coa -->

				<div class="modal fade" id="coa-modal" tabindex="-1" role="dialog"
					aria-labelledby="coa-modal" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="client-modal-label">Chart of
									Account</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row card-body justify-content-end">
									<div class="col-md-3">
										<select id="coaSelector" name="coaSelector"
											class="custom-select">
											<option value="coaCode">Account</option>
											<option value="coaDescript">Description</option>
										</select>
									</div>
									<div class="input-group col-md-3">
										<input id="coaFilterValue" type="text" class="form-control">
										<div class="input-group-append">
											<button id="coaFilterSearchBtn" class="btn btn-primary"
												type="button" onclick="coatFilteredSearch()">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<br>
								<table id="tableCoa" data-toggle="table" data-url=""
									data-sortable="true" data-side-pagination="server"
									data-pagination="true" data-page-size="5"
									data-page-list="[5, 10, 25, 50, ALL]">
									<thead>
										<tr>
											<th data-field="coaCode" data-sortable="true">Account</th>
											<th data-field="coaDescript" data-sortable="true">Description</th>
											<th data-field="coaCurrId">Currency</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- /Modal Coa -->

			</div>
			<!-- /.container-fluid -->
			<th:block th:replace="fragments/general :: copyright-footer"></th:block>
		</div>
		<!-- /.content-wrapper -->
	</div>
	
	<!-- /#wrapper -->
	<th:block th:replace="fragments/modal :: confirmation-save" />
	<th:block th:replace="fragments/modal :: confirmation-delete" />
	<th:block th:replace="fragments/general :: scroll-to-top" />
	<th:block th:replace="fragments/general :: logout-modal" />
	<th:block th:replace="fragments/import :: js-body" />

</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	const formatter = new Intl.NumberFormat('en-US', {
  			style: 'currency',
  			currency: 'USD',
  			minimumFractionDigits: 2
	});
	
	var xhttp = new XMLHttpRequest();
	
	var objectEdit = null;
	$('document').ready(function(){
		$('#journalFilterKey').select2({ width: '100%' });
		$('#activity').select2({ width: '100%' });
		$('#type').select2({ width: '100%' });
		$('#clientSelector').select2({ width: '100%' });
		$('#coaSelector').select2({ width: '100%' });
		
		$('#tableJournal').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: /*[[@{/accounting/entry-journal/inquiry}]]*/
		});
		
		$.ajax({
	        url: "/gui-re-broker/accounting/entry-journal/dropdown-project",
	        
	    }).then(function(data) {
	    	
	    	$('#project').select2({
	  		  width: '100%',
	  		  data:(JSON.parse(data)).results
	  		});
	    });
		$("#project option[value='']").remove();
		
		$.ajax({
	        url: "/gui-re-broker/accounting/entry-journal/dropdown-office",
	        
	    }).then(function(data) {
	    	
	    	$('#office').select2({
	  		  width: '100%',
	  		  data:(JSON.parse(data)).results
	  		});
	    });
		$("#office option[value='']").remove();
		
		
		$('#btnTransaction').click(function() {
			$('#transaction').datepicker('show');
		});
		
		$('#btnClientSearch').click(function() {
			$('#clientFilterValue').val('');
			
			$('#clientSelector').val('cliName').trigger('change');
			
			
			$('#tableClient').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: /*[[@{/accounting/entry-journal/client}]]*/
			});
		});
		
		$('#tableClient').on('click-row.bs.table',function(e, row, $tr) {
			$('#client').val(row.cliCode);
			$('#clientDesc').val(row.cliName);
			$('#client-modal').modal('hide');
		});
		
		$('#btnDueDate').click(function() {
			$('#dueDate').datepicker('show');
		});
		
		$('#transaction').change(function() {
			
			$('#dueDate').datepicker('option','minDate', $('#transaction').val());
			$('#dueDate').datepicker('setDate', $('#transaction').val());
			$.ajax({
		        url: "/gui-re-broker/accounting/entry-journal/voucher-code?date="+$('#transaction').val(),
		    }).then(function(data) {
		    	$('#voucher').val(data);
		    });
		});
		
		$('#btnCoaSearch').click(function() {
			$('#coaFilterValue').val('');
			
			$('#coaSelector').val('coaCode').trigger('change');
			
			
			$('#tableCoa').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: /*[[@{/accounting/entry-journal/coa}]]*/
			});
		});
		new AutoNumeric('#exchange', {
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    maximumValue : '10000000000000000000'
		});
		new AutoNumeric('#debit', {
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    maximumValue : '10000000000000000000'
		});
		new AutoNumeric('#credit', {
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    maximumValue : '10000000000000000000'
		});
		
		$('#exchange').change(function() {
			if($('#exchange').val() == ""){
				AutoNumeric.getAutoNumericElement('#exchange').set('0.00');
			}
		});
		
		$('#debit').change(function() {
			if($('#debit').val() == ""){
				AutoNumeric.getAutoNumericElement('#debit').set('0.00');
			}
		});
		
		$('#credit').change(function() {
			if($('#credit').val() == ""){
				AutoNumeric.getAutoNumericElement('#credit').set('0.00');
			}
		});
		
		$('#tableCoa').on('click-row.bs.table',function(e, row, $tr) {
			$('#coa').val(row.coaCode);
			$('#coaDescript').val(row.coaDescript);
			$('#curr').val(row.coaCurrId);
			
			$.ajax({
		        url: "/gui-re-broker/accounting/entry-journal/exchange?date="+$('#transaction').val()+"&curr="+$('#curr').val(),
		    }).then(function(data) {
		    	AutoNumeric.getAutoNumericElement('#exchange').set(data);
		    });
			
			
			$('#coa-modal').modal('hide');
		});
		
		
		$('#btnSave').click(function() {
			var rows = $('#addTable').bootstrapTable('getData');
			var totalDebit = parseFloat(rows[rows.length-1].debitIdr.replace(/,/g, ""));
			var totalCredit = parseFloat(rows[rows.length-1].creditIdr.replace(/,/g, ""));
			if(validateSave(totalDebit, totalCredit)){
				$('#modalConfirmation').modal('show');
			}
			
		});
		$('#btnModalYes').click(function() {
			save();
			if($('#printJournal').prop('checked') == true ){
				showPreviewJournal();
				$('#btnSave').attr('disabled', true);
				$('#btnReset').attr('disabled', true);
			}
			
		});
		
		$('#btnClosePreviewJournal').click(function() {
			location.reload();
		});
		
		$('#btnModalYesDelete').click(function() {
			removeProcess();
		});
		
		$('#btnReset').click(function() {
			reset();
		});
		
		$('#btnExportXls').click(function() {
			exportXsl();
		});
		$('#btnPrint').click(function() {
			print();
		});
		
	});
	
	function showPreviewJournal(){
		var activity = $('#activity').val();
		var type = $('#type').val();
		var voucher = $('#voucher').val();
		var transaction = $('#transaction').val();
		var project = $('#project').val();
		var office = $('#office').val();
		
		var remark = $('#remark').val();
		
		var client = $('#client').val();
		var dueDate = $('#dueDate').val();
		
		var voucherId = activity+"-"+type+"-"+voucher;
		
		var url = '/gui-re-broker/accounting/entry-journal/print-journal';
		var param = "";
		param = param+"voucher="+voucher+"&";
		param = param+"transactionDate="+transaction+"&";
		param = param+"dueDate="+dueDate+"&";
		param = param+"voucherId="+voucherId+"&";
		param = param+"client="+client;
		
		param = encodeURI(param);
		
		$('#previewJournal').removeAttr('hidden');
		$('#previewJournalHtml').load(url, param);
	}
	
	function exportXsl(){
		var activity = $('#activity').val();
		var type = $('#type').val();
		var voucher = $('#voucher').val();
		var transaction = $('#transaction').val();
		var project = $('#project').val();
		var office = $('#office').val();
		
		var remark = $('#remark').val();
		
		var client = $('#client').val();
		var dueDate = $('#dueDate').val();
		
		var voucherId = activity+"-"+type+"-"+voucher;
		var url = '/gui-re-broker/accounting/entry-journal/export-excel?';
		
		var param = "";
		param = param+"voucher="+voucher+"&";
		param = param+"transactionDate="+transaction+"&";
		param = param+"dueDate="+dueDate+"&";
		param = param+"voucherId="+voucherId+"&";
		param = param+"client="+client;
		
		param = encodeURI(param);
		
		window.open(url+param, '_blank');
	}
	
	function print(){
		var activity = $('#activity').val();
		var type = $('#type').val();
		var voucher = $('#voucher').val();
		var transaction = $('#transaction').val();
		var project = $('#project').val();
		var office = $('#office').val();
		
		var remark = $('#remark').val();
		
		var client = $('#client').val();
		var dueDate = $('#dueDate').val();
		
		var voucherId = activity+"-"+type+"-"+voucher;
		
		var url = '/gui-re-broker/accounting/entry-journal/print?';
		var param = "";
		param = param+"voucher="+voucher+"&";
		param = param+"transactionDate="+transaction+"&";
		param = param+"dueDate="+dueDate+"&";
		param = param+"voucherId="+voucherId+"&";
		param = param+"client="+client;
		
		param = encodeURI(param);
		
		window.open(url+param, '_blank');
	}
	
	function create(){
		$('#titlePage').text(/*[[${titlePageCreate}]]*/);
		$('#journalCreateForm').removeAttr('hidden');
		$('#journalIndex').attr('hidden', true);
		
		reset();
	}
	
	function back(){
		$('#titlePage').text(/*[[${titlePage}]]*/);
		
		$('#journalFilterKey').val('glType'); // Select the option with a value of '1'
		$('#journalFilterKey').trigger('change');
		$('#journalFilterValue').val("");
		$('#tableJournal').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: /*[[@{/accounting/entry-journal/inquiry}]]*/
		});
		
		$('#journalCreateForm').attr('hidden', true);
		$('#journalIndex').removeAttr("hidden");
		objectEdit = null;
	}
	
	function journalFilteredSearch(){
		var url = "/gui-re-broker/accounting/entry-journal/inquiry";
		var filterKey = $( "#journalFilterKey" ).select2('val');
		var filterValue = $( "#journalFilterValue" ).val();
		var allUrl = url
		
		if(filterValue != ""){
			var allUrl = url+"?filterKey="+filterKey+"&filterValue="+filterValue;
		}
		
		$('#tableJournal').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: allUrl
		});
	}
	
	function clientFilteredSearch(){
		var url = "/gui-re-broker/accounting/entry-journal/client";
		var filterKey = $( "#clientSelector" ).select2('val');
		var filterValue = $( "#clientFilterValue" ).val();
		var allUrl = url
		
		if(filterValue != ""){
			var allUrl = url+"?filterKey="+filterKey+"&filterValue="+filterValue;
		}
		
		$('#tableClient').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: allUrl
		});
	}
	
	function coatFilteredSearch(){
		var url = "/gui-re-broker/accounting/entry-journal/coa";
		var filterKey = $( "#coaSelector" ).select2('val');
		var filterValue = $( "#coaFilterValue" ).val();
		var allUrl = url
		
		if(filterValue != ""){
			var allUrl = url+"?filterKey="+filterKey+"&filterValue="+filterValue;
		}
		
		$('#tableCoa').bootstrapTable('refreshOptions', {
		    theadClasses: 'thead-dark',
		    url: allUrl
		});
	}
	
	function add(){
		if(validateAdd()){
			var coa = $('#coa').val();
			var coaDescript = $('#coaDescript').val();
			var curr = $('#curr').val();
			var exchange = parseFloat(AutoNumeric.getAutoNumericElement('#exchange').get());
			var debit = parseFloat(AutoNumeric.getAutoNumericElement('#debit').get());
			var debitIdr = exchange * debit;
			var credit = AutoNumeric.getAutoNumericElement('#credit').get();
			var creditIdr = exchange * credit;
			
			var rows = $('#addTable').bootstrapTable('getData');
			
			var totalDebit = parseFloat(rows[rows.length-1].debitIdr.replace(/,/g, ""))+debitIdr;
			var totalCredit = parseFloat(rows[rows.length-1].creditIdr.replace(/,/g, ""))+creditIdr;
			
			rows.splice(rows.length - 1);
			var id = create_UUID();
			var action = "<button class=\"btn btn-secondary\" onclick=\"editAdd('"+id+"')\">" 
			+ "<i class=\"fa fa-edit\"></i>" 
			+ "	</button> &nbsp;"
			+ "<button class=\"btn btn-danger\" onclick=\"removeAdd('"+id+"')\">" 
			+ "<i class=\"fa fa-trash\"></i>" 
			+ "</button>";
			rows.push({
				id:id,
				coa:coa,
				coaDescript:coaDescript,
				curr:curr,
				exchange:formatter.format(exchange).replace('$', ''),
				debit:formatter.format(debit).replace('$', ''),
				debitIdr:formatter.format(debitIdr).replace('$', ''),
				credit:formatter.format(credit).replace('$', ''),
				creditIdr:formatter.format(creditIdr).replace('$', ''),
				action:action
		    });
			
			
		    rows.push({
		    	id:create_UUID(),
				coa:"",
				coaDescript:"",
				curr:"",
				exchange:"",
				debit:"<b>Total :</b>",
				debitIdr:formatter.format(totalDebit).replace('$', ''),
				credit:"",
				creditIdr:formatter.format(totalCredit).replace('$', ''),
				action:""
		    });
			
			$('#addTable').bootstrapTable('load', rows);
			$('#coa').val('');
			$('#coaDescript').val('');
			$('#curr').val('IDR');
			AutoNumeric.getAutoNumericElement('#exchange').set('0.00');
			AutoNumeric.getAutoNumericElement('#debit').set('0.00');
			AutoNumeric.getAutoNumericElement('#credit').set('0.00');
		}		
	}
	
	function save(){
		$('#btnModalyes').attr('disabled', true);
		var activity = $('#activity').val();
		var type = $('#type').val();
		var voucher = $('#voucher').val();
		var transaction = $('#transaction').val();
		var project = $('#project').val();
		var office = $('#office').val();
		
		var description = $('#description').val();
		var remark = $('#remark').val();
		
		var client = $('#client').val();
		var dueDate = $('#dueDate').val();
		
		var rows = $('#addTable').bootstrapTable('getData');
		
		
		var rowsData = [];
		for(var i = 0 ; i<(rows.length-1) ;i++){
			rowsData.push(rows[i]);
		}
		
		var data = {
			activity:activity,
			type:type,
			voucher:voucher,
			transaction:transaction,
			project:project,
			office:office,
			description:description,
			remark:remark,
			client:client,
			dueDate:dueDate,
			rows:rowsData
		}
		$.ajax({ 
	        type: "POST",
	        dataType: "json",
	        contentType: "application/json",
	        data:JSON.stringify(data),
	        url: "/gui-re-broker/accounting/entry-journal/save",
	        complete:function(jqXHR, textStatus){
	 			if(textStatus == "success") {
	 				showAlertSuccess();
	 			}else {
	 				showAlertFailed(/*[[${M_0006}]]*/);
	 			} 
	        }
	       
	    });	
		
		$('#btnModalyes').removeAttr('disabled');
	 	$('#modalConfirmation').modal('hide');
	 	
	 	return true;
	}
	
	function reset(){
		if(objectEdit != null){
			$('#activity').val(objectEdit.activity).trigger('change');
    		$('#type').val(objectEdit.type).trigger('change');		
			$('#voucher').val(objectEdit.voucher);
			$('#transaction').datepicker({
				dateFormat: 'dd/mm/yy',
			}).datepicker('setDate', objectEdit.transaction);
			$('#btnTransaction').attr('disabled', true);
			$('#description').val(objectEdit.description);
			$('#remark').val(objectEdit.remark);
			$('#client').val(objectEdit.client);
			$('#clientDesc').val(objectEdit.clientDesc);
			$('#dueDate').datepicker({
				dateFormat: 'dd/mm/yy',
			}).datepicker('setDate', objectEdit.dueDate);
			$('#btnDueDate').attr('disabled', true);
			
			var rowsData = objectEdit.rowsData;
			var rows = [];
			var totalDebit = 0;
			var totalCredit = 0;
			
			for(var i = 0 ; i < objectEdit.rowsData.length ; i++){
				var id = create_UUID();
				var url = "/gui-re-broker/accounting/entry-journal/coa?filterKey=coaCode&filterValue="+rowsData[i].glAccount;
				var action = "<button class=\"btn btn-secondary\" onclick=\"editAdd('"+id+"')\">" 
				+ "<i class=\"fa fa-edit\"></i>" 
				+ "	</button> &nbsp;"
				+ "<button class=\"btn btn-danger\" onclick=\"removeAdd('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				var addData = {
					id:id,
					coa:objectEdit.rowsData[i].glAccount,
					curr:objectEdit.rowsData[i].glCurrId,
					exchange:objectEdit.rowsData[i].glCurrRateStr,
					debit:objectEdit.rowsData[i].glOrgDebitStr,
					debitIdr:objectEdit.rowsData[i].glIdrDebitStr,
					credit:objectEdit.rowsData[i].glOrgCreditStr,
					creditIdr:objectEdit.rowsData[i].glIdrCreditStr,
					action:action
				}
				
				xhttp.open("GET", url, false);
				xhttp.send();
				var result = JSON.parse(xhttp.responseText);
				
				addData.coaDescript=result.rows[0].coaDescript;
		    	
				totalDebit = totalDebit+(objectEdit.rowsData[i].glIdrDebit);
				totalCredit = totalCredit+(objectEdit.rowsData[i].glIdrCredit);
				
				rows.push(addData);
			}
			rows.push({
		    	id:create_UUID(),
				coa:"",
				coaDescript:"",
				curr:"",
				exchange:"",
				debit:"<b>Total :</b>",
				debitIdr:formatter.format(totalDebit).replace('$', ''),
				credit:"",
				creditIdr:formatter.format(totalCredit).replace('$', ''),
				action:""
		    });
		    $('#addTable').bootstrapTable('load', rows);
		    
		    
		}else{
			$('#activity').val('OP').trigger('change');
			$('#type').val('PY').trigger('change');
			
			$('#transaction').datepicker({
				dateFormat: 'dd/mm/yy',
		  		minDate: /*[[${transactionMinDate}]]*/
			}).datepicker('setDate', /*[[${appDate}]]*/);
			$('#btnTransaction').removeAttr('disabled')
			
			$.ajax({
		        url: "/gui-re-broker/accounting/entry-journal/voucher-code?date="+$('#transaction').val(),
		    }).then(function(data) {
		    	$('#voucher').val(data);
		    });
			
			$('#project').val('00000').trigger('change');
			$('#office').val('0').trigger('change');
			
			$('#description').val('');
			$('#remark').val('');
			
			$('#client').val('');
			$('#clientDesc').val('');
			$('#dueDate').datepicker({
				dateFormat: 'dd/mm/yy',
			}).datepicker('setDate', /*[[${appDate}]]*/);
			$('#dueDate').datepicker('option','minDate', $('#transaction').val());
			$('#btnDueDate').removeAttr('disabled')
			
			var rows = [];
			rows.push({
				id:create_UUID(),
				coa:"",
				coaDescript:"",
				curr:"",
				exchange:"",
				debit:"<b>Total :</b>",
				debitIdr:"0.00",
				credit:"",
				creditIdr:"0.00",
				action:""
		    })
			$('#addTable').bootstrapTable('load', rows);
		}
		$('#printJournal').prop('checked', false);
		$('#coa').val('');
		$('#coaDescript').val('');
		$('#curr').val('IDR');
		AutoNumeric.getAutoNumericElement('#exchange').set('0.00');
		AutoNumeric.getAutoNumericElement('#debit').set('0.00');
		AutoNumeric.getAutoNumericElement('#credit').set('0.00');
		
		$('#addTable').bootstrapTable('hideColumn', 'id');
	}
	
	function edit(voucherIdEdit){
		var data = {
			voucherId:voucherIdEdit
		}
		$.ajax({ 
	        type: "POST",
	        dataType: "json",
	        contentType: "application/json",
	        data:JSON.stringify(data),
	        url: "/gui-re-broker/accounting/entry-journal/edit",
	    }).then(function(resultObject){
	    	objectEdit = {
	    		activity:resultObject.tR0001Entity.glTrxClass,
	    		type:resultObject.tR0001Entity.glType,
	    		voucher:resultObject.tR0001Entity.glVoucherId,
	    		transaction:resultObject.tR0001Entity.glTrxDateStr,
	    		description:resultObject.tR0001Entity.glTrxDesc,
	    		remark:resultObject.tR0001Entity.glTrxInvoice,
	    		client:resultObject.tR0001Entity.glTrxClient,
	    		clientDesc:resultObject.tR0001Entity.glTrxClientDesc,
	    		dueDate:resultObject.tR0001Entity.glTrxDueStr,
	    		rowsData:resultObject.listTR0002Entity
	    	}
	    	reset();
		    
		    $('#titlePage').text(/*[[${titlePageEdit}]]*/);
			$('#journalCreateForm').removeAttr('hidden');
			$('#journalIndex').attr('hidden', true);
	    });	
		
	}
	
	var voucherId = null;
	function remove(voucherId){
		$('#modalConfirmationDelete').modal('show');
		this.voucherId = voucherId;
	}
	function removeProcess(){
		var data = {
			voucherId:this.voucherId
		};
		
		$.ajax({ 
		    type: "POST",
		    dataType: "json",
		    contentType: "application/json",
		    data:JSON.stringify(data),
		    url: "/gui-re-broker/accounting/entry-journal/remove",
		}).then(function(resultObject){
			showAlertSuccess();
			this.voucherId = null
		});
		$('#modalConfirmationDelete').modal('hide');
	}
	
	function editAdd(id){
		var editRow = $('#addTable').bootstrapTable('getRowByUniqueId', id);
		$('#coa').val(editRow.coa);
		$('#coaDescript').val(editRow.coaDescript);
		$('#curr').val(editRow.curr);
		
		
		AutoNumeric.getAutoNumericElement('#exchange').set(editRow.exchange);
		AutoNumeric.getAutoNumericElement('#debit').set(editRow.debit);
		AutoNumeric.getAutoNumericElement('#credit').set(editRow.credit);
		
		$('#addTable').bootstrapTable('removeByUniqueId', id)
		var rows = $('#addTable').bootstrapTable('getData');
		var totalDebit = 0;
		var totalCredit = 0;
		for(var i = 0 ; i < (rows.length-1) ; i++){
			if(rows[i].id != id){
				totalDebit = totalDebit + parseFloat(rows[i].debitIdr.replace(/,/g, ""));
				totalCredit = totalCredit + parseFloat(rows[i].creditIdr.replace(/,/g, ""));
			}
		}
		rows.splice(rows.length - 1);
		rows.push({
	    	id:create_UUID(),
			coa:"",
			coaDescript:"",
			curr:"",
			exchange:"",
			debit:"<b>Total :</b>",
			debitIdr:formatter.format(totalDebit).replace('$', ''),
			credit:"",
			creditIdr:formatter.format(totalCredit).replace('$', ''),
			action:""
	    });
		$('#addTable').bootstrapTable('load', rows);
	}
	
	function removeAdd(id){
		$('#addTable').bootstrapTable('removeByUniqueId', id)
		var rows = $('#addTable').bootstrapTable('getData');
		var totalDebit = 0;
		var totalCredit = 0;
		for(var i = 0 ; i < (rows.length-1) ; i++){
			if(rows[i].id != id){
				totalDebit = totalDebit + parseFloat(rows[i].debitIdr.replace(/,/g, ""));
				totalCredit = totalCredit + parseFloat(rows[i].creditIdr.replace(/,/g, ""));
			}
			
		}
		rows.splice(rows.length - 1);
		rows.push({
	    	id:create_UUID(),
			coa:"",
			coaDescript:"",
			curr:"",
			exchange:"",
			debit:"<b>Total :</b>",
			debitIdr:formatter.format(totalDebit).replace('$', ''),
			credit:"",
			creditIdr:formatter.format(totalCredit).replace('$', ''),
			action:""
	    });
		$('#addTable').bootstrapTable('load', rows);
	}
	
	function create_UUID(){
	    var dt = new Date().getTime();
	    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
	        var r = (dt + Math.random()*16)%16 | 0;
	        dt = Math.floor(dt/16);
	        return (c=='x' ? r :(r&0x3|0x8)).toString(16);
	    });
	    return uuid;
	}
	
	function showAlertSuccess() {
		 
		if($('#printJournal').prop('checked') == false ){
			$(location).attr('href','#page-top');
			$('#alertSuccess').fadeTo(2000, 500).slideUp(500, function() {
			    $('#alertSuccess').slideUp(500);
			    location.reload();
			});
		}
		
		
	}
	
	function showAlertFailed(msgAlert) {
		$(location).attr('href','#page-top');
		$('#alertFailedMsg').text(msgAlert);
		$('#alertFailed').fadeTo(3000, 500).slideUp(500, function() {
		    $('#alertFailed').slideUp(500);
		    $('#btnSave').removeAttr('disabled')
		});
	}
	
	function validateAdd(){
		var coa = $('#coa').val()
		var exchange = parseFloat(AutoNumeric.getAutoNumericElement('#exchange').get());
		var debit = parseFloat(AutoNumeric.getAutoNumericElement('#debit').get());
		var credit = AutoNumeric.getAutoNumericElement('#credit').get();
		if(coa == ""){
			showAlertFailed("Chart of Account not found");
			return false;
		}else if(exchange <= 0){
			showAlertFailed("Exchange can not be <= 0");
			return false;
		}else if(debit == 0.00 && credit == 0.00){
			showAlertFailed("Debit or Credit = 0, can't be both = 0");
			return false;
		}else if(debit > 0 && credit > 0){
			showAlertFailed("Debit or Credit > 0, can't be both > 0");
			return false;
		}else if(debit < 0 || credit < 0){
			showAlertFailed("Debit or Credit can't be negative value");
			return false;
		}
			
		return true;
	}
	
	function validateSave(totalDebit, totalCredit){
		if(totalDebit != totalCredit){
			showAlertFailed("Total Debit (IDR) must be equal to total credit (IDR)");
			return false;
		}
		return true;
	}
	
	
	/*]]>*/
</script>

</html>