<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/import :: info-header" />
<th:block th:replace="fragments/import :: css-header" />
<th:block th:replace="fragments/import :: js-header" />
<link href="css/jquery-ui.min.css" th:href="@{/css/richtext.min.css}"
	rel="stylesheet">

<script th:src="@{/js/autoNumeric.min.js}"></script>
</head>

<body id="page-top">
	<div th:fragment="endorsement">
	<th:block th:replace="fragments/general :: navbar-header" />

	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />

		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />

				<div id="cart" class="card mb-3">
					<div id="divContentHeader" class="card-header">
						<b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div id="alertSuccess" class="alert alert-success"
						style="display: none;">
						<strong>Success!</strong> <span id="alertSuccessMsg"
							th:text="${M_0005}"></span>
					</div>
					<div id="alertFailed" class="alert alert-danger"
						style="display: none;">
						<strong>Failed!</strong> <span id="alertFailedMsg"></span>
					</div>
					<div id="directModifyIndex">
						<div class="card-body">
							<div class="row">
								<div class="col-md-2">
									<label>Type of Cover</label>
								</div>
								<div class="col-md-3">
									<select name="typeOfCover" id="typeOfCover" class="form-control" required>
										<option value="ALL">ALL</option>
									</select>
								</div>
							</div>
							
							<br>
							
							<div class="row">
								<div class="col-md-2">
									<label>Client</label>
								</div>
								<div class="col-md-3">
									<div class="input-group">
										<input id="clientDesc" name="clientDesc" type="text"
											class="form-control" disabled> 
										<input id="client" name="client" type="text" 
											class="form-control" hidden="true" disabled/>
				
										<div class="input-group-append">
											<button id='btnClientSearch' class="btn btn-primary"
												type="button" data-toggle="modal"
												data-target="#client-modal">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							
							<br>
							<br>
							
							<th:block th:replace="fragments/button :: btn-search-reset" />
							
							<br>
							
							<table id="trxTable" data-toolbar-align="right" data-toggle="table"
								data-sortable="true" data-url="" data-side-pagination="server"
								data-pagination="true" data-page-size="5" data-unique-id="idKey"
								data-pagination-v-align="top" data-page-list="[5, 10, 25, 50, ALL]">
								<thead>
									<tr>
										<th data-field="trxClosingDateFmt" data-sortable="true">Date</th>
										<th data-field="trxTrxId" data-sortable="true">Type</th>
										<th data-field="trxVoucherId" data-sortable="true">Voucher ID</th>
										<th data-field="trxCoverCode" data-sortable="true">Type Of Cover</th>
										<th data-field="clientName" data-sortable="true">Client</th>
										<th data-field="trxInsuredName">Description</th>
										<th data-field="trxInsStartFmt">Period</th>
										<th data-field="trxInsEndFmt"></th>
										<th data-field="trxCurrId">Curr</th>
										<th data-field="trxTsiAmountStr" data-halign="right" data-align="right">TSI</th>
										<th data-field="trxRemarks">Policy No</th>
										<th data-field="status">Status</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					
					<div id="modify" hidden="true">
						<div class="card-body">
						
						<div class="row justify-content-end">
							<div class="col-md-2">
								<button id="btnBack" class="btn btn-danger col-md-12">
									<i class="fa fa-chevron-left"></i> Back
								</button>
							</div>
						</div>	
						
						<br>
						
						<div class="row">
							<input type="hidden" id="trxVoucherId"/>
							<div class="col-md-1">
								<label>Client</label>
							</div>
							<div class="col-md-4">
								<input name="infoClient" id="infoClient" class="form-control" disabled>
							</div>
							
							<div class="col-md-1">
								<label>Type of Cover</label>
							</div>
							<div class="col-md-1">
								<input name="infoTypeOfCover" id="infoTypeOfCover" class="form-control" disabled>
							</div>
							
							<div class="col-md-1">
								<label>Description</label>
							</div>
							<div class="col-md-4">
								<input name="infoDescription" id="infoDescription" class="form-control" disabled>
							</div>
						</div>
						
						<br>
						
						<div class="row">
							<div class="col-md-1">
								<label>Curr</label>
							</div>
							<div class="col-md-1">
								<input name="infoCurr" id="infoCurr" class="form-control" disabled>
							</div>
							<div class="col-md-3">
								<input name="infoTsi" id="infoTsi" class="form-control"
									style="text-align: right;" placeholder="0.00" disabled>
							</div>
							
							<div class="col-md-1">
								<label>Policy No.</label>
							</div>
							<div class="col-md-4">
								<input name="infoPolicyNo" id="infoPolicyNo" class="form-control" disabled>
							</div>
						</div>
						
						<br>
						
						<div class="card mb-3">
							<div class="card-body">
								<table id="trxModify" data-toggle="table" data-sortable="true"
									data-unique-id="idKey" data-url="" data-pagination="true"
									data-page-size="5" data-page-list="[5, 10, 25, 50, ALL]"
									data-pagination-v-align="top">
									<thead>
										<tr>
											<th data-field="trxType" data-sortable="true">Type</th>
											<th data-field="trxVoucherId" data-sortable="true">Voucher</th>
											<th data-field="trxCountInv">Ver</th>
											<th data-field="cliName">Name</th>
											<th data-field="trxInvcAmountStr" data-halign="right" data-align="right">Outstanding</th>
											<th data-field="trxInvcAmountNewStr" data-halign="right" data-align="right">New Outstanding</th>
											<th data-field="trxDueDateStr">Due Date</th>
											<th data-field="trxDueDateNewStr">New Due Date</th>
										</tr>
									</thead>
								</table>
								
								<br>
								
								<div class="row">
									<input type="hidden" id="idKey"/>
									<div class="col-md-5">
										<div class="row">
											<div class="col-md-4">
												<label>Voucher</label>
											</div>
											<div class="col-md-2">
												<input name="detailType" id="detailType" class="form-control" disabled>
											</div>
											<div class="col-md-4">
												<input name="detailVoucher" id="detailVoucher" class="form-control" disabled>
											</div>
											<div class="col-md-2">
												<input name="detailVer" id="detailVer" class="form-control" disabled>
											</div>
										</div>
									</div>
								</div>
								
								<br>
								
								<div class="row">	
									<div class="col-md-5">
										<div class="row">
											<div class="col-md-4">
												<label>New Outstanding</label>
											</div>
											<div class="col-md-8">
												<input name="detailOutstandingNew" id="detailOutstandingNew" class="form-control"
													style="text-align: right;" placeholder="0.00">
											</div>
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="row">
											<div class="col-md-5">
												<label>New Due Date</label>
											</div>
											<div class="col-md-6">
												<div class="input-group">
													<input id="dueDateNew" name="dueDateNew"
														type="text" class="form-control" disabled>
													<div class="input-group-append">
														<button id='btnDueDateNew' class="btn btn-primary" type="button">
															<i class="fas fa-calendar"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-md-1">
										<button id="btnUpdate" class="btn btn-success col-md-12"
											onclick="updateSave()" disabled>Update</button>
									</div>
								</div>
							</div>
						</div>
						
						<br>
						
						<div class="row">
							<div class="col-md-1">
								<label>Policy No.</label>
							</div>
							<div class="col-md-4">
								<input name="detailPolicyNo" id="detailPolicyNo" class="form-control">
							</div>		
						</div>
						
						<th:block th:replace="fragments/button :: btn-save-cancel" />
						
						</div>				
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->
			<th:block th:replace="fragments/general :: copyright-footer"></th:block>
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- /#wrapper -->

	<th:block th:replace="fragments/general :: scroll-to-top" />
	<th:block th:replace="fragments/general :: logout-modal" />
	<th:block th:replace="fragments/import :: js-body" />
	<th:block th:replace="fragments/modal :: confirmation-save" />
	<th:block th:replace="fragments/modal :: confirmation-delete" />
	</div>
	
	<!-- Modal Client -->
	<div class="modal fade" id="client-modal" tabindex="-1"
		role="dialog" aria-labelledby="client-modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="client-modal-label">Client</h5>
					<button id="btnCloseClientModal" type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row card-body justify-content-end">
						<div class="col-md-3">
							<select id="clientSelector" name="clientSelector"
								class="custom-select">
								<option value="cliName">Name</option>
								<option value="cliCode">Client Id</option>
							</select>
						</div>
						<div class="input-group col-md-3">
							<input id="clientFilterValue" type="text" class="form-control">
							<div class="input-group-append">
								<button id="clientFilterSearchBtn" class="btn btn-primary"
									type="button" onclick="clientFilteredSearch()">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</div>
					
					<table id="tableClient" data-toggle="table" data-url=""
						data-sortable="true" data-side-pagination="server"
						data-pagination="true" data-page-size="5"
						data-page-list="[5, 10, 25, 50, ALL]"
						data-pagination-V-Align="top">
						<thead>
							<tr>
								<th data-field="cliCode" data-sortable="true">Client ID</th>
								<th data-field="cliName" data-sortable="true">Client
									Name</th>
								<th data-field="cliTypeDesc">Type</th>
								<th data-field="cliDataStatusStr">Status</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Modal Client -->
	
</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		
		const formatter_2 = new Intl.NumberFormat('en-US', {
			style: 'currency',
			currency: 'USD',
			minimumFractionDigits: 2
		});
		
		$(function() {
			$('#clientSelector').select2({width: '100%'});
			
			rest('GET', /*[[@{/marketing/direct-modify/get-dropdownTypeOfCover}]]*/).done(function(data) {
				$('#typeOfCover').select2({width : '100%', data : data});
			});
		});
	
		new AutoNumeric('#infoTsi', {
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    maximumValue : '9999999999999999.00',
		    minimumValue : '0'
		});
		AutoNumeric.getAutoNumericElement('#infoTsi').set('0.00');
		
		new AutoNumeric('#detailOutstandingNew', {
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    maximumValue : '9999999999999999.00',
		    minimumValue : '0'
		});
		AutoNumeric.getAutoNumericElement('#detailOutstandingNew').set('0.00');
		
		$('#dueDateNew').datepicker({
			dateFormat: 'dd/mm/yy',
			changeMonth: true,
			changeYear: true
		});
		
		$('#btnDueDateNew').click(function(){
			$('#dueDateNew').datepicker('show');
		});
	
		$('#btnCloseClientModal').click(function() {
			$('#client').val('');
			$('#clientDesc').val('').trigger('change');
		});
			
		$('#btnClientSearch').click(function() {			
			$('#clientFilterValue').val('');
			$('#clientSelector').val('cliName').trigger('change');
			
			var url = /*[[@{/static-data/client}]]*/;
			url = url + "?cliType=1";
			$('#tableClient').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: url
			});
		});

		$('#tableClient').on('click-row.bs.table',function(e, row, $tr) {
			$('#client').val(row.cliCode);
			$('#clientDesc').val(row.cliName).trigger('change');
			$('#client-modal').modal('hide');
		});
	
		function clientFilteredSearch() {
			var url = /*[[@{/static-data/client}]]*/;
			var filterKey = $("#clientSelector").select2('val');
			var filterValue = $("#clientFilterValue").val();
			
			url = url + "?cliType=1";
			if(filterValue != "")
				url = url + "&filterKey="+filterKey+"&filterValue="+filterValue;
			
			$('#tableClient').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: url
			});
		}
		
		$('#trxTable').on('click-row.bs.table',function(e, row, $tr) {
			if(row.status === 'Unavailable') 
				return null;
			
			$('#modify').removeAttr('hidden');
			$('#directModifyIndex').attr('hidden', true);
			
			$('#trxVoucherId').val(row.trxVoucherId);
			$('#infoClient').val(row.clientName);
			$('#infoTypeOfCover').val(row.trxCoverCode);
			$('#infoDescription').val(row.trxInsuredName.replace(/<(.|\n)*?>/g, ''));
			$('#infoCurr').val(row.trxCurrId);
			AutoNumeric.getAutoNumericElement('#infoTsi').set(row.trxTsiAmount)
			$('#infoPolicyNo').val(row.trxRemarks);
			
			searchDetail(row.trxVoucherId, row.trxTrxId);
		});
		
		$('#trxModify').on('click-row.bs.table',function(e, row, $tr) {
			$('#idKey').val(row.idKey);
			$('#detailType').val(row.trxType);
			$('#detailVoucher').val(row.trxVoucherId);
			$('#detailVer').val(row.trxCountInv);
			
			AutoNumeric.getAutoNumericElement('#detailOutstandingNew').set(row.trxInvcAmountNewStr);
			$('#dueDateNew').val(row.trxDueDateNewStr);
			
			$('#btnUpdate').removeAttr('disabled');
		});
		
		// ========== EVENT ========== //
		
		$('#btnBack').click(function() {
			location.reload();
		});
		
		$('#btnSearch').click(function() {
			search();
		});
		
		$('#btnCancel').click(function() {
			cancel();
		});
		
		function updateSave() {
			var idKey = $('#idKey').val();
			var trxModify = $('#trxModify').bootstrapTable('getRowByUniqueId', idKey);
			
			trxModify.trxInvcAmountNewStr = formatter_2.format(AutoNumeric.getAutoNumericElement('#detailOutstandingNew').get()).replace('$', '');
			trxModify.trxDueDateNewStr = $('#dueDateNew').val();
			$('#trxModify').bootstrapTable('updateByUniqueId', trxModify);
			
			$('#idKey').val('');
			$('#dueDateNew').val(null);
			AutoNumeric.getAutoNumericElement('#detailOutstandingNew').set(0.00);
			
			$('#idKey').val('');
			$('#detailType').val('');
			$('#detailVoucher').val('');
			$('#detailVer').val('');
			
			$('#btnUpdate').attr('disabled', 'true');
		}
		
		function search() {
			var trxClient = $('#client').val();
			var trxCoverCode = $('#typeOfCover').val();
			
			if(trxCoverCode === 'ALL')
				trxCoverCode = '';
			
			if(trxClient === '' && trxCoverCode === '') {
				alert('\'Type of Cover\' or \'Client\' must be fill');
				return null;
			}
			
			var urlInq = /*[[@{/marketing/direct-modify/inquiry}]]*/;
			urlInq += '?trxClient=' + trxClient + '&trxCoverCode=' + trxCoverCode;
			
			$('#trxTable').bootstrapTable('refreshOptions', {
		  		paginationSuccessivelySize: 3,
		        theadClasses: 'thead-dark',
		        url: urlInq
		    });
		}
		
		function searchDetail(trxVoucherId, trxTrxId) {			
			var data = {
				trxVoucherId: trxVoucherId,
				trxTrxId: trxTrxId
			}
			
			$.ajax({ 
		        type: 'POST',
		        dataType: 'json',
		        contentType: 'application/json',
		        data:JSON.stringify(data),
		        url: /*[[@{/marketing/direct-modify/inquiry-detail}]]*/,
		    }).then(function(result) {
		    	var listDetail = [];
		    	for(var i=0; i<result.length; i++) {    		
					var data = {
							idKey: result[i].idKey, 
							trxType: result[i].trxType, 
							trxVoucherId: result[i].trxVoucherId,
							trxCountInv: result[i].trxCountInv, 
							trxClient: result[i].trxClient, 
							cliName: result[i].cliName, 
							trxInvcAmount: result[i].trxInvcAmount, 
							trxInvcAmountStr: result[i].trxInvcAmountStr,
							trxDueDate: result[i].trxDueDate,
							trxDueDateStr: result[i].trxDueDateStr,
							trxInvcAmountNewStr: result[i].trxInvcAmountStr,
							trxDueDateNewStr: result[i].trxDueDateStr
					}
		    		
					listDetail.push(data);
		    	}
		    	
		    	$('#trxModify').bootstrapTable('load', listDetail);
		    });
		}
		
		$('#btnReset').click(function() {
			reset();
		});
		
		function reset() {
			$('#client').val('');
			$('#clientDesc').val('');
			$('#typeOfCover').val('ALL').trigger('change');
			
			$('#trxTable').bootstrapTable('destroy').bootstrapTable();
		}
		
		function cancel() {
			var trxModifyList = $('#trxModify').bootstrapTable('getData');
			
			for(var i=0;i<trxModifyList.length;i++) {
				var idKey = trxModifyList[i].idKey;
				
				var trxModify = $('#trxModify').bootstrapTable('getRowByUniqueId', idKey);
				trxModify.trxInvcAmountNewStr = '0.00';
				trxModify.trxDueDateNewStr = '';
				
				$('#trxModify').bootstrapTable('updateByUniqueId', trxModify)
			}
			$('#detailPolicyNo').val('');
		}
		
		$('#btnSave').click(function() {
			doSave();
		});
		
		function validate() {
			var isValid = true;
			
			var trxModifyList = $('#trxModify').bootstrapTable('getData');
			var outstanding = 0.00;
			var newOutstanding = 0.00;
			for(var i=0;i<trxModifyList.length;i++) {
				outstanding += parseFloat(trxModifyList[i].trxInvcAmountStr.replace(/,/g, ""));
				newOutstanding += parseFloat(trxModifyList[i].trxInvcAmountNewStr.replace(/,/g, ""));
			}
			
			if(outstanding != newOutstanding)
				isValid = false;
			
			return isValid;
		}
		
		function doSave() {
			if(!validate()) {
				alert('Please Check New Outstanding Balance');
				return null;
			}
			
			disableButton();
			
			save().done(function(data) {
				showAlertSuccess();
				
				$('#btnBack').click();
			}).fail(function() {
				showAlertFailed(/*[[${M_0006}]]*/);
				enableButton();
			});
		}
		
		function save() {
			var trxVoucherId = $('#trxVoucherId').val();
			var policyNo = $('#detailPolicyNo').val();
			var trxModifyList = $('#trxModify').bootstrapTable('getData');
			
			var param = {
				trxVoucherId: trxVoucherId,
				policyNo: policyNo,
				trxModifyList: trxModifyList
			}
			
			return $.ajax({type: 'POST', global: false, dataType: 'json',  
				contentType: 'application/json',
				url: /*[[@{/marketing/direct-modify/save}]]*/, 
				data: JSON.stringify(param), 
				success: function (data) {
				}
			});
		}
		
		function disableButton() {
			$('#btnSave').attr('disabled', 'true');
			$('#btnCancel').attr('disabled', 'true');
		}
		
		function enableButton() {
		    $('#btnSave').removeAttr('disabled');
		    $('#btnCancel').removeAttr('disabled');
		}
		
		// ========== ALERT ========== //
		
		function showAlertSuccess() {
			$(location).attr('href', '#page-top');
			$('#alertSuccess').fadeTo(2000, 500).slideUp(500, function() {
				$('#alertSuccess').slideUp(500);
				location.reload();
			});
		}

		function showAlertFailed(msgAlert) {
			$(location).attr('href', '#page-top');
			$('#alertFailedMsg').text(msgAlert);
			$('#alertFailed').fadeTo(3000, 500).slideUp(500, function() {
				$('#alertFailed').slideUp(500);
				$('#btnModalYesDelete').removeAttr('disabled')
				$('#btnModalYes').removeAttr('disabled')
			});
		}
		
	/*]]>*/
</script>

</html>