<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/import :: info-header" />
<th:block th:replace="fragments/import :: css-header" />
<th:block th:replace="fragments/import :: js-header" />
<link href="css/jquery-ui.min.css" th:href="@{/css/richtext.min.css}"
	rel="stylesheet">
<style>
.richText .richText-editor {
	height: 125px;
}
</style>

<script th:src="@{/js/autoNumeric.min.js}"></script>
</head>

<body id="page-top">
	<div th:fragment="endorsement">
	<th:block th:replace="fragments/general :: navbar-header" />

	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />

		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />

				<div id="cart" class="card mb-3">
					<div id="divContentHeader" class="card-header">
						<b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div id="alertSuccess" class="alert alert-success"
						style="display: none;">
						<strong>Success!</strong> <span id="alertSuccessMsg"
							th:text="${M_0005}"></span>
					</div>
					<div id="alertSuccessDelete" class="alert alert-success"
						style="display: none;">
						<strong>Success!</strong> <span id="alertSuccessDeleteMsg">Delete
							data success</span>
					</div>
					<div id="alertFailed" class="alert alert-danger"
						style="display: none;">
						<strong>Failed!</strong> <span id="alertFailedMsg"></span>
					</div>
					<div id="endorsementIndex">
						<th:block th:replace="fragments/tr0006Inquiry :: tr0006-inquiry"></th:block>
					</div>
					<div class="card-body">
						<div th:replace="marketingReport/production :: productionTab">...</div>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->
			<th:block th:replace="fragments/general :: copyright-footer"></th:block>
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- /#wrapper -->

	<th:block th:replace="fragments/general :: scroll-to-top" />
	<th:block th:replace="fragments/general :: logout-modal" />
	<th:block th:replace="fragments/import :: js-body" />
	<th:block th:replace="fragments/modal :: confirmation-save" />
	<th:block th:replace="fragments/modal :: confirmation-delete" />
	<script th:src="@{/js/jquery.richtext.js}"></script>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		
		var closingType = [];
		var closingIds = [];
		var closingInsSub = [];
		var closingIsComm = [];
		
		var ppn = 0.00;
		if(/*[[${pPpn}]]*/ != null)
			ppn = parseFloat(/*[[${pPpn}]]*/);
		var taxRate009 = 0.00;
		if(/*[[${taxRate009}]]*/ != null)
			taxRate009 = parseFloat(/*[[${taxRate009}]]*/);
		
		var idRemove = null;
		var idEdit = null;
		var millisInqTr12CreateOn = null;
		const formatter = new Intl.NumberFormat('en-US', {
  			style: 'currency',
  			currency: 'USD',
  			minimumFractionDigits: 2
		});
		$('#t1-insuredName').richText({id: 't1-insuredName'});	
		$('#t2-interestInsured').richText({id: 't2-interestInsured'});
		$('#t2-location').richText({id: 't2-location'});
		$('#t6-or').richText({id: 't6-or'});
		
		$(function() {
			$('#btnModalYesDelete').click(function() {
				$('#btnModalYesDelete').attr('disabled', true);
				removeProcess();
			});
			$('#buttonSave').attr('hidden', true);
			$('#buttonSave2').removeAttr('hidden');
			
			$('#btnSave2').click(function() {
				$('#modalConfirmation').modal('show');
	    	});
			
			$('#btnModalYes').click(function() {
				save();
	    	});
			
			$('#btnBackPreview').click(function() {
				$('#t8-placingSlip').prop('disabled', false);
				$('#t8-quotation').prop('disabled', false);
				$('#t8-closing').prop('disabled', false);
				
				$('#previewReport').prop('hidden', true);
			});
			
			$('#t8-send').click(function() {		
				showPreviewReport();
			});
			
			$('#btnSendPreview').click(function() {
				sendEmail();
			});
			
			$('#btnBack').click(function() {
				location.reload();
			});
			
		});
		
		function remove(idKey, createOn) {
			idRemove = idKey;
			millisInqTr12CreateOn = createOn;
			$('#modalConfirmationDelete').modal('show');
		}
	
		function removeProcess() {
			var removeData = {
				idKey: idRemove,
				millisInqTr12CreateOn: millisInqTr12CreateOn
			};
			
			var url = '/gui-re-broker/marketing/endorsement/remove';
			restPOST('POST', url, removeData).done(function(data) {
				idRemove = null;
				$('#modalConfirmationDelete').modal('hide');
				if(data.status == "200")
					showAlertSuccess();
				else
					showAlertFailed(data.message);
			});
		}
		
		function showAlertSuccess() {
			$(location).attr('href', '#page-top');
			$('#alertSuccess').fadeTo(2000, 500).slideUp(500, function() {
				$('#alertSuccess').slideUp(500);
				location.reload();
			});
		}

		function showAlertFailed(msgAlert) {
			$(location).attr('href', '#page-top');
			$('#alertFailedMsg').text(msgAlert);
			$('#alertFailed').fadeTo(3000, 500).slideUp(500, function() {
				$('#alertFailed').slideUp(500);
				$('#btnModalYesDelete').removeAttr('disabled')
				$('#btnModalYes').removeAttr('disabled')
			});
		}
		
		function disableT1(){
			$('#t1-btnClientSearch').attr('disabled', 'true');
			$('#t1-share').attr('disabled', 'true');
			$('#t1-curr').attr('disabled', 'true');
			$('#t1-totalSumInsured').attr('disabled', 'true');
			$('#t1-insuredName').attr('disabled', 'true');
			$('#t1-exchangeRate').attr('disabled', 'true');
			$('#t1-paymentMethod').attr('disabled', 'true');
			$('#t1-btnAdd').attr('disabled', 'true');
			$('#addTable').bootstrapTable('hideColumn', 'action');
			$('#t1-officer').attr('disabled', 'true');
			$('#t1-directPayment').attr('disabled', 'true');
			$('#t1-ppw').attr('disabled', 'true');
			$('#t1-pov').attr('disabled', 'true');
		}
		
		function disableT2(){
			$('#t2-typeOfCover').attr('disabled', 'true');
			$('#t2-classification').attr('disabled', 'true');
			$('#t2-interestInsured').attr('disabled', 'true');
			$('#t2-location').attr('disabled', 'true');
			$('#t2-curr').attr('disabled', 'true');
			$('#t2-exchangeRate').attr('disabled', 'true');
			$('#t2-sumInsured').attr('disabled', 'true');
			$('#t2-premiumRate').attr('disabled', 'true');
			$('#t2-deduction').attr('disabled', 'true');
			$('#t2-weighted').attr('disabled', 'true');
			$('#t2-combined').attr('disabled', 'true');
			$('#t2-btnInsuredPeriod').attr('disabled', 'true');
			$('#t2-btnInsuredPeriodTo').attr('disabled', 'true');
			$('#t2-btnReinsuredPeriod').attr('disabled', 'true');
			$('#t2-btnReinsuredPeriodTo').attr('disabled', 'true');
			$('#t2-add').attr('disabled', 'true');
			$('#t2-addTable').bootstrapTable('hideColumn', 'action');
		}
		
		function disableT3(){
			$('#t3-name').attr('disabled', 'true');
			$('#t3-taxId').attr('disabled', 'true');
			$('#t3-commission').attr('disabled', 'true');
			$('#t3-commissionAmount').attr('disabled', 'true');
			$('#t3-add').attr('disabled', 'true');
			$('#t3-addTable').bootstrapTable('hideColumn', 'action');
		}
		
		function disableT4(){
			$('#t4-reinsurance').attr('disabled', 'true');
			$('#t4-type').attr('disabled', 'true');
			$('#t4-share').attr('disabled', 'true');
			$('#t4-curr').attr('disabled', 'true');
			$('#t4-amount').attr('disabled', 'true');
			$('#t4-premiumRate').attr('disabled', 'true');
			$('#t4-bFee').attr('disabled', 'true');
			$('#t4-payment').attr('disabled', 'true');
			$('#t4-add').attr('disabled', 'true');
			$('#t4-addTable').bootstrapTable('hideColumn', 'action');
			
		}
		
		function disableT5(){
			$('#t5-premiumRe').attr('disabled', 'true');
			$('#t5-premium').attr('disabled', 'true');
			$('#t5-discount').attr('disabled', 'true');
			$('#t5-btnSave').attr('disabled', 'true');
			$('#t5-btnReset').attr('disabled', 'true');
		}
		
		function disableT6(){
			$('#t6-addTable').bootstrapTable('hideColumn', 'action');
			$('#t6-group').attr('disabled', 'true');
			$('#t6-details').attr('disabled', 'true');
			$('#t6-or').attr('disabled', 'true');
			$('#t6-add').attr('disabled', 'true');
		}
		
		function disableT7(){
			$('#t7-for').attr('disabled', 'true');
			$('#t7-portion').attr('disabled', 'true');
			$('#t7-btnPayDate').attr('disabled', 'true');
			$('#t7-add').attr('disabled', 'true');
			$('#t7-addTable-1').bootstrapTable('hideColumn', 'action');
			$('#t7-documentType').attr('disabled', 'true');
			$('#t7-inputUpload').attr('disabled', 'true');
			$('#t7-upload').attr('disabled', 'true');
			$('#t7-addTable-2').bootstrapTable('hideColumn', 'action');
		}
		
		function edit(requestId, trxDataStatus, tr6VoucherId, millisCreateOn) {	
			$('#requestId').val(requestId);
			disableT3();
			disableT4();
			disableT5();
			disableT7();
			idEdit = tr6VoucherId;
			millisInqTr12CreateOn = millisCreateOn;
			var data = {
				trxVoucherId: tr6VoucherId
			};
			
			restPOST('POST', /*[[@{/marketing-report/production/inquiryModify}]]*/, data).done(function(result) {    
		    	isInitEdit = true;
		    	var t6Data = result.t6Data;
		    	setT6Data(t6Data);
		    	
		    	var t1Data = result.t1Data;
		    	setT1Data(t1Data);
		    	
		    	var t2Data = result.t2Data;
		    	setT2Data(t2Data);
		    	
		    	var t3Data = result.t3Data;
		    	setT3Data(t3Data);
		    	
		    	var t4Data = result.t4Data;
		    	setT4Data(t4Data);
		    	
		    	var t5Data = result.t5Data;
		    	setT5Data(t5Data);
		    	
		    	var t7Data1 = result.t7Data1;
		    	var t7Data2 = result.t7Data2;
		    	setT7Data(t7Data1, t7Data2);
		    	
			    $('#titlePage').text(/*[[${titlePageEdit}]]*/);
				$('#productionCreateForm').removeAttr('hidden');
				$('#endorsementIndex').attr('hidden', true);
		    });	
		}
		
		function showPreviewReport() {		
			var trxVoucherId = $('#requestId').val();
			if(trxVoucherId=="")
				return null;
			
			var isPlacing = $('#t8-placingSlip').is(':checked');
			var isQuotation = $('#t8-quotation').is(':checked');
			var isClosing = $('#t8-closing').is(':checked');
			
			var process;
			
			var remarks;
			if(isPlacing) {
				process = "placing";
				
				remarks = $('#t8-placingSlipRemarks').val();
				if(remarks=="") {
					alert("Remarks 'Palacing Slip' must be fill!");
					return null;
				}	
			}else if(isQuotation) {
				process = "quotation";
				
				remarks = $('#t8-quotationRemarks').val();
				if(remarks=="") {
					alert("Remarks 'Quotation' must be fill!");
					return null;
				}			
			}else if(isClosing) {
				remarks = $('#t8-closingRemarks').val();
				var clientDate = $('#t8-clientConfirmationDate').val();
				var clientInfo = $('#t8-clientConfirmationInfo').val();
				if(clientDate=="" || clientInfo == "") {
					alert("Client Confirmation must be fill!");
					return null;
				}else if(remarks=="") {
					alert("Remarks 'Closing' must be fill!");
					return null;
				}
				
				$('#t8-placingSlip').prop('disabled', true);
				$('#t8-quotation').prop('disabled', true);
				$('#t8-closing').prop('disabled', true);
				
				var paramClosing = {
					"trxVoucherId": idEdit,
					"remarks" : remarks,
					"trxOldVoucherId": trxVoucherId,
					"millisInqTr12CreateOn": millisInqTr12CreateOn
				};
				$.ajax({
					type: 'POST', global: false, dataType: 'json',  
					contentType:'application/json',
					url: /*[[@{/marketing/endorsement/inquiry-send-table}]]*/, 
					data: JSON.stringify(paramClosing), 
					success: function (data) {
					}
				}).done(function(data) {
					console.log(JSON.stringify(data));
					$('#tableSend').bootstrapTable('load', data.table);
					
					closingIds = [];
					closingType = [];
					closingInsSub = [];
					closingIsComm = [];
					closingEndorsementType = [];
					for(var i=0;i<data.table.length;i++) {
						if(!(data.table[i].document.startsWith("Cover - ")
								|| data.table[i].document === "Closing Slip"
								|| data.table[i].document === "Evidence of Cover")) {
							closingIds.push(data.table[i].voucherId);
							closingType.push(data.table[i].type);
							closingInsSub.push(data.table[i].insSub);
							closingIsComm.push(data.table[i].isComm);
							if(idEdit != trxVoucherId) //Endorsement
								closingEndorsementType.push("Endorsement - ");
						}
					}

					var url = /*[[@{/marketing-report/production/closing-search}]]*/;
					var param = 'ids=' + closingIds.toString() + '&type=' + closingType.toString() + '&trxVoucherId=' + idEdit + '&insSub=' + closingInsSub.toString();
					
					console.log("isEndorsement Reprint : " + (idEdit != trxVoucherId));
					if(idEdit != trxVoucherId) //Endorsement
						param += '&endorsementType=' + closingEndorsementType.toString();
					
					param = encodeURI(param);
					
					$('#previewReport').removeAttr('hidden');
					$('#previewReportHtml').load(url, param);
				
				});
				return null;
			}else {
				return null;
			}
			
			$('#t8-placingSlip').prop('disabled', true);
			$('#t8-quotation').prop('disabled', true);
			$('#t8-closing').prop('disabled', true);
			
			var param = {
				"trxVoucherId": trxVoucherId,
				"process": process
			};
			
			$.ajax({
				type: 'POST', global: false, dataType: 'json',  
				contentType:'application/json',
				url: /*[[@{/marketing-report/production/inquirySend}]]*/, 
				data: JSON.stringify(param), 
				success: function (data) {
				}
			}).done(function(data) {
				$('#tableSend').bootstrapTable('load', data);
				
				var url = /*[[@{/marketing-report/production/search}]]*/;
				var param = 'trxVoucherId=' + trxVoucherId + '&process=' + process;
				
				param = encodeURI(param);
				
				$('#previewReport').removeAttr('hidden');
				$('#previewReportHtml').load(url, param);
			}).fail(function() {
				showAlertFailed('Cannot get data');
			});
			
		}
		
		function setT1Data(t1Data) {
			var requestId;
			var officer;
	    	var directPayment;
	    	var ppw;
	    	var pov;
	    	var remarks;
	    	var createBy;
	    	var createOn;
	    	var t1DataTable = [];
	    	for(var i=0; i<t1Data.length; i++) {
	    		requestId = t1Data[i].trxVoucherId;
	    		officer = t1Data[i].trxOfficer;
	    		directPayment = t1Data[i].trxDiretPy;
	    		ppw = t1Data[i].trxPpwCli;
	    		pov = t1Data[i].trxPeriodVld;
	    		remarks = t1Data[i].trxRemarks;
	    		createBy = t1Data[i].createBy;
	    		createOn = t1Data[i].createOnMillis;
	    		
	    		var id = create_UUID();
				var action = "<button class=\"btn btn-danger\" onclick=\"removeAddT1('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				t1DataTable.push({
					id: id,
					client: t1Data[i].trxClient,
					clientDesc: t1Data[i].clientDesc,
					share: formatterT1_4.format(t1Data[i].trxShare).replace('$', ''),
					curr: t1Data[i].trxCurrId,
					amount: formatterT1_2.format(t1Data[i].trxSumInsured).replace('$', ''),
					insuredName: t1Data[i].trxInsuredName,
					feeRate: formatterT1_2.format(t1Data[i].trxFeeClient).replace('$', ''),
					exchangeRate: formatterT1_2.format(t1Data[i].trxCurrRate).replace('$', ''),
					paymentMethod: t1Data[i].trxPayMthd,
					totalSumInsured: formatterT1_2.format(t1Data[i].trxTsiAmount).replace('$', ''),
					action:action
			    });
	    	}
	    	
	    	$('#createBy').val(createBy);
	    	$('#createOn').val(createOn);
	    	$('#addTable').bootstrapTable('load', t1DataTable);
	    	setClientT7();
	    	if(officer != null)
	    		$('#t1-officer').val(officer).trigger('change');
	    	if(directPayment != null)
	    		$('#t1-directPayment').val(directPayment).trigger('change');
	    	if(ppw != null)
	    		$('#t1-ppw').val(ppw);
	    	if(pov != null)
	    		$('#t1-pov').val(pov);
	    	if(remarks != null)
	    		$('#t1-remarks').val(remarks);
					
		}
		
		function setT2Data(t2Data) {
			var typeOfCover;
			var classification;
	    	var t2DataTable = [];
	    	for(var i=0; i<t2Data.length; i++) {
	    		typeOfCover = t2Data[i].trxCoverCode;
	    		classification = t2Data[i].trxCoverClass;
	    		
	    		var id = create_UUID();
	    		var action = "<button class=\"btn btn-danger\" onclick=\"t2RemoveAdd('"+t2Data[i].trxInsSub+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				var t2AddObject = {
					id : t2Data[i].trxInsSub,
					insSub : t2Data[i].trxInsSub,
					interestInsured : t2Data[i].trxInsInsured,
					location : t2Data[i].trxInsLocation,
					curr : t2Data[i].trxCurrId,
					exchangeRate : formatterT1_2.format(t2Data[i].trxCurrRate).replace('$', ''),
					sumInsured : formatterT1_2.format(t2Data[i].trxSumInsured).replace('$', ''),
					premiumRate : formatterT1_4.format(t2Data[i].trxPremiumRate).replace('$', ''),
					deduction : formatterT1_4.format(t2Data[i].trxDeducPct).replace('$', ''),
					weighted : formatterT1_2.format(t2Data[i].trxWeightRate).replace('$', ''),
					insuredPeriod : t2Data[i].trxInsStartStr,
					insuredPeriodTo : t2Data[i].trxInsEndStr,
					reinsuredPeriod : t2Data[i].trxReinsStartStr,
					reinsuredPeriodTo : t2Data[i].trxReinsEndStr,
					bFee : formatterT1_2.format(t2Data[i].trxBfeeSell).replace('$', ''), 
					combined : t2Data[i].trxCombined,
					remarks: t2Data[i].trxRemarks,
					action : action
			    };
				
				t2AddDataToTable(t2AddObject);
	    	}
	    	
	    	$('#t2-typeOfCover').val(typeOfCover).trigger('change');
			$('#t2-classification').val(classification).trigger('change');
		}
		
		function setT3Data(t3Data) {
	    	var t3DataTable = [];
	    	for(var i=0; i<t3Data.length; i++) {    		
	    		var id = create_UUID();
	    		var action = "<button class=\"btn btn-danger\" onclick=\"t3RemoveAdd('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
	    		var data = {
	   				id : id,
	   				nameId : t3Data[i].trxSaCode,
	   				name : t3Data[i].trxSaCodeDesc,
	   				taxId : t3Data[i].trxSaTaxId,
	   				commission : formatterT1_4.format(t3Data[i].trxCommPct).replace('$', ''),
	   				commissionAmount : formatterT1_2.format(t3Data[i].trxCommAmt).replace('$', ''),
	   				action:action
	    		};
	    		
	    		t3DataTable.push(data);
	    	}
	    	
	    	$('#t3-addTable').bootstrapTable('load', t3DataTable);
		}
		
		function setT4Data(t4Data) {
	    	var t4DataTable = [];
	    	for(var i=0; i<t4Data.length; i++) {    		
	    		var id = create_UUID();
	    		var action = "<button class=\"btn btn-danger\" onclick=\"t4RemoveAdd('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
				var type = t4Data[i].trxInsType;
				var typeDesc = "";
				if(type != null) {
					if(type == "0")
						typeDesc = "Lead";
					else if(type == "1")
						typeDesc = "Co Reins";
				}
				var addObject = {
					id: id,
					reinsuranceId: t4Data[i].trxInsId,
					reinsurance: t4Data[i].trxInsIdDesc,
					type: t4Data[i].trxInsType,
					typeDesc: typeDesc,
					share: formatterT1_4.format(t4Data[i].trxInsShare).replace('$', ''),
					curr: t4Data[i].trxCurrId,
					amount: formatterT1_2.format(t4Data[i].trxInsAmt).replace('$', ''),
					premiumRate: formatterT1_4.format(t4Data[i].trxInsPremium).replace('$', ''),
					bFeeAmount: formatterT1_2.format(t4Data[i].trxRicommAmt).replace('$', ''),
					bFee: formatterT1_4.format(t4Data[i].trxInsBfee).replace('$', ''),
					payment: t4Data[i].trxInsPaymethdDesc,
					paymentId: t4Data[i].trxInsPaymethd,
					remarks: t4Data[i].trxInsRemarks,
					action: action
				};
	    		
	    		t4DataTable.push(addObject);
	    	}
	    	
	    	$('#t4-addTable').bootstrapTable('load', t4DataTable);
	    	
	    	setReinsuranceT7();
		}
		
		function setT5Data(t5Data) {
	    	var t5DataTable = [];
	    	for(var i=0; i<t5Data.length; i++) {    		
	    		var totalRe = t5Data[i].trxPremiumBuy - t5Data[i].trxBfeeBuy;
	    		var total = t5Data[i].trxPremiumSell - t5Data[i].trxBfeeSell - t5Data[i].trxVatSell - t5Data[i].trxDiscSell;
	    		var netIncome = (total - totalRe) / taxRate009;
	    		
	    		var data = {
					id : t5Data[i].trxInsSub,	
					interestInsured : t5Data[i].interestName,
					curr : t5Data[i].trxCurrId,
					sumInsured : formatterT1_2.format(t5Data[i].trxSumInsured).replace('$', ''),
					premiumRe : formatterT1_2.format(t5Data[i].trxPremiumBuy).replace('$', ''),
					totalRe : formatterT1_2.format(totalRe).replace('$', ''),
					premium : formatterT1_2.format(t5Data[i].trxPremiumSell).replace('$', ''),
					total : formatterT1_2.format(total).replace('$', ''),
					discount : formatterT1_2.format(t5Data[i].trxDiscSell).replace('$', ''),
					netIncome : formatterT1_2.format(netIncome).replace('$', ''),
					bFeeRe : formatterT1_2.format(t5Data[i].trxBfeeBuy).replace('$', ''),
					bFee : formatterT1_2.format(t5Data[i].trxBfeeSell).replace('$', ''),
					vatRe : formatterT1_2.format(t5Data[i].trxVatBuy).replace('$', ''),
					vat : formatterT1_2.format(t5Data[i].trxVatSell).replace('$', ''),
					netPayRe : '0.00',
					netRec : '0.00',
					sumInsuredStr : formatterT1_2.format(t5Data[i].trxSumInsured).replace('$', '')
				};
	    		
	    		t5DataTable.push(data);
	    	}
	    	
	    	$('#t5-addTable').bootstrapTable('load', t5DataTable);
		}
		
		function setT6Data(t6Data) {
	    	var t6DataTable = [];
	    	for(var i=0; i<t6Data.length; i++) {    		
	    		var idKey = create_UUID();
	    		var action = "<button class=\"btn btn-danger\" onclick=\"t6Remove('"+idKey+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
				var addObject = {
						idKey : idKey,
						tcGroup : t6Data[i].trxTcCode,
						tcDetails : t6Data[i].trxTcData,
						action : action
				};
	    		
	    		t6DataTable.push(addObject);
	    	}
	    	
	    	$('#t6-addTable').bootstrapTable('load', t6DataTable);
		}
		
		function setT7Data(t7Data1, t7Data2) {
	    	var t7DataTable1 = [];
	    	for(var i=0; i<t7Data1.length; i++) {    		
	    		var id = create_UUID();
	    		var action = "<button class=\"btn btn-danger\" onclick=\"t7RemoveData1('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
				var data = {
					id: id,
					type: t7Data1[i].trxPrClientDesc,
					payDate: t7Data1[i].trxPrDateStr,
					portion: formatterT1_4.format(t7Data1[i].trxPrShare).replace('$', ''),
					action: action
				}
	    		
	    		t7DataTable1.push(data);
	    	}
	    	
	    	$('#t7-addTable-1').bootstrapTable('load', t7DataTable1);
	    	
	    	var t7DataTable2 = [];
	    	for(var i=0; i<t7Data2.length; i++) {    		
	    		var id = create_UUID();
	    		var action = "<button class=\"btn btn-danger\" onclick=\"t7RemoveData2('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
				var data = {
					id: id,
					documentId: t7Data2[i].trxDocId,
					document: t7Data2[i].docDesc,
					status: t7Data2[i].docStatus,
					file: t7Data2[i].trxDocName,
					path: t7Data2[i].trxDocFolder,
					typeOfCover: t7Data2[i].trxPrClient,
					action: action
				};
	    		
	    		t7DataTable2.push(data);
	    	}
	    	
	    	$('#t7-addTable-2').bootstrapTable('load', t7DataTable2);
		}
		
		function save() {
			$('#btnSave2').attr('disabled', 'true');
			var trxVoucherId = idEdit;
			var createBy = $('#createBy').val();
			var createOn = $('#createOn').val();
			var t1Data = getT1Data();
			var t2Data = getT2Data();
			var t3Data = getT3Data();
			var t4Data = getT4Data();
			var t5Data = getT5Data();
			var t6Data = getT6Data();
			var t7Data = getT7Data();
			
			var transactionDate = $('#t1-transactionDate').val();
			var datas = {
				createBy: createBy,
				createOn: createOn,
				trxVoucherId: trxVoucherId,
				t1Data: t1Data,
				t2Data: t2Data,
				t3Data: t3Data,
				t4Data: t4Data,
				t5Data: t5Data,
				t6Data: t6Data,
				t7Data: t7Data,
				transactionDate: transactionDate
			}
			
			restPOST('POST', /*[[@{/marketing-report/production/save}]]*/, datas).done(function(data) {
				$('#modalConfirmation').modal('hide');
				if (data.status == "OK") {
					idEdit = null;
					showAlertSuccess();
				} else {
					showAlertFailed(data.message);
				}
			});
			
		}
		
		function getT1Data() {
			var rows = $('#addTable').bootstrapTable('getData');
			
			var t1DataTable = [];
			for(var i = 0;i<rows.length;i++) {
				t1DataTable.push(rows[i]);
			}
			
			var officer = $('#t1-officer').val();
			var directPayment = $('#t1-directPayment').val();
			var ppw = $('#t1-ppw').val();
			var periodOfValidity = $('#t1-pov').val();
			var remarks = $('#t1-remarks').val();
			
			var t1Data = {
				t1DataTable: t1DataTable,
				officer: officer,
				directPayment: directPayment,
				ppw: ppw,
				periodOfValidity: periodOfValidity,
				remarks: remarks
			}
			
			return t1Data;
		}
		
		function getT2Data() {
			var typeOfCover = $('#t2-typeOfCover').val();
			var classification = $('#t2-classification').val();
			
			var rows = $('#t2-addTable').bootstrapTable('getData');
			
			var t2DataTable = [];
			for(var i=0; i<rows.length-1; i++) {
				t2DataTable.push(rows[i]);
			}
			
			var t2Data = {
				typeOfCover: typeOfCover,
				classification: classification,
				t2DataTable: t2DataTable
			}
			
			return t2Data;
		}
		
		function getT3Data() {		
			var rows = $('#t3-addTable').bootstrapTable('getData');
			
			var t3DataTable = [];
			for(var i=0; i<rows.length; i++) {
				t3DataTable.push(rows[i]);
			}
			
			var t3Data = {
				t3DataTable: t3DataTable
			}
			
			return t3Data;
		}
		
		function getT4Data() {		
			var rows = $('#t4-addTable').bootstrapTable('getData');
			
			var t4DataTable = [];
			for(var i=0; i<rows.length; i++) {
				t4DataTable.push(rows[i]);
			}
			
			var t4Data = {
				t4DataTable: t4DataTable
			}
			
			return t4Data;
		}
		
		function getT5Data() {		
			var rows = $('#t5-addTable').bootstrapTable('getData');
			
			var t5DataTable = [];
			for(var i=0; i<rows.length; i++) {			
				var data = {
					id: rows[i].id,
					sumInsured: rows[i].sumInsured,
					premiumBuy: rows[i].premiumRe,
					bfeeBuy: rows[i].bFeeRe,
					vatBuy: rows[i].vatRe,
					premiumSell: rows[i].premium,
					bfeeSell: rows[i].bFee,
					vatSell: rows[i].vat,
					discountSell: rows[i].discount,
					total: rows[i].total,
					totalRe: rows[i].totalRe
				};
				
				t5DataTable.push(data);
			}
			
			var t5Data = {
				t5DataTable: t5DataTable
			}
			
			return t5Data;
		}
		
		function getT6Data() {		
			var rows = $('#t6-addTable').bootstrapTable('getData');
			
			var t6DataTable = [];
			for(var i=0; i<rows.length; i++) {
				t6DataTable.push(rows[i]);
			}
			
			var t6Data = {
				t6DataTable: t6DataTable
			}
			
			return t6Data;
		}
		
		function getT7Data() {		
			var rows1 = $('#t7-addTable-1').bootstrapTable('getData');
			
			var t7DataTable1 = [];
			for(var i=0; i<rows1.length; i++) {
				t7DataTable1.push(rows1[i]);
			}
			
			var rows2 = $('#t7-addTable-2').bootstrapTable('getData');
			
			var t7DataTable2 = [];
			for(var i=0; i<rows2.length; i++) {
				t7DataTable2.push(rows2[i]);
			}
			
			var t7Data = {
				t7DataTable1: t7DataTable1,
				t7DataTable2: t7DataTable2
			}
			
			return t7Data;
		}
		
		function create_UUID() {
		    var dt = new Date().getTime();
		    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
		        var r = (dt + Math.random()*16)%16 | 0;
		        dt = Math.floor(dt/16);
		        return (c=='x' ? r :(r&0x3|0x8)).toString(16);
		    });
		    return uuid;
		}
		
		function printPreview(trxVoucherId, code, process, document) {		
			var url = /*[[@{/marketing-report/production/print}]]*/;
			var param = '?trxVoucherId=' + trxVoucherId + '&process=' + process + '&code=' + code + '&document=' + document;
			
			param = encodeURI(param);
			
			window.open(url+param, '_blank');
		}
		
		function printPreviewClosing(voucherId, insSub, clientName, type) {
			var trxVoucherId = $('#requestId').val();
			
			var url = /*[[@{/marketing-report/production/closing-print}]]*/;
			var param = '?voucherId=' + voucherId + '&type=' + type + '&trxVoucherId=' + idEdit + '&insSub=' + insSub;
			
			//Endorsement
			if(idEdit != trxVoucherId)
				param += '&endorsementType=Endorsement - ';
			
			param = encodeURI(param);
			
			window.open(url+param, '_blank');
		}
		
		function exportPreview(trxVoucherId, code, process, document, file) {		
			var url = /*[[@{/marketing-report/production/document}]]*/;
			var param = '?trxVoucherId=' + trxVoucherId + '&process=' + process + '&code=' + code + '&document=' + document+ '&file=' + file;
			
			param = encodeURI(param);
			
			window.open(url+param, '_blank');
		}
		
		function exportPreviewClosing(voucherId, insSub, cliName, fileName, type) {		
			var trxVoucherId = $('#requestId').val();
			
			var url = /*[[@{/marketing-report/production/closing-document}]]*/;
			var param = '?voucherId=' + voucherId + '&cliName=' + cliName + '&type=' + type + '&trxVoucherId=' + idEdit + '&fileName=' + fileName + '&insSub=' + insSub;
			
			//Endorsement
			if(idEdit != trxVoucherId)
				param += '&endorsementType=Endorsement - ';
			
			param = encodeURI(param);
			
			window.open(url+param, '_blank');
		}
		
		function sendEmail() {		
			var trxVoucherId = $('#requestId').val();
			if(trxVoucherId=="")
				return null;
			
			var isPlacing = $('#t8-placingSlip').is(':checked');
			var isQuotation = $('#t8-quotation').is(':checked');
			var isClosing = $('#t8-closing').is(':checked');
			
			var process;
			
			if(isPlacing) {
				process = "placing";
				
				remarks = $('#t8-placingSlipRemarks').val();
				if(remarks=="") {
					alert("Remarks 'Palacing Slip' must be fill!");
					return null;
				}	
			}else if(isQuotation) {
				process = "quotation";
				
				remarks = $('#t8-quotationRemarks').val();
				if(remarks=="") {
					alert("Remarks 'Quotation' must be fill!");
					return null;
				}			
			}else if(isClosing) {
				var param = {
					"trxVoucherId": trxVoucherId,
					"ids": closingIds,
					"type": closingType,
					"insSub": closingInsSub,
					"isComm": closingIsComm
				};

				$.ajax({
					type: 'POST', global: false, dataType: 'json',  
					contentType:'application/json',
					url: /*[[@{/marketing-report/production/send-email-closing}]]*/, 
					data: JSON.stringify(param), 
					success: function (data) {
					}
				}).done(function(data) {
					showAlertSuccess('Send email finish.');
				}).fail(function() {
					showAlertFailed('Cannot send email');
				});
				
				return null;
			}else {
				return null;
			}
			
			var param = {
				"trxVoucherId": trxVoucherId,
				"process": process,
				"remarks": remarks
			};

			$.ajax({
				type: 'POST', global: false, dataType: 'json',  
				contentType:'application/json',
				url: /*[[@{/marketing-report/production/send-email}]]*/, 
				data: JSON.stringify(param), 
				success: function (data) {
				}
			}).done(function(data) {
				showAlertSuccess('Send email finish.');
			}).fail(function() {
				showAlertFailed('Cannot send email');
			});
			
		}
	/*]]>*/
</script>

</html>