<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

	<!-- Logout Modal -->
	<div th:fragment="client">
		<div class="col-md-12">
			<label>Client</label> <br>
			<div class="input-group">
				<input id="clientDesc" name="clientDesc" type="text"
					class="form-control" disabled> 
				<input id="client" name="client" type="text" 
					class="form-control" hidden="true" disabled/>

				<div class="input-group-append">
					<button id='btnClientSearch' class="btn btn-primary"
						type="button" data-toggle="modal"
						data-target="#client-modal">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</div>
	
		<!-- Modal Client -->
		<div class="modal fade" id="client-modal" tabindex="-1"
			role="dialog" aria-labelledby="client-modal" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="client-modal-label">Client</h5>
						<button id="btnCloseClientModal" type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row card-body justify-content-end">
							<div class="col-md-3">
								<select id="clientSelector" name="clientSelector"
									class="custom-select">
									<option value="cliName">Name</option>
									<option value="cliCode">Client Id</option>
								</select>
							</div>
							<div class="input-group col-md-3">
								<input id="clientFilterValue" type="text" class="form-control">
								<div class="input-group-append">
									<button id="clientFilterSearchBtn" class="btn btn-primary"
										type="button" onclick="clientFilteredSearch()">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
						<table id="tableClient" data-toggle="table" data-url=""
							data-sortable="true" data-side-pagination="server"
							data-pagination="true" data-page-size="5"
							data-page-list="[5, 10, 25, 50, ALL]"
							data-pagination-V-Align="top">
							<thead>
								<tr>
									<th data-field="cliCode" data-sortable="true">Client ID</th>
									<th data-field="cliName" data-sortable="true">Client
										Name</th>
									<th data-field="cliDataStatusStr">Status</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			$('#clientSelector').select2({ width: '100%' });
			
			$('#tableClient').on('click-row.bs.table',function(e, row, $tr) {
				$('#client').val(row.cliCode);
				$('#clientDesc').val(row.cliName).trigger('change');
				$('#client-modal').modal('hide');
			});
			
			$('#btnClientSearch').click(function() {
				$('#clientFilterValue').val('');
				$('#clientSelector').val('cliName').trigger('change');
				
				$('#tableClient').bootstrapTable('refreshOptions', {
				    theadClasses: 'thead-dark',
				    url: /*[[@{/static-data/client}]]*/
				});
			});
			
			function clientFilteredSearch() {
				var url = /*[[@{/static-data/client}]]*/;
				var filterKey = $("#clientSelector").select2('val');
				var filterValue = $("#clientFilterValue").val();
				var allUrl = url
				
				if(filterValue != "")
					var allUrl = url + "?filterKey="+filterKey+"&filterValue="+filterValue;
				
				$('#tableClient').bootstrapTable('refreshOptions', {
				    theadClasses: 'thead-dark',
				    url: allUrl
				});
			}
			
			$('#btnCloseClientModal').click(function() {
				$('#client').val('');
				$('#clientDesc').val('').trigger('change');
			});
		/*]]>*/
		</script>	
		<!-- /Modal Client -->
	</div>
	
	<div th:fragment="client-2">
		
			
			<div class="input-group">
				<input id="clientDesc" name="clientDesc" type="text"
					class="form-control" disabled> 
				<input id="client" name="client" type="text" 
					class="form-control" hidden="true" disabled/>

				<div class="input-group-append">
					<button id='btnClientSearch' class="btn btn-primary"
						type="button" data-toggle="modal"
						data-target="#client-modal">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		
	
		<!-- Modal Client -->
		<div class="modal fade" id="client-modal" tabindex="-1"
			role="dialog" aria-labelledby="client-modal" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="client-modal-label">Client</h5>
						<button id="btnCloseClientModal" type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row card-body justify-content-end">
							<div class="col-md-3">
								<select id="clientSelector" name="clientSelector"
									class="custom-select">
									<option value="cliName">Name</option>
									<option value="cliCode">Client Id</option>
								</select>
							</div>
							<div class="input-group col-md-3">
								<input id="clientFilterValue" type="text" class="form-control">
								<div class="input-group-append">
									<button id="clientFilterSearchBtn" class="btn btn-primary"
										type="button" onclick="clientFilteredSearch()">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
						<table id="tableClient" data-toggle="table" data-url=""
							data-sortable="true" data-side-pagination="server"
							data-pagination="true" data-page-size="5"
							data-page-list="[5, 10, 25, 50, ALL]"
							data-pagination-V-Align="top">
							<thead>
								<tr>
									<th data-field="cliCode" data-sortable="true">Client ID</th>
									<th data-field="cliName" data-sortable="true">Client
										Name</th>
									<th data-field="cliDataStatusStr">Status</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			$('#clientSelector').select2({ width: '100%' });
			
			$('#tableClient').on('click-row.bs.table',function(e, row, $tr) {
				$('#client').val(row.cliCode);
				$('#clientDesc').val(row.cliName).trigger('change');
				$('#client-modal').modal('hide');
			});
			
			$('#btnClientSearch').click(function() {
				$('#clientFilterValue').val('');
				$('#clientSelector').val('cliName').trigger('change');
				
				$('#tableClient').bootstrapTable('refreshOptions', {
				    theadClasses: 'thead-dark',
				    url: /*[[@{/static-data/client}]]*/
				});
			});
			
			function clientFilteredSearch() {
				var url = /*[[@{/static-data/client}]]*/;
				var filterKey = $("#clientSelector").select2('val');
				var filterValue = $("#clientFilterValue").val();
				var allUrl = url
				
				if(filterValue != "")
					var allUrl = url + "?filterKey="+filterKey+"&filterValue="+filterValue;
				
				$('#tableClient').bootstrapTable('refreshOptions', {
				    theadClasses: 'thead-dark',
				    url: allUrl
				});
			}
			
			$('#btnCloseClientModal').click(function() {
				$('#client').val('');
				$('#clientDesc').val('').trigger('change');
			});
		/*]]>*/
		</script>	
		<!-- /Modal Client -->
	</div>

</body>

</html>