<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<th:block th:fragment="client-information-tab">
		<div id="cart" class="card mb-3">
			<div class="card-body">
				
				<div class="row">
					<div class="col-md-4">
						<label>*Client/Cedant</label> <br>
						<div class="input-group">
							<input id="t1-clientDesc" name="t1-clientDesc" type="text"
								class="form-control" disabled> 
							<input id="t1-client" name="t1-client" type="text" 
								class="form-control" hidden="true" disabled/>
	
							<div class="input-group-append">
								<button id='t1-btnClientSearch' class="btn btn-primary"
									type="button" data-toggle="modal"
									data-target="#client-modal">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</div>	
					<div class="col-md-2">
						<label>*Share (%)</label> <br> 
						<input type="text" class="form-control col-md-12" id="t1-share"
							style="text-align: right;" placeholder="0.0000%" required>
					</div>
					<div class="col-md-2">
						<label>*Officer</label>
						<select name="t1-officer" id="t1-officer" class="form-control col-md-12" required>
							<option value=""></option>
						</select>
					</div>
					<div class="col-md-2">
						<label>*Type</label>
						<select name="t1-type" id="t1-type" class="form-control col-md-12" required>
							<option value="P">Proportional</option>
							<option value="N">Non Proportional</option>
						</select>
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<label>*Insured Period</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="input-group">
									<input id="t1-insuredPeriod" name="t1-insuredPeriod"
										type="text" class="form-control" disabled>
									<div class="input-group-append">
										<button id='t1-btnInsuredPeriod' class="btn btn-primary"
											type="button">
											<i class="fas fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="row justify-content-center">
									<label> - </label>
								</div>
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<input id="t1-insuredPeriodTo" name="t1-insuredPeriodTo"
										type="text" class="form-control" disabled>
									<div class="input-group-append">
										<button id='t1-btnInsuredPeriodTo' class="btn btn-primary"
											type="button">
											<i class="fas fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<label>*Payment Method</label>
						<select name="t1-paymentMethod" id="t1-paymentMethod" class="form-control col-md-12" required>
						</select>
					</div>
					<div class="col-md-2">
						<label>*Currency</label> <br> 
						<select name="t1-curr" id="t1-curr" class="form-control col-md-12" required>
						</select>
					</div>
					<div class="col-md-2">
						<label>*Exchange Rate</label>
						<input type="text" class="form-control col-md-12" id="t1-exchangeRate"
							style="text-align: right;" placeholder="0.00" required>
					</div>
					<div class="col-md-2">
						<label>*USD Rate</label>
						<input type="text" class="form-control col-md-12" id="t1-usdRate"
							style="text-align: right;" placeholder="0.00" required>
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-12">
						<label>Remarks</label> <br> 
						<textarea class="form-control" id="t1-remarks"
							name="t1-remarks" rows="5"></textarea>
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- Modal Client -->
		<div class="modal fade" id="client-modal" tabindex="-1"
			role="dialog" aria-labelledby="client-modal" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="client-modal-label">Client</h5>
						<button id="t1-btnCloseClientModal" type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row card-body justify-content-end">
							<div class="col-md-3">
								<select id="clientSelector" name="clientSelector"
									class="custom-select">
									<option value="cliName">Name</option>
									<option value="cliCode">Client Id</option>
								</select>
							</div>
							<div class="input-group col-md-3">
								<input id="clientFilterValue" type="text" class="form-control">
								<div class="input-group-append">
									<button id="clientFilterSearchBtn" class="btn btn-primary"
										type="button" onclick="clientFilteredSearch()">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
						
						<table id="tableClient" data-toggle="table" data-url=""
							data-sortable="true" data-side-pagination="server"
							data-pagination="true" data-page-size="5"
							data-page-list="[5, 10, 25, 50, ALL]"
							data-pagination-V-Align="top">
							<thead>
								<tr>
									<th data-field="cliCode" data-sortable="true">Client ID</th>
									<th data-field="cliName" data-sortable="true">Client
										Name</th>
									<th data-field="cliTypeDesc">Type</th>
									<th data-field="cliDataStatusStr">Status</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /Modal Client -->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		$(function() {
			$('#t1-type').select2({width: '100%'});
			$('#clientSelector').select2({ width: '100%' });
			
			function initDropdownCurr() {
				return $.ajax({
					type: 'GET', global: false, dataType: 'json',
					url: /*[[@{/static-data/dropdown-currency}]]*/
				});
			}
			initDropdownCurr().done(function(data) {
				$('#t1-curr').select2({width: '100%', data: data});
				$('#t1-curr').val($('#t1-curr option:first-child').val()).trigger('change');
			});
			
			function initDropdownPayMthd() {
				return $.ajax({
					type: 'GET', global: false, dataType: 'json',
					url: /*[[@{/static-data/dropdown-paymentMethod}]]*/
				});
			}
			initDropdownPayMthd().done(function(data) {
				$('#t1-paymentMethod').select2({width: '100%', data: data});
				$('#t1-paymentMethod').val($('#t1-paymentMethod option:first-child').val()).trigger('change');
			});
			
			function initDropdownOfficer() {
				return $.ajax({
					type: 'GET', global: false, dataType: 'json',
					url: /*[[@{/static-data/dropdown-officer}]]*/
				});
			}
			initDropdownOfficer().done(function(data) {
				$('#t1-officer').select2({width: '100%', data: data});
				$('#t1-officer').val($('#t1-officer option:first-child').val()).trigger('change');
			});
			
			$('#t1-type').val('N').trigger('change');
		});
		
		new AutoNumeric('#t1-share', {
			currencySymbol : '%',
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    decimalPlaces : '4',
		    maximumValue : '100',
		    minimumValue : '0',
		    currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.suffix
		});
		AutoNumeric.getAutoNumericElement('#t1-share').set('100.0000');
		
		new AutoNumeric('#t1-exchangeRate', {
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    decimalPlaces : '2',
		    maximumValue : '99999.00',
		    minimumValue : '0'
		});
		AutoNumeric.getAutoNumericElement('#t1-exchangeRate').set('0.00');
		
		new AutoNumeric('#t1-usdRate', {
		    decimalCharacter : '.',
		    digitGroupSeparator : ',',
		    decimalPlaces : '2',
		    maximumValue : '99999.00',
		    minimumValue : '0'
		});
		AutoNumeric.getAutoNumericElement('#t1-usdRate').set('0.00');
		
		$('#t1-insuredPeriod').datepicker({
			dateFormat: 'dd/mm/yy',
			changeMonth: true,
			changeYear: true
		});
		$('#t1-insuredPeriodTo').datepicker({
			dateFormat: 'dd/mm/yy',
			changeMonth: true,
			changeYear: true
		});
		$('#t1-reinsuredPeriod').datepicker({
			dateFormat: 'dd/mm/yy',
			changeMonth: true,
			changeYear: true
		});
		$('#t1-reinsuredPeriodTo').datepicker({
			dateFormat: 'dd/mm/yy',
			changeMonth: true,
			changeYear: true
		});

		$('#t1-btnInsuredPeriod').click(function(){
			$('#t1-insuredPeriod').datepicker('show');
		});
		$('#t1-btnInsuredPeriodTo').click(function(){
			$('#t1-insuredPeriodTo').datepicker('show');
		});
		$('#t1-btnReinsuredPeriod').click(function(){
			$('#t1-reinsuredPeriod').datepicker('show');
		});
		$('#t1-btnReinsuredPeriodTo').click(function(){
			$('#t1-reinsuredPeriodTo').datepicker('show');
		});
		
		$('#t1-insuredPeriod').change(function() {		
			$('#t1-insuredPeriodTo').datepicker('option', 'minDate', $('#t1-insuredPeriod').val());
		});
		
		$('#t1-reinsuredPeriod').change(function() {		
			$('#t1-reinsuredPeriodTo').datepicker('option', 'minDate', $('#t1-reinsuredPeriod').val());
		});
		
		$('#tableClient').on('click-row.bs.table',function(e, row, $tr) {
			$('#t1-client').val(row.cliCode);
			$('#t1-clientDesc').val(row.cliName).trigger('change');
			$('#client-modal').modal('hide');
		});
		
		$('#t1-clientDesc').change(function() {
			$('#t7-client').val($('#t1-client').val());
			$('#t7-clientDesc').val($('#t1-clientDesc').val());
		});
		
		$('#t1-btnCloseClientModal').click(function() {
			$('#t1-client').val('');
			$('#t1-clientDesc').val('').trigger('change');
		});
			
		$('#t1-btnClientSearch').click(function() {			
			$('#clientFilterValue').val('');
			$('#clientSelector').val('cliName').trigger('change');
			
			var url = /*[[@{/static-data/client}]]*/;
			url = url + "?cliType=1";
			$('#tableClient').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: url
			});
		});
		
		function clientFilteredSearch() {
			var url = /*[[@{/static-data/client}]]*/;
			var filterKey = $("#clientSelector").select2('val');
			var filterValue = $("#clientFilterValue").val();
			
			url = url + "?cliType=1";
			if(filterValue != "")
				url = url + "&filterKey="+filterKey+"&filterValue="+filterValue;
			
			$('#tableClient').bootstrapTable('refreshOptions', {
			    theadClasses: 'thead-dark',
			    url: url
			});
		}
		
		$('#t1-curr').change(function() {
			setExchange();
		});
		
		function setExchange() {
			var url = /*[[@{/static-data/exchangeNonEom}]]*/;
			var appDate = /*[[${appDate}]]*/;
			
			$.ajax({
		        url: url + "?date=" + appDate + "&curr=" + $('#t1-curr').val(),
		    }).then(function(data) {
		    	AutoNumeric.getAutoNumericElement('#t1-exchangeRate').set(data);
		    });
		}
		
		$('#t1-type').change(function() {
			var table;
			var type = $('#t1-type option:selected').val();
			if(type === 'P') {
				$('#iiProportional').attr('hidden', false);
				$('#iiNonProportional').attr('hidden', true);
				$('#t4-layerQs').val($('#t2-p-quotaShare').val()).trigger('change');
				
				reinsProp();
				
				$('#value-proportional').attr('hidden', false);
				$('#value-nonproportional').attr('hidden', true);
				
				$('#view-nonproportional').attr('hidden', true);
				
				table = $('#t2-p-addTable').bootstrapTable('getData');
			}else {
				$('#iiProportional').attr('hidden', true);
				$('#iiNonProportional').attr('hidden', false);
				$('#t4-layerQs').val($('#t2-p-layer').val()).trigger('change');
				
				reinsNonProp();
				
				$('#value-proportional').attr('hidden', true);
				$('#value-nonproportional').attr('hidden', false);
				
				$('#view-nonproportional').attr('hidden', false);
				
				table = $('#t2-n-addTable').bootstrapTable('getData');
			}
			
			updateDropdownGroup(table);
			updateDropdownLayerQs(table);
		});
		
		function reinsProp() {
			$('#re-proportional').attr('hidden', false);
			$('#re-nonproportional').attr('hidden', true);
			
			$('#t4-addTable').bootstrapTable('hideColumn', 'group');
			$('#t4-addTable').bootstrapTable('showColumn', 'cob');
		}
		
		function reinsNonProp() {
			$('#re-proportional').attr('hidden', true);
			$('#re-nonproportional').attr('hidden', false);
			
			$('#t4-addTable').bootstrapTable('hideColumn', 'cob');
			$('#t4-addTable').bootstrapTable('showColumn', 'group');
		}
		
		/*]]>*/
		</script>
	</th:block>
</body>

</html>
