<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<th:block th:fragment="interest-insured-tab">
		<div id="cart" class="card mb-3">
			<div class="card-body">
				<div id="iiProportional" hidden="true">
				<div class="row">
					<div class="col-md-12">
						<table id="t2-p-addTable" data-toggle="table" data-unique-id="id">
							<thead>
								<tr>
									<th data-field="id" data-visible="false">id</th>
									<th data-field="groupId" data-visible="false">Group Id</th>
									<th data-field="group">Group</th>
									<th data-field="quotaShare">Quota Share</th>
									<th data-field="classOfBusinessId" data-visible="false">Class Of Business Id</th>
									<th data-field="classOfBusiness">Class Of Business</th>
									<th data-field="basicCover" data-visible="false">Basic Cover</th>
									<th data-field="multiple" data-halign="right" data-align="right">Multiple</th>
									<th data-field="ownRisk" data-halign="right" data-align="right">Own Risk</th>
									<th data-field="limit" data-halign="right" data-align="right">Limit</th>
									<th data-field="remarks" data-visible="false">Remarks</th>
									<th data-field="action">Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			
				<br>
			
				<div class="card mb-3">
					<div class="card-body">
					
					<div class="row">
						<div class="col-md-4">
							<label>*Group</label><br> <select name="t2-p-group" id="t2-p-group" 
								class="form-control" required>
								<option value=""></option>
							</select>
						</div>
						<div class="col-md-4">
							<label>*COB</label><br> <select name="t2-p-cob" id="t2-p-cob"
								class="form-control" required>
								<option value=""></option>
							</select>
						</div>
						<div class="col-md-4">
							<label>Basic Cover</label><br> <input type="text" name="t2-p-basicCover" id="t2-p-basicCover" 
								class="form-control" />
						</div>
					</div>
					
					<br>
						
					<div class="row">
						<div class="col-md-2">
							<label>*Quota Share</label><br> <select name="t2-p-quotaShare" id="t2-p-quotaShare" 
								class="form-control" required>
								<option value="QS">QS</option>
								<option value="SP 1">SP 1</option>
								<option value="SP 2">SP 2</option>
								<option value="SP 3">SP 3</option>
								<option value="SP 4">SP 4</option>
								<option value="SP 5">SP 5</option>
							</select>
						</div>
						<div class="col-md-2">
							<label>*Multiple</label><br> <input type="text" name="t2-p-multiple" id="t2-p-multiple" 
								class="form-control" style="text-align: right;" required />
						</div>
						<div class="col-md-3">
							<label>*Own Retention</label><br> <input type="text" name="t2-p-ownRetention" id="t2-p-ownRetention" 
								class="form-control" style="text-align: right;" required />
						</div>
						<div class="col-md-3">
							<label>*Limit</label><br> <input type="text" name="t2-p-limit" id="t2-p-limit" 
								class="form-control" style="text-align: right;" required />
						</div>
					</div>
						
					<br>
						
					<div class="row justify-content-center">
						<div class="col-md-1">
							<button id="t2-p-add" class="btn btn-success col-md-12"
								onclick="t2PAdd()">Add</button>
						</div>
					</div>
				</div>
				</div>
				
				<br>
				
				<div class="row">				
					<div class="col-md-12">
						<label>Remarks</label><br>
						<textarea class="form-control" id="t2-p-remarks" name="t2-p-remarks" rows="4"></textarea>
					</div>
				</div>
				</div>
			
				<div id="iiNonProportional" hidden="true">
				<div class="row">
					<div class="col-md-12">
						<table id="t2-n-addTable" data-toggle="table" data-unique-id="id">
							<thead>
								<tr>
									<th data-field="id" data-visible="false">id</th>
									<th data-field="groupId" data-visible="false">Group Id</th>
									<th data-field="group">Group</th>
									<th data-field="layer">Layer</th>
									<th data-field="cobId" data-visible="false">COB Id</th>
									<th data-field="cob">COB</th>
									<th data-field="basicCover" data-visible="false">Basic Cover</th>
									<th data-field="limit" data-halign="right" data-align="right">Limit</th>
									<th data-field="deductible" data-halign="right" data-align="right">Deductible</th>
									<th data-field="xolRate" data-halign="right" data-align="right">Rate XOL</th>
									<th data-field="reinstatement" data-halign="right" data-align="right">Reinstatement</th>
									<th data-field="reinstatement1" data-halign="right" data-align="right" data-visible="false">Reinstatement 1</th>
									<th data-field="reinstatement2" data-halign="right" data-align="right" data-visible="false">Reinstatement 2</th>
									<th data-field="estOgnrpi" data-halign="right" data-align="right">Est. OGNRPI</th>
									<th data-field="deposit" data-halign="right" data-align="right">Deposit (%)</th>
									<th data-field="maxAcceptance" data-visible="false">Max Acceptance</th>
									<th data-field="action" data-halign="center" data-align="center">Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			
				<br>
			
				<div class="card mb-3">
					<div class="card-body">
					
					<div class="row">
						<div class="col-md-4">
							<label>*Group</label><br> <select name="t2-n-group" id="t2-n-group" 
								class="form-control" required>
								<option value=""></option>
							</select>
						</div>
						<div class="col-md-4">
							<label>*Class Of Business</label><br> <select name="t2-n-cob" id="t2-n-cob"
								class="form-control" required>
								<option value=""></option>
							</select>
						</div>
						<div class="col-md-4">
							<label>Basic Cover</label><br> <input type="text" name="t2-n-basicCover" id="t2-n-basicCover" 
							class="form-control" />
						</div>
					</div>
					
					<br>
						
					<div class="row">
						<div class="col-md-2">
							<label>*Layer</label><br> <select name="t2-n-layer" id="t2-n-layer" 
								class="form-control" required>
								<option value="Subs Layer">Subs Layer</option>
								<option value="1st Layer">1st Layer</option>
								<option value="2nd Layer">2nd Layer</option>
								<option value="3rd Layer">3rd Layer</option>
								<option value="4th Layer">4th Layer</option>
								<option value="5th Layer">5th Layer</option>
							</select>
						</div>
						<div class="col-md-3">
							<label>*Limit</label><br> <input type="text" name="t2-n-limit" id="t2-n-limit" 
								class="form-control" style="text-align: right;" required />
						</div>
						<div class="col-md-3">
							<label>*Deductible (U/R)</label><br> <input type="text" name="t2-n-deductible" id="t2-n-deductible" 
								class="form-control" style="text-align: right;" required />
						</div>
						<div class="col-md-2">
							<label>*Reinstatement</label><br> 
							<div class="input-group">
								<input type="text" name="t2-n-reinstatement1" id="t2-n-reinstatement1" 
									class="form-control" style="text-align: right;" required />
								&nbsp;
								<input type="text" name="t2-n-reinstatement2" id="t2-n-reinstatement2" 
									class="form-control" style="text-align: right;" required />
							</div>
						</div>
						<div class="col-md-2">
							<label>*XOL Rate (%)</label><br> <input type="text" name="t2-n-xolRate" id="t2-n-xolRate" 
								class="form-control" style="text-align: right;" required />
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<div class="col-md-2">
							<label>*Deposit (%)</label><br> <input type="text" name="t2-n-deposit" id="t2-n-deposit" 
								class="form-control" style="text-align: right;" required />
						</div>
						<div class="col-sm-3">
							<label>*Est. OGNRPI</label><br> <input type="text" name="t2-n-estOgnrpi" id="t2-n-estOgnrpi" 
								class="form-control" style="text-align: right;" required />
						</div>
						<div class="col-md-3">
							<label>*Max. Acceptance</label><br> <input type="text" name="t2-n-maxAcceptance" id="t2-n-maxAcceptance" 
								class="form-control" style="text-align: right;" required />
						</div>
					</div>
						
					<br>
						
					<div class="row justify-content-center">
						<div class="col-md-1">
							<button id="t2-n-add" class="btn btn-success col-md-12"
								onclick="t2NAdd()">Add</button>
						</div>
					</div>
				</div>
				</div>
				
				<br>
				
				<div class="row">				
					<div class="col-md-12">
						<label>Remarks</label><br>
						<textarea class="form-control" id="t2-n-remarks" name="t2-n-remarks" rows="4"></textarea>
					</div>
				</div>
				
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				
			$(function() {
				$('#t2-p-group').select2({width: '100%'});
				$('#t2-p-cob').select2({width: '100%'});
				$('#t2-p-quotaShare').select2({width: '100%'});
				$('#t2-n-group').select2({width: '100%'});
				$('#t2-n-cob').select2({width: '100%'});
				$('#t2-n-layer').select2({width: '100%'});	
				
				var urlParam = /*[[@{/static-data/dropdown-param}]]*/;
				rest('GET', urlParam + '?parentCode=COBGROUP').done(function(data) {
					$('#t2-p-group').select2({
						width : '100%',
						data : data
					});
					$('#t2-n-group').select2({
						width : '100%',
						data : data
					});
				});
				
				var urlCOB = /*[[@{/marketing/treaty-production/get-dropdownTypeOfCover}]]*/;
				rest('GET', urlCOB).done(function(data) {
					$('#t2-p-cob').select2({
						width : '100%',
						data : data
					});
					$('#t2-n-cob').select2({
						width : '100%',
						data : data
					});
				});
				
				$('#t2-p-quotaShare').val('QS').trigger('change');
				$('#t2-n-layer').val('1st Layer').trigger('change');
			});
			
			new AutoNumeric('#t2-p-multiple', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '9999.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-p-multiple').set('1.00');
			
			new AutoNumeric('#t2-p-ownRetention', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '999999999999999999.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-p-ownRetention').set('0.00');
			
			new AutoNumeric('#t2-p-limit', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '999999999999999999.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-p-limit').set('0.00');
			
			new AutoNumeric('#t2-n-limit', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '999999999999999999.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-n-limit').set('0.00');
			
			new AutoNumeric('#t2-n-deductible', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '999999999999999999.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-n-deductible').set('0.00');
			
			new AutoNumeric('#t2-n-reinstatement1', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '100.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-n-reinstatement1').set('0.00');
			
			new AutoNumeric('#t2-n-reinstatement2', {
				currencySymbol : '%',
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    decimalPlaces : '4',
			    maximumValue : '100',
			    minimumValue : '0',
			    currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.suffix
			});
			AutoNumeric.getAutoNumericElement('#t2-n-reinstatement2').set('0.0000');
			
			new AutoNumeric('#t2-n-xolRate', {
				currencySymbol : '%',
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    decimalPlaces : '4',
			    maximumValue : '100',
			    minimumValue : '0',
			    currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.suffix
			});
			AutoNumeric.getAutoNumericElement('#t2-n-xolRate').set('0.0000');
			
			new AutoNumeric('#t2-n-deposit', {
				currencySymbol : '%',
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    decimalPlaces : '4',
			    maximumValue : '100',
			    minimumValue : '0',
			    currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.suffix
			});
			AutoNumeric.getAutoNumericElement('#t2-n-deposit').set('0.0000');
			
			new AutoNumeric('#t2-n-estOgnrpi', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '999999999999999999.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-n-estOgnrpi').set('0.00');
			
			new AutoNumeric('#t2-n-maxAcceptance', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '999999999999999999.00',
			    minimumValue : '0'
			});
			AutoNumeric.getAutoNumericElement('#t2-n-maxAcceptance').set('0.00');
			
			function t2PAdd() {
				var valReq = validationRequiredAddPT2();
				
				if(valReq.length>0) {
					alert('Please fill : '+ valReq + '.');
					
					return null;
				}
				
				var id = create_UUID();
				var groupId = $('#t2-p-group option:selected').val();
				var group = $('#t2-p-group option:selected').html();
				var quotaShare = $('#t2-p-quotaShare option:selected').val();
				var cobId = $('#t2-p-cob option:selected').val();
				var cob = $('#t2-p-cob option:selected').html();
				var basicCover = $('#t2-p-basicCover').val();
				var limit = $('#t2-p-limit').val();
				var multiple = $('#t2-p-multiple').val();
				var ownRisk = $('#t2-p-ownRetention').val();
				
				var action = "<button class=\"btn btn-danger\" onclick=\"t2PRemoveAdd('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
				var compositeId = groupId + quotaShare;
				var t2Data = {
					id : id,
					compositeId: compositeId,
					groupId : groupId,
					group : group,
					quotaShare : quotaShare,
					classOfBusinessId : cobId,
					classOfBusiness : cob,
					basicCover: basicCover,
					limit : limit,
					multiple : multiple,
					ownRisk : ownRisk,
					action : action
				};
								
				var t2Table = $('#t2-p-addTable').bootstrapTable('getData');
				
				t2Table.push(t2Data);
				
				loadPropIITable(t2Table);
				
				$('#t2-p-group').val(null).trigger('change');
				$('#t2-p-cob').val(null).trigger('change');
				$('#t2-p-basicCover').val('');
				$('#t2-p-quotaShare').val('QS').trigger('change');
				AutoNumeric.getAutoNumericElement('#t2-p-multiple').set('1.00');
				AutoNumeric.getAutoNumericElement('#t2-p-ownRetention').set('0.00');
				AutoNumeric.getAutoNumericElement('#t2-p-limit').set('0.00');
				
				var table = $('#t2-p-addTable').bootstrapTable('getData')
				updateDropdownGroup(table);
				updateDropdownLayerQs(table);
				
				//========== ADD T5 TABLE ==========//
				var t5ValueII = {
					id: id,
					groupId: groupId,
					group: group,
					cobId: cobId,
					cob: cob,
					layer: quotaShare,
					multiple: multiple,
					ownRetention: ownRisk,
					limit: limit
				};
				
				calculateValueInterestProp(t5ValueII);
			}
			
			function t2NAdd() {
				var valReq = validationRequiredAddNT2();
				
				if(valReq.length>0) {
					alert('Please fill : '+ valReq + '.');
					
					return null;
				}
				
				var id = create_UUID();
				var groupId = $('#t2-n-group option:selected').val();
				var group = $('#t2-n-group option:selected').html();
				var layer = $('#t2-n-layer option:selected').val();
				var cobId = $('#t2-n-cob option:selected').val();
				var cob = $('#t2-n-cob option:selected').html();
				var basicCover = $('#t2-n-basicCover').val();
				var limit = $('#t2-n-limit').val();
				var deductible = $('#t2-n-deductible').val();
				var reinstatement1 = $('#t2-n-reinstatement1').val();
				var reinstatement2 = $('#t2-n-reinstatement2').val().replace('%','');
				var reinstatement = formatter_2.format(reinstatement1).replace('$', '') + '@' + formatter_4.format(reinstatement2).replace('$', '');
				var xolRate = $('#t2-n-xolRate').val().replace('%','');
				var deposit = $('#t2-n-deposit').val().replace('%','');
				var estOgnrpi = $('#t2-n-estOgnrpi').val();
				var maxAcceptance = $('#t2-n-maxAcceptance').val();
				
				var action = "<button class=\"btn btn-danger\" onclick=\"t2NRemoveAdd('"+id+"')\">" 
				+ "<i class=\"fa fa-trash\"></i>" 
				+ "</button>";
				
				var compositeId = groupId + layer;
				var t2Data = {
					id : id,
					compositeId: compositeId,
					groupId : groupId,
					group : group,
					layer : layer,
					cobId : cobId,
					cob : cob,
					basicCover: basicCover,
					limit : limit,
					deductible : deductible,
					reinstatement : reinstatement,
					reinstatement1 : reinstatement1,
					reinstatement2 : reinstatement2,
					xolRate : xolRate,
					deposit : deposit,
					estOgnrpi : estOgnrpi,
					maxAcceptance : maxAcceptance,
					xolReas : xolRate,		//default value
   					depositReas : deposit,	//default value
					action : action
				};
								
				var t2Table = $('#t2-n-addTable').bootstrapTable('getData');
				
				t2Table.push(t2Data);
				
				loadNonPropIITable(t2Table);
				
				$('#t2-n-group').val(null).trigger('change');
				$('#t2-n-cob').val(null).trigger('change');
				$('#t2-n-basicCover').val('');
				$('#t2-n-layer').val('1st Layer').trigger('change');
				AutoNumeric.getAutoNumericElement('#t2-n-limit').set('0.00');
				AutoNumeric.getAutoNumericElement('#t2-n-deductible').set('0.0000');
				AutoNumeric.getAutoNumericElement('#t2-n-reinstatement1').set('0.00');
				AutoNumeric.getAutoNumericElement('#t2-n-reinstatement2').set('0.00');
				AutoNumeric.getAutoNumericElement('#t2-n-xolRate').set('0.00');
				AutoNumeric.getAutoNumericElement('#t2-n-deposit').set('0.00');
				AutoNumeric.getAutoNumericElement('#t2-n-estOgnrpi').set('0.00');
				AutoNumeric.getAutoNumericElement('#t2-n-maxAcceptance').set('0.00');
				
				//========== ADD T5 TABLE ==========//
				var dataT5 = {
					id: compositeId,
					groupId: groupId,
					group: group,
					layer: layer,
					limit: limit,
					deductible: deductible,
					xolRate: xolRate,
					reinstatement: reinstatement,
					reinstatement1: reinstatement1,
					reinstatement2: reinstatement2,
					estOgnrpi: estOgnrpi,
					depositPct: formatter_2.format(deposit).replace('$', '')
				};				
				
				calculateValueInterestNoProp(dataT5);
				
				var table = $('#t2-n-addTable').bootstrapTable('getData')
				updateDropdownGroup(table);
				updateDropdownLayerQs(table);
			}
			
			function validationRequiredAddPT2() {
				var field = [];
				
				var group = $('#t2-p-group option:selected').val();
				if(!group.trim())
					field.push("Group");
				
				var cob = $('#t2-p-cob option:selected').val();
				if(!cob.trim())
					field.push("COB");
				
				var quotaShare = $('#t2-p-quotaShare option:selected').val();
				if(!quotaShare.trim())
					field.push("Quota Share");
				
				var multiple = $('#t2-p-multiple').val();
				if(multiple == "")
					field.push("Multiple");
				
				var ownRetention = $('#t2-p-ownRetention').val();
				if(ownRetention == "")
					field.push("Own Retention");
				
				var limit = $('#t2-p-limit').val();
				if(limit == "")
					field.push("Limit");
				
				return field;
			}
			
			function validationRequiredAddNT2() {
				var field = [];
				
				var group = $('#t2-n-group option:selected').val();
				if(!group.trim())
					field.push("Group");
				
				var cob = $('#t2-n-cob option:selected').val();
				if(!cob.trim())
					field.push("Class Of Business");
				
				var layer = $('#t2-n-layer option:selected').val();
				if(!layer.trim())
					field.push("Layer");
				
				var limit = $('#t2-n-limit').val();
				if(limit == "")
					field.push("Limit");
				
				var deductible = $('#t2-n-deductible').val();
				if(deductible == "")
					field.push("Deductible (U/R)");
				
				var reinstatement1 = $('#t2-n-reinstatement1').val();
				var reinstatement2 = $('#t2-n-reinstatement2').val();
				if(reinstatement1 == "" || reinstatement2 == "")
					field.push("Reinstatement");
				
				var xolRate = $('#t2-n-xolRate').val();
				if(xolRate == "")
					field.push("XOL Rate (%)");
				
				var deposit = $('#t2-n-deposit').val();
				if(deposit == "")
					field.push("Deposit (%)");
				
				var estOgnrpi = $('#t2-n-estOgnrpi').val();
				if(estOgnrpi == "")
					field.push("Est. OGNRPI");
				
				var maxAcceptance = $('#t2-n-maxAcceptance').val();
				if(maxAcceptance == "")
					field.push("Max. Acceptance");
				
				return field;
			}
			
			function t2PRemoveAdd(id) {				
				var t5II = $('#t2-p-addTable').bootstrapTable('getRowByUniqueId', id);
				$('#t2-p-addTable').bootstrapTable('removeByUniqueId', id);			
				
				if(t5II.quotaShare === 'QS') {
					var t5Table1 = $('#t5-2-addTable').bootstrapTable('getData');
					for(var i=0; i<t5Table1.length; i++) {
						if(t5Table1[i].layer !== 'QS' && t5Table1[i].groupId === t5II.groupId && t5Table1[i].cobId === t5II.classOfBusinessId) {
							t5Table1[i].limit = formatter_2.format(0).replace('$', '');
							$('#t5-2-addTable').bootstrapTable('updateByUniqueId', {
								id: t5Table1[i].id, 
								row: t5Table1[i]
							});		
						}
					}
				}
				
				$('#t5-2-addTable').bootstrapTable('removeByUniqueId', id);
				
				var t2Table = $('#t2-p-addTable').bootstrapTable('getData');
				updateDropdownGroup(t2Table);
				updateDropdownLayerQs(t2Table);
			}
			
			function t2NRemoveAdd(id) {
				var t5II = $('#t2-n-addTable').bootstrapTable('getRowByUniqueId', id);
				var compositeId = t5II.groupId + t5II.layer;
				
				$('#t2-n-addTable').bootstrapTable('removeByUniqueId', id);
				var t2Table = $('#t2-n-addTable').bootstrapTable('getData');
				
				var isExists = t2Table.inArray(function(e) { 
				    return e.compositeId === compositeId; 
				});
				
				if(isExists) {
					var t5Value = $('#t5-addTable').bootstrapTable('getRowByUniqueId', compositeId);
					var sumLimit = parseFloat(t5Value.limit.replace(/,/g, "")) - parseFloat(t5II.limit.replace(/,/g, ""));
					t5Value.limit = formatter_2.format(sumLimit).replace('$', '');
					
					var sumDeductible = parseFloat(t5Value.deductible.replace(/,/g, "")) - parseFloat(t5II.deductible.replace(/,/g, ""));
					t5Value.deductible = formatter_2.format(sumDeductible).replace('$', '');
					
					var sumXolRate = parseFloat(t5Value.xolRate.replace(/,/g, "")) - parseFloat(t5II.xolRate.replace(/,/g, ""));
					t5Value.xolRate = formatter_4.format(sumXolRate).replace('$', '');
					
					var sumReinstatement1 = parseFloat(t5Value.reinstatement1.replace(/,/g, "")) - parseFloat(t5II.reinstatement1.replace(/,/g, ""));
					t5Value.reinstatement1 = formatter_2.format(sumReinstatement1).replace('$', '');
					
					var sumReinstatement2 = parseFloat(t5Value.reinstatement2.replace(/,/g, "")) - parseFloat(t5II.reinstatement2.replace(/,/g, ""));
					t5Value.reinstatement2 = formatter_2.format(sumReinstatement2).replace('$', '');
					
					t5Value.reinstatement = formatter_2.format(t5Value.reinstatement1).replace('$', '') + '@' + formatter_4.format(t5Value.reinstatement2).replace('$', '');

					var sumEstOgnrpi = parseFloat(t5Value.estOgnrpi.replace(/,/g, "")) - parseFloat(t5II.estOgnrpi.replace(/,/g, ""));
					t5Value.estOgnrpi = formatter_2.format(sumEstOgnrpi).replace('$', '');
					
					var premiumT5 = sumEstOgnrpi * (sumXolRate/100);
					t5Value.premium = formatter_2.format(premiumT5).replace('$', '');
					
					var sumDepositPct = parseFloat(t5Value.depositPct.replace(/,/g, "")) - parseFloat(t5II.deposit.replace(/,/g, ""));
					t5Value.depositPct = formatter_2.format(sumDepositPct).replace('$', '');
					
					var depositT5 = premiumT5 * (sumDepositPct/100.00);
					t5Value.deposit = formatter_2.format(depositT5).replace('$', '');
					
					var rol = premiumT5 / sumLimit;
					t5Value.rol = formatter_4.format(rol).replace('$', '');
					
					$('#t5-addTable').bootstrapTable('updateByUniqueId', {
						id: compositeId, 
						row: t5Value
					});
				}else {
					$('#t5-addTable').bootstrapTable('removeByUniqueId', compositeId);
				}
				
				updateDropdownGroup(t2Table);
				updateDropdownLayerQs(t2Table);
				recalculateValueIINoProp();
				recalculateValueReinsNoProp();
			}
			
			function updateDropdownGroup(table) {
				var listGroup = [];
				var listCover = [];
				
				for(var i=0; i<table.length; i++) {
					var group = {
						id: table[i].groupId,
						text: decodeEntities(table[i].group)
					}
					
					listGroup.pushIfNotExist(group, function(e) { 
					    return e.name === group.name && e.text === group.text; 
					});
					
					var type = $('#t1-type option:selected').val();					
					var iiCobId;
					var iiCob;
					if(type == 'P') {
						iiCobId = table[i].classOfBusinessId;
						iiCob = table[i].classOfBusiness;
					}else {
						iiCobId = table[i].cobId;
						iiCob = table[i].cob;
					}
						
					var cover = {
						id: iiCobId,
						text: decodeEntities(iiCob)
					}
					
					listCover.pushIfNotExist(cover, function(e) { 
					    return e.name === cover.name && e.text === cover.text; 
					});
				}
				
				listGroup.sort(compareValueDropdown);
				
				if(listGroup.length>0) {
					var data = {
						id: '',
						text: ''
					};
					
					listGroup.unshift(data);
				}
				
				listCover.sort(compareValueDropdown);
				
				if(listCover.length>0) {
					var data = {
						id: '',
						text: ''
					};
					
					listCover.unshift(data);
				}
				
				$('#t4-group').empty();
				$('#t4-group').select2({ width : '100%', data : listGroup});
				$('#t4-group').val(null).trigger('change');
				
				$('#t4-cob').empty();
				$('#t4-cob').select2({ width : '100%', data : listCover});
				$('#t4-cob').val(null).trigger('change');
				
				$('#t6-group-cob').empty();
				$('#t6-group-cob').select2({ width : '100%', data : listGroup});
				$('#t6-cob').empty();
				$('#t6-cob').select2({ width : '100%', data : listCover});
			}
			
			function updateDropdownLayerQs(table) {
				var listLayerQs = [];
				
				for(var i=0; i<table.length; i++) {
					var type = $('#t1-type option:selected').val();
					var layerQs;
					
					if(type == 'P')
						layerQs = decodeEntities(table[i].quotaShare);
					else
						layerQs = decodeEntities(table[i].layer);
					
					var data = {
						id: layerQs,
						text: layerQs
					}
					
					listLayerQs.pushIfNotExist(data, function(e) { 
					    return e.name === data.name && e.text === data.text; 
					});
				}
				
				listLayerQs.sort(compareValueDropdown);
				
				if(listLayerQs.length>0) {
					var data = {
						id: '',
						text: ''
					};
					
					listLayerQs.unshift(data);
				}
				
				$('#t4-layerQs').empty();
				$('#t4-layerQs').select2({ width : '100%', data : listLayerQs});
				$('#t4-layerQs').val(null).trigger('change');
			}
			
			function decodeEntities(encodedString) {
			    var textArea = document.createElement('textarea');
			    textArea.innerHTML = encodedString;
			    
			    return textArea.value;
			}
			
			function loadPropIITable(dataList) {
				dataList.sort(compareValuePropII);
				$('#t2-p-addTable').bootstrapTable('load', dataList);
			}
			
			function loadNonPropIITable(dataList) {
				dataList.sort(compareValueNonPropII);
				$('#t2-n-addTable').bootstrapTable('load', dataList);
			}
			
			function compareValuePropII(a, b) {
				  const group1 = a.group.toUpperCase();
				  const group2 = b.group.toUpperCase();

				  if(group1 > group2)
				    return 1;
				  else if (group1 < group2)
				    return -1;
				  
				  const qs1 = a.quotaShare.toUpperCase();
				  const qs2 = b.quotaShare.toUpperCase();
				  
				  if(qs1 > qs2)
					return 1;
				  else if (qs1 < qs2)
				    return -1;
				  
				  const cob1 = a.classOfBusiness.toUpperCase();
				  const cob2 = b.classOfBusiness.toUpperCase();
				  
				  if(cob1 > cob2)
					return 1;
				  else if (cob1 < cob2)
				    return -1;
				  
				  return 0;
			}
			
			function compareValueNonPropII(a, b) {
				  const group1 = a.group.toUpperCase();
				  const group2 = b.group.toUpperCase();

				  if(group1 > group2)
				    return 1;
				  else if (group1 < group2)
				    return -1;
				  
				  const layer1 = a.layer.toUpperCase();
				  const layer2 = b.layer.toUpperCase();
				  
				  if(layer1 > layer2)
					return 1;
				  else if (layer1 < layer2)
				    return -1;
				  
				  const cob1 = a.cob.toUpperCase();
				  const cob2 = b.cob.toUpperCase();
				  
				  if(cob1 > cob2)
					return 1;
				  else if (cob1 < cob2)
				    return -1;
				  
				  return 0;
			}
			
			/*]]>*/
		</script>
	</th:block>

</body>


</html>
