<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<th:block th:fragment="value-tab">
		<div class="card mb-3">
			<div class="card-body">
				<div id="value-nonproportional">
					<div class="row">
						<div class="col-md-12">
							<table id="t5-addTable" data-toggle="table" data-sortable="true"
								data-unique-id="id">
								<thead>
									<tr>
										<th data-field="id" data-visible="false">id</th>
										<th data-field="group">Group</th>
										<th data-field="layer">Layer</th>
										<th data-field="limit" data-halign="right" data-align="right">Limit</th>
										<th data-field="deductible" data-halign="right" data-align="right">Deductible</th>
										<th data-field="xolRate" data-halign="right" data-align="right">XOL Rate (%)</th>
										<th data-field="reinstatement" data-halign="right" data-align="right">Reinstatement</th>
										<th data-field="premium" data-halign="right" data-align="right">Premium</th>
										<th data-field="deposit" data-halign="right" data-align="right">Deposit</th>
										<th data-field="rol" data-halign="right" data-align="right">ROL (%)</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<div class="col-md-2">
							<label>Reinsurance</label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<table id="t5-addTable2" data-toggle="table" data-sortable="true"
								data-unique-id="id">
								<thead>
									<tr>
										<th data-field="id" data-visible="false">id</th>
										<th data-field="group">Group</th>
										<th data-field="layer">Layer</th>
										<th data-field="reinsurance">Reinsurance</th>
										<th data-field="share" data-halign="right" data-align="right">Share</th>
										<th data-field="riComm" data-halign="right" data-align="right">R/I Comm</th>
										<th data-field="premium" data-halign="right" data-align="right">Premium</th>
										<th data-field="riCommAmount" data-halign="right" data-align="right">R/I Comm Amount</th>
										<th data-field="payToUW" data-halign="right" data-align="right">Pay to U/W</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				
				<div id="value-proportional">
					<div class="row">
						<div class="col-md-12">
							<table id="t5-2-addTable" data-toggle="table" data-sortable="true" data-unique-id="id">
								<thead>
									<tr>
										<th data-field="id" data-visible="false">id</th>
										<th data-field="groupId" data-visible="false">Group Id</th>
										<th data-field="group">Group</th>
										<th data-field="cobId" data-visible="false">COB Id</th>
										<th data-field="cob">COB</th>
										<th data-field="layer">Layer Q/S</th>
										<th data-field="multiple" data-halign="right" data-align="right">Multiple</th>
										<th data-field="ownRetention" data-halign="right" data-align="right">Own Retention</th>
										<th data-field="limit" data-halign="right" data-align="right">Limit</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<div class="col-md-2">
							<label>Reinsurance</label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<table id="t5-2-addTable2" data-toggle="table" data-sortable="true" data-unique-id="id">
								<thead>
									<tr>
										<th data-field="id" data-visible="false">id</th>
										<th data-field="cobId" data-visible="false">COB Id</th>
										<th data-field="cob">COB</th>
										<th data-field="layer">Layer Q/S</th>
										<th data-field="reinsuranceId" data-visible="false">Reinsurance Id</th>
										<th data-field="reinsurance">Reinsurance</th>
										<th data-field="share" data-halign="right" data-align="right">Share (%)</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			
			//========== NON PROPORTIONAL VALUE ==========//
			function calculateValueInterestNoProp(dataT5) {
				var compositeId = dataT5.groupId + dataT5.layer;
				
				var xolRateNum = parseFloat(dataT5.xolRate.replace(/,/g, ""));
				var estOgnrpiNum = parseFloat(dataT5.estOgnrpi.replace(/,/g, ""));
				var depositNum = parseFloat(dataT5.depositPct.replace(/,/g, ""));
				var limitNum = parseFloat(dataT5.limit.replace(/,/g, ""));
				
				var premiumT5 = estOgnrpiNum * (xolRateNum/100.00);
				var depositT5 = premiumT5 * (depositNum/100.00);
				var rolT5 = premiumT5/limitNum * 100;
				
				dataT5.premium = formatter_2.format(premiumT5).replace('$', '');
				dataT5.deposit = formatter_2.format(depositT5).replace('$', ''); 
				dataT5.rol = formatter_4.format(rolT5).replace('$', '');
				
				var t5Value = $('#t5-addTable').bootstrapTable('getRowByUniqueId', compositeId);
				
				if(t5Value == null) {	//insert
					var t5Table1 = $('#t5-addTable').bootstrapTable('getData');
					t5Table1.push(dataT5);
					loadNonPropValueTable(t5Table1);
				}else {					//update
					var sumLimit = parseFloat(t5Value.limit.replace(/,/g, "")) + parseFloat(dataT5.limit.replace(/,/g, ""));
					t5Value.limit = formatter_2.format(sumLimit).replace('$', '');
					
					var sumDeductible = parseFloat(t5Value.deductible.replace(/,/g, "")) + parseFloat(dataT5.deductible.replace(/,/g, ""));
					t5Value.deductible = formatter_2.format(sumDeductible).replace('$', '');
					
					var sumXolRate = parseFloat(t5Value.xolRate.replace(/,/g, "")) + parseFloat(dataT5.xolRate.replace(/,/g, ""));
					t5Value.xolRate = formatter_4.format(sumXolRate).replace('$', '');
					
					var sumReinstatement1 = parseFloat(t5Value.reinstatement1.replace(/,/g, "")) + parseFloat(dataT5.reinstatement1.replace(/,/g, ""));
					t5Value.reinstatement1 = formatter_2.format(sumReinstatement1).replace('$', '');
					
					var sumReinstatement2 = parseFloat(t5Value.reinstatement2.replace(/,/g, "")) + parseFloat(dataT5.reinstatement2.replace(/,/g, ""));
					t5Value.reinstatement2 = formatter_2.format(sumReinstatement2).replace('$', '');
					
					t5Value.reinstatement = formatter_2.format(t5Value.reinstatement1).replace('$', '') + '@' + formatter_4.format(t5Value.reinstatement2).replace('$', '');

					var sumEstOgnrpi = parseFloat(t5Value.estOgnrpi.replace(/,/g, "")) + parseFloat(dataT5.estOgnrpi.replace(/,/g, ""));
					t5Value.estOgnrpi = formatter_2.format(sumEstOgnrpi).replace('$', '');
					
					var premiumT5 = sumEstOgnrpi * (sumXolRate/100);
					t5Value.premium = formatter_2.format(premiumT5).replace('$', '');
					
					var sumDepositPct = parseFloat(t5Value.depositPct.replace(/,/g, "")) + parseFloat(dataT5.depositPct.replace(/,/g, ""));
					t5Value.depositPct = formatter_2.format(sumDepositPct).replace('$', '');
					
					var depositT5 = premiumT5 * (sumDepositPct/100.00);
					t5Value.deposit = formatter_2.format(depositT5).replace('$', '');
					
					var rol = premiumT5 / sumLimit * 100;
					t5Value.rol = formatter_4.format(rol).replace('$', '');
					
					$('#t5-addTable').bootstrapTable('updateByUniqueId', {
						id: compositeId, 
						row: t5Value
					});
				}
				
				recalculateValueIINoProp();
				recalculateValueReinsNoProp();
			};
			
			function calculateValueReinsNoProp(t5ValueReins) {
				var groupId = t5ValueReins.groupId;
				var layer = t5ValueReins.layer;
				var compositeId = groupId + layer;
				var t5ValueII = $('#t5-addTable').bootstrapTable('getRowByUniqueId', compositeId);
				
				var reas = getXolReasAndDepositReas(groupId, layer);
				var xolReasNum = reas.xolReas;
				var depositReasNum = reas.depositReas;
				
				var sumEstOgnrpiByGroup = getEstOgnrpiByGroupId(groupId);
				if(layer === 'Subs Layer')
					sumEstOgnrpiByGroup = parseFloat(t5ValueII.estOgnrpi.replace(/,/g, ""));
				
				var premium = sumEstOgnrpiByGroup * (xolReasNum/100.00);
				var deposit = premium * (depositReasNum/100.00);
				
				var sharePct = parseFloat(t5ValueReins.share.replace(/,/g, ""));
				var riCommPct = parseFloat(t5ValueReins.riComm.replace(/,/g, ""));
				var premiumAmt = deposit * (sharePct/100);

				var riCommAmt = premiumAmt * (riCommPct/100);
				var payToUWAmt = premiumAmt - riCommAmt;
				
				t5ValueReins.premium = formatter_2.format(premiumAmt).replace('$', '');
				t5ValueReins.riCommAmount = formatter_2.format(riCommAmt).replace('$', '');
				t5ValueReins.payToUW = formatter_2.format(payToUWAmt).replace('$', '');

				var t5Table2 = $('#t5-addTable2').bootstrapTable('getData');
				t5Table2.push(t5ValueReins);
				loadNonPropValue2Table(t5Table2);
			};
			
			function recalculateValueIINoProp() {
				var valueList = [];
				var t5Table1 = $('#t5-addTable').bootstrapTable('getData');
				for(var i=0; i<t5Table1.length; i++) {
					var value = Object.assign({}, t5Table1[i]);
					
					var limitNum = parseFloat(t5Table1[i].limit.replace(/,/g, ""))
					var xolRateNum = parseFloat(t5Table1[i].xolRate.replace(/,/g, ""));
					var depositNum = parseFloat(t5Table1[i].depositPct.replace(/,/g, ""))
					
					var layer = t5Table1[i].layer;
					var sumEstOgnrpiByGroup = getEstOgnrpiByGroupId(t5Table1[i].groupId);
					if(layer === 'Subs Layer')
						sumEstOgnrpiByGroup = parseFloat(t5Table1[i].estOgnrpi.replace(/,/g, ""));
					
					var premiumT5 = sumEstOgnrpiByGroup * (xolRateNum/100.00);
					var depositT5 = premiumT5 * (depositNum/100.00);
					var rolT5 = premiumT5/limitNum * 100;
					
					value.premium = formatter_2.format(premiumT5).replace('$', '');
					value.deposit = formatter_2.format(depositT5).replace('$', ''); 
					value.rol = formatter_4.format(rolT5).replace('$', '');
					
					valueList.push(value);
				}

				loadNonPropValueTable(valueList);
			}
			
			function recalculateValueReinsNoProp() {
				var valueList = [];
				var t5Table2 = $('#t5-addTable2').bootstrapTable('getData');
				for(var i=0; i<t5Table2.length; i++) {
					var value = Object.assign({}, t5Table2[i]);
					
					var groupId = t5Table2[i].groupId;
					var layer = t5Table2[i].layer;
					var compositeId = groupId + layer;
					var t5ValueII = $('#t5-addTable').bootstrapTable('getRowByUniqueId', compositeId);
					
					var reas = getXolReasAndDepositReas(groupId, layer);
					var xolReasNum = reas.xolReas;
					var depositReasNum = reas.depositReas;
					
					var sumEstOgnrpiByGroup = getEstOgnrpiByGroupId(groupId);
					if(layer === 'Subs Layer')
						sumEstOgnrpiByGroup = parseFloat(t5ValueII.estOgnrpi.replace(/,/g, ""));
					
					var premium = sumEstOgnrpiByGroup * (xolReasNum/100.00);
					var deposit = premium * (depositReasNum/100.00);
					
					var sharePct = parseFloat(t5Table2[i].share.replace(/,/g, ""));
					var riCommPct = parseFloat(t5Table2[i].riComm.replace(/,/g, ""));
					var premiumAmt = deposit * (sharePct/100);
					var riCommAmt = premiumAmt * (riCommPct/100);
					var payToUWAmt = premiumAmt - riCommAmt;
					
					value.premium = formatter_2.format(premiumAmt).replace('$', '');
					value.riCommAmount = formatter_2.format(riCommAmt).replace('$', '');
					value.payToUW = formatter_2.format(payToUWAmt).replace('$', '');
					
					valueList.push(value);
				}
			
				loadNonPropValue2Table(valueList);
			}
			
			function getEstOgnrpiByGroupId(groupId) {
				var sumEstOgnrpi = 0.00;
				var t5Table1 = $('#t5-addTable').bootstrapTable('getData');
				for(var i=0; i<t5Table1.length; i++) {
					if(t5Table1[i].groupId === groupId)
						sumEstOgnrpi = sumEstOgnrpi + parseFloat(t5Table1[i].estOgnrpi.replace(/,/g, ""));
				}
				
				return sumEstOgnrpi;
			}
			
			function getXolReasAndDepositReas(groupId, layer) {
				var xolReas = 0.00;
				var depositReas = 0.00;
				
				var t2Table = $('#t2-n-addTable').bootstrapTable('getData');
				for(var i=0; i<t2Table.length; i++) {
					if(t2Table[i].groupId === groupId && t2Table[i].layer === layer) {
						xolReas += parseFloat(t2Table[i].xolReas.replace(/,/g, ""));
						depositReas += parseFloat(t2Table[i].depositReas.replace(/,/g, ""));
					}
				}
				
				var result = new Object();
				result.xolReas = xolReas;
				result.depositReas = depositReas;
				
				return result;
			}
			
			//========== PROPORTIONAL VALUE ==========//
			
			function calculateValueInterestProp(t5ValueII) {
				var limit = 0.00;
				
				var t5Table1 = $('#t5-2-addTable').bootstrapTable('getData');
				if(t5ValueII.layer !== 'QS') {
					for(var i=0; i<t5Table1.length; i++) {
						if(t5Table1[i].layer === 'QS' && t5Table1[i].groupId === t5ValueII.groupId && t5Table1[i].cobId === t5ValueII.cobId) {
							limit = parseFloat(t5Table1[i].limit.replace(/,/g, "")) * parseFloat(t5ValueII.multiple.replace(/,/g, ""));
							break;
						}
					}
				}else if(t5ValueII.layer === 'QS') {
					limit = parseFloat(t5ValueII.limit.replace(/,/g, ""));
					for(var i=0; i<t5Table1.length; i++) {
						if(t5Table1[i].layer !== 'QS' && t5Table1[i].groupId === t5ValueII.groupId && t5Table1[i].cobId === t5ValueII.cobId) {
							var limitNum = parseFloat(t5Table1[i].multiple.replace(/,/g, "")) * parseFloat(t5ValueII.limit.replace(/,/g, ""));
							t5Table1[i].limit = formatter_2.format(limitNum).replace('$', '');
							$('#t5-addTable').bootstrapTable('updateByUniqueId', {
								id: t5Table1[i].id, 
								row: t5Table1[i]
							});
						}
					}
				}		
				t5ValueII.limit = formatter_2.format(limit).replace('$', '');
				
				t5Table1.push(t5ValueII);
				loadPropValueTable(t5Table1);
			};
			
			function calculateValueReinsProp(t5ValueReins) {
				var t5Table2 = $('#t5-2-addTable2').bootstrapTable('getData');
				t5Table2.push(t5ValueReins);
				loadPropValue2Table(t5Table2);
			};
			
			function loadNonPropValueTable(dataList) {
				dataList.sort(compareValueForSort);
				$('#t5-addTable').bootstrapTable('load', dataList);
			}
			
			function loadNonPropValue2Table(dataList) {
				dataList.sort(compareValueForSort);
				$('#t5-addTable2').bootstrapTable('load', dataList);
			}
			
			function loadPropValueTable(dataList) {
				dataList.sort(compareValueForSort);
				$('#t5-2-addTable').bootstrapTable('load', dataList);
			}
			
			function loadPropValue2Table(dataList) {
				dataList.sort(compareValueForSort);
				$('#t5-2-addTable2').bootstrapTable('load', dataList);
			}
			
			/*]]>*/
		</script>
	</th:block>

</body>

</html>


