<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
	<th:block th:replace="fragments/import :: info-header" />
	<th:block th:replace="fragments/import :: css-header" />
	<th:block th:replace="fragments/import :: js-header" />
</head>



<body id="page-top">
	<th:block th:replace="fragments/general :: navbar-header" />

	<div id="wrapper">
		<th:block th:replace="fragments/general :: menu" />

		<div id="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="fragments/general :: panel-page" />


				<!-- CONTENT PAGE -->
				<div id="cart" class="card mb-3">
					<div id="divContentHeader" class="card-header">
						<b><span id="titlePage" th:text="${titlePage}"></span></b>
					</div>
					<div class="card-body">
						<div id="userManagementIndex">
							<br>
							<div class="row">
								<div class="col-md-12" align="right">
									<button class="btn btn-primary col-sm-1" type="button" onclick="create()">
										Create
									</button>
								</div>

							</div>

							</br>
							<table id="tableUser" data-unique-id="idKey" data-toolbar-align="right" data-toggle="table"
								data-sortable="true" data-url="" data-side-pagination="server" data-pagination="true"
								data-page-size="5" data-page-list="[5, 10, 25, 50, ALL]">
								<thead>
									<tr>
										<th data-field="idKey">Id</th>
										<th data-field="usCode" data-sortable="true">User ID</th>
										<th data-field="usName" data-sortable="true">User Name</th>
										<th data-field="unitStr" data-sortable="true">Unit</th>
										<th data-field="status" data-sortable="true">Status</th>
										<th data-field="action" data-halign="center" data-align="center">Action</th>
									</tr>
								</thead>
							</table>
						</div>


						<div id="userEditChildForm" hidden>
							<div id="alertSuccess" class="alert alert-success" style="display: none;">
								<strong>Success!</strong> <span id="alertSuccessMsg" th:text="${M_0005}"></span>
							</div>
							<div id="alertFailed" class="alert alert-danger" style="display: none;">
								<strong>Failed!</strong> <span id="alertFailedMsg"></span>
							</div>
							<div class="row justify-content-end">
								<div class="col-md-2">
									<button class="btn btn-danger col-md-12" onclick="back()">
										<i class="fa fa-chevron-left"></i> Back
									</button>
								</div>
							</div>
							</br>

							<div class="row">
								<input type="text" name="idKey" id="idKey" class="form-control col-md-12"
									required="true" hidden />
								<div class="col-md-2">
									<label>User ID</label> </br> <input type="text" name="userId" id="userId"
										class="form-control col-md-12" required="true" />
								</div>
								<div class="col-md-2">
									<label>User Name</label> </br> <input type="text" name="userName" id="userName"
										class="form-control col-md-12" required="true" />
								</div>
								<div class="col-md-2">
									<label>Group</label> </br> <select name="group" id="group"
										class="form-control col-md-12" required="true">
									</select>
								</div>
								<div class="col-md-2">
									<label>Level</label> </br> <select name="level" id="level"
										class="form-control col-md-12" required="true">
									</select>
								</div>
							</div>
							<br>
							<br>
							<div class="row">
								<div class="col-md-2">
									<label>Unit</label> </br> <select name="unit" id="unit"
										class="form-control col-md-12" required="true">
									</select>
								</div>
								<div class="col-md-2">
									<label>Status</label> </br> <select name="status" id="status"
										class="form-control col-md-12" required="true">
									</select>
								</div>
								<div class="col-md-2">
									<label>Created Date</label> </br> <input type="text" name="createdDate"
										id="createdDate" class="form-control col-md-12" required="true" disabled />
								</div>
							</div>
							<br>
							<br>
							<div class="row">
								<div class="col-md-4">
									<label>Email</label> </br> <input type="text" name="email" id="email"
										class="form-control col-md-12" required="true" />
								</div>
								<div class="col-md-2">
									<label>Expired Date</label> </br>
									<div class="input-group">
										<input id="expiredDate" name="expiredDate" type="text" class="form-control">
										<div class="input-group-append">
											<button id='btnExpiredDate' class="btn btn-primary" type="button">
												<i class="fas fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<br><br>
							<div class="form-group" align="center">
								<div class="col-md-12" align="center">
									<button class="btn btn-success col-sm-1" id="btnSave">Save</button>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<button class="btn btn-dark col-sm-1" id="btnCancel">Cancel</button>
								</div>
							</div>
							</br> </br>

						</div>
					</div>

				</div>

				<div class="modal fade" id="roleUpModal" tabindex="-1" role="dialog" aria-labelledby="roleUpModal"
					aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="roleUpModalLabel">Role Up</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<div class="row card-body justify-content-end">
									<div class="col-md-3">
										<select id="roleUpSelector" name="roleUpSelector" class="custom-select">
											<option value="paParentCode">Code</option>
											<option value="paParentDesc">Name</option>
										</select>
									</div>

								</div>
								<br>
								<table id="tableRoleUp" data-toggle="table" data-url="" data-height="400"
									data-sortable="true" data-side-pagination="server" data-pagination="true"
									data-page-size="5" data-page-list="[5, 10, 25, 50, ALL]">
									<thead>
										<tr>
											<th data-field="paParentCode" data-sortable="true">Code</th>
											<th data-field="paParentDesc" data-sortable="true">Name</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- end of container -->


		</div>
		<!-- /.container-fluid -->
		<th:block th:replace="fragments/general :: copyright-footer"></th:block>
	</div>
	<!-- /.content-wrapper -->

	<!-- /#wrapper -->
	<th:block th:replace="fragments/modal :: confirmation-save" />
	<th:block th:replace="fragments/general :: scroll-to-top" />
	<th:block th:replace="fragments/general :: logout-modal" />
	<th:block th:replace="fragments/import :: js-body" />

</body>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var rowNow;
	var dateObject;
	$('document').ready(function () {
		
		$('#btnExpiredDate').click(function () {
			$('#expiredDate').datepicker('show');
		});

		

		$('#createdDate').change(function () {
			$('#expiredDate').datepicker('option', 'minDate', $('#createdDate').val());
		});

		$('#btnModalYes').click(function () {
			save();
		});
		$('#btnModalNo').click(function () {
			$('#btnSave').removeAttr('disabled');
		});
		$('#btnCancel').click(function () {
			$('#titlePage').text(/*[[${titlePage}]]*/);
			$('#userManagementIndex').removeAttr('hidden');
			$('#userEditChildForm').attr('hidden', true);
		});
		$('#tableUser').bootstrapTable('hideColumn', 'idKey');
		$('#tableUserChild').bootstrapTable('hideColumn', 'idKey');
		$('#tableUser').bootstrapTable('refreshOptions', {
			theadClasses: 'thead-dark',
			url: /*[[@{/static-data/usermanagement/inquiry}]]*/
		});

		$('#btnSave').click(function () {
			$('#btnSave').attr('disabled', true);
			$('#modalConfirmation').modal('show');
		});
		rest('GET', '/gui-re-broker/static-data/usermanagement/dropdown')
			.done(function (data) {
				if (data.length == 0) {
					data.push({ id:/*[[${group}]]*/, text:/*[[${group}]]*/});
				}
				$('#group').select2({
					width: '100%',
					data: data
				});
			});

		rest('GET', '/gui-re-broker/static-data/usermanagement/userleveldropdown')
			.done(function (data) {
				if (data.length == 0) {
					data.push({ id:/*[[${level}]]*/, text:/*[[${level}]]*/});
				}
				$('#level').select2({
					width: '100%',
					data: data
				});
			});

		rest('GET', '/gui-re-broker/static-data/usermanagement/mpldropdown')
			.done(function (data) {
				if (data.length == 0) {
					data.push({ id:/*[[${unit}]]*/, text:/*[[${unit}]]*/});
				}
				$('#unit').select2({
					width: '100%',
					data: data
				});
			});

		rest('GET', '/gui-re-broker/static-data/usermanagement/stdatadropdown')
			.done(function (data) {
				if (data.length == 0) {
					data.push({ id:/*[[${status}]]*/, text:/*[[${status}]]*/});
				}
				$('#status').select2({
					width: '100%',
					data: data
				});
			});
	});

	function reset() {
		$('#btnAdd').attr('disabled', true);
	}
	function save() {
		var idKey = $('#idKey').val();
		var userId = $('#userId').val();
		var userName = $('#userName').val();
		var group = $('#group').val();
		var level = $('#level').val();
		var status = $('#status').val();
		var unit = $('#unit').val();
		var email = $('#email').val();
		var createdDate = $('#createdDate').val();
		var expiredDate = $('#expiredDate').val();
		var data = {
			idKey: idKey,
			userId: userId,
			userName: userName,
			groupId: group,
			level: level,
			unit: unit,
			status: status,
			email: email,
			createdDate: createdDate,
			expiredDate: expiredDate
		}

		$.ajax({
			type: "POST",
			dataType: "json",
			contentType: "application/json",
			data: JSON.stringify(data),
			url: "/gui-re-broker/static-data/usermanagement/save",
			complete: function (jqXHR, textStatus) {

				if (textStatus == "success") {
					showAlertSuccess();

				} else {
					showAlertFailed(/*[[${M_0006}]]*/);
				}
			}
		});
		$('#titlePage').text(/*[[${titlePage}]]*/);
		$('#userEditChildForm').removeAttr('hidden');
		$('#userCreateForm').attr('hidden', true);
	}

	function back() {
		$('#titlePage').text(/*[[${titlePage}]]*/);
		$('#userManagementIndex').removeAttr('hidden');
		$('#userEditChildForm').attr('hidden', true);
	}
	function edit(id) {
		row = $('#tableUser').bootstrapTable('getRowByUniqueId', id);
		$('#titlePage').text(/*[[${titlePageEdit}]]*/);
		$('#userEditChildForm').removeAttr('hidden');
		$('#userManagementIndex').attr('hidden', true);
		$('#userId').attr('disabled', true);
		$('#userName').attr('disabled', true);
		$('#createdDate').attr('disabled', true);
		$('#userId').val(row.usCode);
		$('#idKey').val(row.idKey);
		$('#userName').val(row.usName);
		$('#group').select2().val(row.groupId).trigger("change");
		console.log(row.usUnit);
		$('#level').select2().val(row.usLevel).trigger("change");
		$('#unit').select2().val(row.usUnit).trigger("change");
		$('#status').select2().val(row.usStatus).trigger("change");
		$('#createdDate').val(row.parseDateCreate);

		var dateString = $('#createdDate').val();
		var dateParts = dateString.split("/");

		dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]); 
		console.log(dateObject);

		$('#expiredDate').datepicker({
			dateFormat: 'dd/mm/yy',
			changeMonth: true,
			changeYear: true,
			minDate: dateObject
		});
		
		$('#email').val(row.usEmail);
		$('#expiredDate').val(row.parseDateExpired);
	}
	function create() {
		$('#titlePage').text(/*[[${titlePageCreate}]]*/);
		$('#tableUserChild tbody > tr').empty();
		$('#userEditChildForm').removeAttr('hidden');
		$('#userManagementIndex').attr('hidden', true);
		$('#userId').removeAttr('disabled');
		$('#userName').removeAttr('disabled');
		$('#userId').val("");
		$('#idKey').val("");
		$('#group').select2().val("ADMIN002").trigger("change");
		$('#level').select2().val("0").trigger("change");
		$('#unit').select2().val("0").trigger("change");
		$('#status').select2().val("2").trigger("change");
		$('#userName').val("");
		$('#email').val("");

		var d = new Date();
		var curr_date = d.getDate();
		var curr_month = d.getMonth();
		var curr_year = d.getFullYear();;
		var now = curr_date + "/" + curr_month + "/" + curr_year;
		$('#createdDate').val(now);

		var dateString = $('#createdDate').val();
		var dateParts = dateString.split("/");

		dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]); 
		console.log(dateObject);

		$('#expiredDate').datepicker({
			dateFormat: 'dd/mm/yy',
			changeMonth: true,
			changeYear: true,
			minDate: dateObject
		});
		var x = new Date();
		x.setDate(x.getDate() + 90);
		var ecurr_date = x.getDate();
		var ecurr_month = x.getMonth();
		var ecurr_year = x.getFullYear();;
		var exp = ecurr_date + "/" + ecurr_month + "/" + ecurr_year;
		$('#expiredDate').val(exp);
	}

	function inquiryChild(userId) {
		var url = /*[[@{/static-data/usermanagement/inquiryChild}]]*/;
		url = url + '?userId=' + userId;

		$('#tableUserChild').bootstrapTable('refreshOptions', {
			theadClasses: 'thead-dark',
			url: url
		});
	}

	function showAlertSuccess() {
		$('#btnModalyes').removeAttr('disabled');
		$('#alertSuccess').fadeTo(2000, 500).slideUp(500, function () {
			$('#alertSuccess').slideUp(500);
			location.reload();
		});
	}

	function showAlertFailed(msgAlert) {
		$('#alertFailedMsg').text(msgAlert);
		$('#alertFailed').fadeTo(3000, 500).slideUp(500, function () {
			$('#alertFailed').slideUp(500);
			$('#btnSave').removeAttr('disabled')
		});
	}

</script>

</html>