<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<th:block th:fragment="claims-tab">
		<div class="card mb-3">
			<div class="card-body">
			
				<div class="row">
					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">
								<label>Lost Date</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group">
									<input id="t2LostDate" name="t2LostDate" type="text" class="form-control" disabled>
									<div class="input-group-append">
										<button id='btnt2LostDate' class="btn btn-primary" type="button">
											<i class="fas fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">
								<label>Advice Date</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group">
									<input id="t2AdviceDate" name="t2AdviceDate" type="text" class="form-control"
										disabled>
									<div class="input-group-append">
										<button id='btnt2AdviceDate' class="btn btn-primary" type="button">
											<i class="fas fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<label>U/W Reff.</label> <br>
						<input type="text" class="form-control col-md-12" id="t2UwReff">
					</div>
					<div class="col-md-3">
						<label>Max Days of Claim Finished</label> <br>
						<input type="text" class="form-control col-md-12" id="t2MaxDaysClaim" 
						style="text-align: right;" placeholder="0">
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-12">
					<label>Cause</label><br>
					<textarea class="form-control" id="t2Cause" name="t2Cause" rows="5"></textarea>
					</div>
				</div>
				
				<br>
				
				<div class="row">
					<div class="col-md-12">
					<label>Location</label><br>
					<textarea class="form-control" id="t2Details" name="t2Details" rows="6"></textarea>
					</div>
				</div>

			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
			new AutoNumeric('#t2MaxDaysClaim', {
			    decimalCharacter : '.',
			    digitGroupSeparator : ',',
			    maximumValue : '999',
			    minimumValue : '0',
				decimalPlaces : '0'
			});
		
			$('#t2LostDate').datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true
			});
			$('#t2AdviceDate').datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true
			});
			
			$('#btnt2LostDate').click(function(){
				$('#t2LostDate').datepicker('show');
			});
			$('#btnt2AdviceDate').click(function(){
				$('#t2AdviceDate').datepicker('show');
			});
		</script>
	</th:block>

</body>


</html>